Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2023-10, with the labels that each got.

#868 Icons auto update 20231002.1
  common/icons/all-icons.htm
  common/icons/assignment-even-h32.png
  common/icons/assignment-even.png
  common/icons/assignment-leastopen-h32.png
  common/icons/assignment-leastopen.png
  common/icons/assignment-noassignment-h32.png
  common/icons/assignment-noassignment.png
  common/icons/assignment-weighted-h32.png
  common/icons/assignment-weighted.png
  common/icons/gauge-h32.png
  common/icons/gauge.png
  common/icons/large/column-bar-h32.png
  common/icons/large/column-bar.png
  common/icons/nav-admin-requests-active-h32.png
  common/icons/nav-admin-requests-active.png
  common/icons/nav-admin-requests-h32.png
  common/icons/nav-admin-requests.png
  common/icons/nav-admin-saint-active-h32.png
  common/icons/nav-admin-saint-active.png
  common/icons/nav-admin-saint-h32.png
  common/icons/nav-admin-saint.png
  common/icons/nav-dashboard-h32.png
  common/icons/nav-dashboard.png
  common/icons/pref-request-active-h32.png
  common/icons/pref-request-active.png
  common/icons/pref-request-h32.png
  common/icons/pref-request.png
  common/icons/singlecolour/link-h32.png
  common/icons/singlecolour/link.png
  common/icons/spinner-h32.png
  common/icons/spinner.png
  common/icons/stacked-area-h32.png
  common/icons/stacked-area.png
Labels: doc-enhancement

#869 Icons auto update 20231002.2
  common/icons/all-icons.htm
  common/icons/appointment-search-h32.png
  common/icons/appointment-search.png
Labels: doc-enhancement

#875 Developer portal 1.14 - widgets
  docs/en/developer-portal/best-practices/error-emails.md
  docs/en/developer-portal/best-practices/media/endpoint-per-envir.png
  docs/en/developer-portal/create-app/config/app-config.md
  docs/en/developer-portal/create-app/config/index.md
  docs/en/developer-portal/create-app/config/media/erp-config.png
  docs/en/developer-portal/create-app/config/media/mirror-config.png
  docs/en/developer-portal/create-app/media/accountpage.png
  docs/en/developer-portal/create-app/media/messaging-center-layout.png
  docs/en/developer-portal/create-app/mirror-app.md
  docs/en/developer-portal/create-app/sync-app.md
  docs/en/developer-portal/faq/format-text.md
  docs/en/developer-portal/faq/media/endpoint-toggle.png
  docs/en/developer-portal/faq/turn-off-mirroring.md
  docs/en/developer-portal/includes/has-integration.md
  docs/en/developer-portal/index.yml
  docs/en/developer-portal/media/create-support-ticket.png
  docs/en/developer-portal/media/partner-overview.png
  docs/en/developer-portal/partner/edit-user.md
  docs/en/developer-portal/partner/media/user-page.png
  docs/en/developer-portal/partner/update-profile.md
  docs/en/developer-portal/partner/user-settings.md
  docs/en/developer-portal/provisioning/get-consent.md
  docs/en/developer-portal/provisioning/media/superid-approve.png
  docs/en/developer-portal/toc.yml
  docs/en/developer-portal/widgets/index.md
  docs/en/developer-portal/widgets/media/add-widget.png
  docs/en/developer-portal/widgets/media/dp-dashboard.png
  docs/en/developer-portal/widgets/media/home-empty.png
  docs/en/developer-portal/widgets/media/onboarding-widget.png
  docs/en/developer-portal/widgets/media/remove-widget.png
Labels: doc-enhancement, online-dev, developer-portal

#881 Icons auto update 20231013.1
  common/icons/all-icons.htm
  common/icons/plus-h32.png
  common/icons/plus.png
  common/icons/resources-h32.png
  common/icons/resources.png
  common/icons/uncolored-svg/ops-h32.png
  common/icons/uncolored-svg/ops.png
  common/icons/uncolored-svg/videocall-h32.png
  common/icons/uncolored-svg/videocall.png
  common/icons/visible-all-h32.png
  common/icons/visible-all.png
  common/icons/visible-group-h32.png
  common/icons/visible-group.png
  common/icons/visible-me-h32.png
  common/icons/visible-me.png
Labels: doc-enhancement

#884 #877 Release notes for 10.2.9
  release-notes/10.2/index.md
  release-notes/10.2/service/10.2.9-update.md
  release-notes/10.2/service/index.md
  release-notes/10.2/service/media/request-add-person-button.png
  release-notes/10.2/service/media/request-add-person-dialog.png
  release-notes/10.2/toc.yml
  release-notes/index.md
Labels: release-notes

#883 Revise invitation update, receive, and response; add anchor in notifications
  docs/da/diary/learn/invitation/receive.md
  docs/da/diary/learn/invitation/response.md
  docs/da/diary/learn/invitation/update.md
  docs/da/learn/basics/notifications.md
  docs/de/diary/learn/invitation/receive.md
  docs/de/diary/learn/invitation/response.md
  docs/de/diary/learn/invitation/update.md
  docs/de/learn/basics/notifications.md
  docs/en/diary/learn/invitation/receive.md
  docs/en/diary/learn/invitation/response.md
  docs/en/diary/learn/invitation/update.md
  docs/en/learn/basics/notifications.md
  docs/media/loc/en/diary/invitation.png
  docs/nl/diary/learn/invitation/receive.md
  docs/nl/diary/learn/invitation/response.md
  docs/nl/diary/learn/invitation/update.md
  docs/nl/learn/basics/notifications.md
  docs/no/diary/learn/invitation/receive.md
  docs/no/diary/learn/invitation/response.md
  docs/no/diary/learn/invitation/update.md
  docs/no/learn/basics/notifications.md
  docs/sv/diary/learn/invitation/receive.md
  docs/sv/diary/learn/invitation/response.md
  docs/sv/diary/learn/invitation/update.md
  docs/sv/learn/basics/notifications.md
Labels: learn

#888 Update SPF info
  docs/en/email/mailgun/spf/set-up.md
Labels: doc-enhancement

#886 878 OMT missing documents
  docs/en/online/migrate/documents-migration.md
  docs/en/online/toc.yml
Labels: onsite, integration

#890 Update Migrate from Microsoft 365 Document Integration (legacy)
  docs/en/document/cloud/sharepoint-documents/migrate/index.md
Labels: integration

#893 Update initial-watchcom-eval.md
  docs/en/developer-portal/standard-app/certification/initial-watchcom-eval.md
Labels: online-dev

#897 Added missing information
  docs/en/automation/crmscript/reference/CRMScript.Native.Message.yml
Labels: doc-bug, crmscript

#895 Idp remove unwated page
  docs/en/identity-management/superid/idp-and-doc-handling.md
  docs/en/identity-management/superid/index.yml
  docs/en/identity-management/superid/overview.md
  docs/en/identity-management/toc.yml
Labels: doc-enhancement

#900 Update dev portal partner and app images and videos
  docs/en/developer-portal/standard-app/app-store/images-and-videos.md
Labels: developer-portal

#908 Docs for crmscript trigger on outbox
  docs/en/automation/crmscript/toc.yml
  docs/en/automation/crmscript/tutorials/crmscript-trigger-outbox.md
  docs/en/automation/trigger/reference/CRMScript.Event.Trigger.yml
Labels: crmscript
