Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2023-09, with the labels that each got.

#832 Updated examples for ExtraTable based on forum/issue feedback #831
  docs/en/automation/crmscript/reference/CRMScript.Native.ExtraTable.yml
Labels: crmscript, sample-bug

#841 Remove wrong reference to macos package and auto number list
  docs/en/webtools/learn/install.md
Labels: doc-enhancement

#842 809 onsite https unlayer
  docs/en/mobile/pocket-crm/client-requirements.md
  docs/en/onsite/compatibility/client-os.md
  docs/en/onsite/compatibility/database.md
  docs/en/onsite/compatibility/ms-office.md
  docs/en/onsite/compatibility/oracle.md
  docs/en/onsite/compatibility/server-os.md
  docs/en/onsite/includes/warn-web-client-https.md
  docs/en/onsite/install/database/index.md
  docs/en/onsite/install/web-client/index.md
  docs/en/onsite/requirements/crm-server.md
  docs/en/onsite/requirements/iis.md
  docs/en/onsite/requirements/index.md
  docs/en/onsite/requirements/web-client.md
  docs/en/onsite/security/secure-deployment-guide.md
  docs/en/service/install/index.md
  docs/en/service/install/manual-steps.md
  docs/en/service/install/prepare.md
Labels: onsite

#847 Icons auto update 20230914.1
  common/icons/all-icons.htm
  common/icons/assignment-even-h32.png
  common/icons/assignment-even.png
  common/icons/assignment-leastopen-h32.png
  common/icons/assignment-leastopen.png
  common/icons/assignment-noassignment-h32.png
  common/icons/assignment-noassignment.png
  common/icons/assignment-weighted-h32.png
  common/icons/assignment-weighted.png
  common/icons/block-h32.png
  common/icons/block.png
  common/icons/filter-h32.png
  common/icons/filter.png
  common/icons/gauge-h32.png
  common/icons/gauge.png
  common/icons/large/column-bar-h32.png
  common/icons/large/column-bar.png
  common/icons/nav-admin-requests-active-h32.png
  common/icons/nav-admin-requests-active.png
  common/icons/nav-admin-requests-h32.png
  common/icons/nav-admin-requests.png
  common/icons/nav-admin-saint-active-h32.png
  common/icons/nav-admin-saint-active.png
  common/icons/nav-admin-saint-h32.png
  common/icons/nav-admin-saint.png
  common/icons/nav-dashboard-h32.png
  common/icons/nav-dashboard.png
  common/icons/pref-request-active-h32.png
  common/icons/pref-request-active.png
  common/icons/pref-request-h32.png
  common/icons/pref-request.png
  common/icons/spinner-h32.png
  common/icons/spinner.png
  common/icons/stacked-area-h32.png
  common/icons/stacked-area.png
Labels: doc-enhancement

#851 Update system-requirements for Online
  docs/en/online/system-requirements.md
Labels: doc-enhancement

#850 Update force-resync.md
  docs/en/mirroring/force-resync.md
Labels: doc-bug

#856 #852 SOFO for Onsite
  docs/en/email/superoffice-for-outlook/requirements.md
  docs/en/online/system-requirements.md
Labels: integration

#860 Add 10.2.8 to Onsite history
  docs/en/onsite/version-history.md
Labels: release-notes

#861 Add 10.2.8 to Online history
  docs/en/online/version-history.md
Labels: release-notes

#857 Update config.md
  docs/en/customer-center/learn/config.md
Labels: doc-enhancement, CEP

#848 Status, Project, Sale, TicketType in ticket-table.md
  docs/en/api/bulk-operations/bulk-update/reference/ticket-table.md
Labels: doc-enhancement
