Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2023-06, with the labels that each got.

#715 217 revise request folder
  docs/en/automation/crmscript/parser-and-templates/index.md
  docs/en/automation/crmscript/parser-and-templates/reply-template.md
  docs/en/automation/crmscript/parser.md
  docs/en/automation/crmscript/toc.yml
  docs/en/automation/crmscript/tutorials/using-dialogs-in-triggers.md
  docs/en/company/howto/crmscript/index.md
  docs/en/contact/howto/crmscript/index.md
  docs/en/document/howto/crmscript/doc-templates.md
  docs/en/request/howto/crmscript/accept.md
  docs/en/request/howto/crmscript/add-message.md
  docs/en/request/howto/crmscript/create.md
  docs/en/request/howto/crmscript/delegate.md
  docs/en/request/howto/crmscript/escalate.md
  docs/en/request/howto/crmscript/get-message-info.md
  docs/en/request/howto/crmscript/get-ticket-info.md
  docs/en/request/howto/crmscript/index.md
  docs/en/request/howto/crmscript/messages.md
  docs/en/request/howto/crmscript/reply.md
  docs/en/request/howto/crmscript/request-logs.md
  docs/en/request/howto/crmscript/samples.md
  docs/en/request/howto/crmscript/split-merge.md
  docs/en/request/howto/crmscript/tickets.md
  docs/en/request/howto/index.md
  docs/en/request/index.yml
  docs/en/request/learn/category/index.md
  docs/en/request/learn/index.md
  docs/en/request/overview.md
  docs/en/request/reply-templates/howto/crmscript/index.md
  docs/en/request/reply-templates/index.md
  docs/en/request/reply-templates/learn/template-variables.md
  docs/en/request/reply-templates/system-templates.md
  docs/en/request/toc.yml
  docs/en/sale/howto/crmscript/leads.md
  docs/en/service/index.yml
  docs/en/ui/blogic/custom-screens/view-elements.md
Labels: doc-enhancement

#717 Adding learn-xx.html sitemap generation to build pipeline.
  .github/workflows/build-help-pages.yml
  build/build-learn-html-sitemaps.sh
Labels: docs/build, translation

#718 216 revise project folder
  docs/en/project/howto/crmscript/create.md
  docs/en/project/howto/crmscript/get.md
  docs/en/project/howto/crmscript/guides.md
  docs/en/project/howto/crmscript/index.md
  docs/en/project/howto/crmscript/members.md
  docs/en/project/howto/crmscript/project-guides.md
  docs/en/project/howto/crmscript/project-lifecycle.md
  docs/en/project/howto/crmscript/samples.md
  docs/en/project/howto/crmscript/update.md
  docs/en/project/howto/index.md
  docs/en/project/howto/sql/create.md
  docs/en/project/howto/sql/index.md
  docs/en/project/howto/sql/project-guide.md
  docs/en/project/index.yml
  docs/en/project/media/so-project-tables.gif
  docs/en/project/overview.md
  docs/en/project/toc.yml
Labels: doc-enhancement

#728 699 10.2.6 release notes
  release-notes/10.2/index.md
  release-notes/10.2/mobile/10.2.12-update.md
  release-notes/10.2/mobile/index.md
  release-notes/10.2/mobile/media/mobile-dashboard-drilldown-details.png
  release-notes/10.2/mobile/media/mobile-dashboard-section.png
  release-notes/10.2/service/10.2.6-update.md
  release-notes/10.2/service/index.md
  release-notes/10.2/service/media/request-archive-attachment.png
  release-notes/10.2/service/media/request-close-tabs.png
  release-notes/10.2/service/media/request-find-request-tab-search.png
  release-notes/10.2/toc.yml
  release-notes/index.md
Labels: release-notes

#722 Update toc.yml with the notifications.md ref
  docs/en/learn/basics/notifications.md
  docs/en/learn/basics/toc.yml
  docs/no/learn/basics/notifications.md
  docs/no/learn/basics/toc.yml
Labels: doc-bug

#730 removed line stating SMS mailing is not part of online
  docs/en/marketing/learn/index.md
  docs/no/marketing/learn/index.md
Labels: doc-bug

#732 Add More tab to Sale
  docs/en/custom-objects/learn/udef/index.md
  docs/en/sale/learn/create.md
  docs/en/sale/learn/index.md
  docs/media/loc/en/sale/54-chap7-sale-new.bmp
  docs/media/loc/en/sale/55-chap7-sale-new-details.bmp
  docs/media/loc/en/sale/sale-card.png
  docs/media/loc/en/sale/sale-details.png
  docs/media/loc/en/sale/sale-more.png
  docs/no/custom-objects/learn/udef/index.md
  docs/no/sale/learn/create.md
  docs/no/sale/learn/index.md
Labels: doc-bug, doc-enhancement

#743 #707 Add download link to quote template PDF
  docs/en/document/templates/variables/for-quote-line-with-subscription.md
Labels: doc-enhancement, learn

#729 Revise sale and quote (#218 #219)
  docs/en/project/howto/crmscript/index.md
  docs/en/project/howto/crmscript/samples.md
  docs/en/quote/howto/crmscript/add-alternative.md
  docs/en/quote/howto/crmscript/add-quote-line.md
  docs/en/quote/howto/crmscript/create.md
  docs/en/quote/howto/crmscript/get.md
  docs/en/quote/howto/crmscript/index.md
  docs/en/quote/howto/crmscript/place-order.md
  docs/en/quote/howto/crmscript/price-list.md
  docs/en/quote/howto/crmscript/products.md
  docs/en/quote/howto/crmscript/quote-alternatives.md
  docs/en/quote/howto/crmscript/quote-document.md
  docs/en/quote/howto/crmscript/quote-properties.md
  docs/en/quote/howto/crmscript/samples.md
  docs/en/quote/howto/crmscript/update.md
  docs/en/quote/howto/index.md
  docs/en/quote/howto/toc.yml
  docs/en/quote/index.md
  docs/en/quote/index.yml
  docs/en/quote/overview.md
  docs/en/quote/toc.yml
  docs/en/sale/howto/crmscript/create.md
  docs/en/sale/howto/crmscript/currency.md
  docs/en/sale/howto/crmscript/get.md
  docs/en/sale/howto/crmscript/guides.md
  docs/en/sale/howto/crmscript/index.md
  docs/en/sale/howto/crmscript/lost-or-sold.md
  docs/en/sale/howto/crmscript/pipeline.md
  docs/en/sale/howto/crmscript/samples.md
  docs/en/sale/howto/crmscript/stakeholders.md
  docs/en/sale/howto/crmscript/update.md
  docs/en/sale/howto/entity/index.md
  docs/en/sale/howto/entity/link-sale-to-appointment.md
  docs/en/sale/howto/entity/media/sale-apt-link.png
  docs/en/sale/howto/index.md
  docs/en/sale/howto/services/index.md
  docs/en/sale/howto/services/link-sale-to-appointment.md
  docs/en/sale/howto/sql/stakeholders.md
  docs/en/sale/index.yml
  docs/en/sale/overview.md
  docs/en/sale/saint/counters.md
  docs/en/sale/saint/entity/index.md
  docs/en/sale/saint/howto/row/includes/saint-customsearch.cs
  docs/en/sale/saint/howto/row/index.md
  docs/en/sale/saint/howto/row/search-saint-contactrow-customsearch.md
  docs/en/sale/saint/howto/sql/get-contact-by-saint-value.md
  docs/en/sale/saint/howto/sql/index.md
  docs/en/sale/saint/howto/sql/search-saint-values.md
  docs/en/sale/saint/howto/toc.yml
  docs/en/sale/saint/includes/note-req-saint.md
  docs/en/sale/saint/index.md
  docs/en/sale/saint/learn/index.md
  docs/en/sale/saint/row/index.md
  docs/en/sale/saint/services/index.md
  docs/en/sale/saint/sql/index.md
  docs/en/sale/saint/values.md
  docs/en/sale/toc.yml
Labels: doc-enhancement, crmscript

#733 Add enum PersonGender to CRMScript (#723)
  docs/en/automation/crmscript/reference/CRMScript.NetServer.PersonGender.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.yml
  docs/en/automation/crmscript/reference/toc.yml
Labels: doc-bug, crmscript
