Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2023-11, with the labels that each got.

#914 Update index.md
  docs/en/document/cloud/sharepoint-documents/index.md
Labels: integration

#905 Develop/efasting/add quickstart
  docs/en/api/overview/quickstart.md
  docs/en/api/toc.yml
Labels: rest-api, online-dev

#920 Update configure-superoffice.md
  docs/en/document/cloud/sharepoint-documents/configure-superoffice.md
Labels: doc-bug

#924 Add 10.2.9 Onsite
  docs/en/onsite/version-history.md
Labels: onsite

#930 #921 Updated with release notes from 10.2.10
  release-notes/10.2/admin/10.2.10-update.md
  release-notes/10.2/admin/index.md
  release-notes/10.2/admin/media/admin-time-zone-update.png
  release-notes/10.2/core-crm/index.md
  release-notes/10.2/index.md
  release-notes/10.2/office-integrations/3.2-update.md
  release-notes/10.2/office-integrations/index.md
  release-notes/10.2/service/10.2.10-update.md
  release-notes/10.2/service/index.md
  release-notes/10.2/service/media/admin-global-pref-outbound-email.png
  release-notes/10.2/service/media/company-manage-domains-dlg.png
  release-notes/10.2/service/media/company-task-manage-domains.png
  release-notes/10.2/service/media/request-add-person-button.png
  release-notes/10.2/service/media/request-send-sms.png
  release-notes/10.2/service/media/request-text-format-1line.png
  release-notes/10.2/service/media/request-text-format-2line.png
  release-notes/10.2/toc.yml
  release-notes/index.md
Labels: release-notes

#934 #926 Add EOL section in release notes
  release-notes/eol/index.md
  release-notes/eol/lotus.md
  release-notes/eol/pagebuilder.md
  release-notes/eol/soap.md
  release-notes/eol/toc.yml
  release-notes/toc.yml
Labels: release-notes

#938 932 developer portal 116
  docs/en/developer-portal/about.md
  docs/en/developer-portal/analytics/failures.md
  docs/en/developer-portal/analytics/media/exception-details.png
  docs/en/developer-portal/analytics/media/exception-sample.png
  docs/en/developer-portal/analytics/media/failed-inbound.png
  docs/en/developer-portal/analytics/media/failures.png
  docs/en/developer-portal/analytics/media/usage.png
  docs/en/developer-portal/analytics/metered-services.md
  docs/en/developer-portal/analytics/metrics-performance.md
  docs/en/developer-portal/create-app/config/cors-and-redirection-urls.md
  docs/en/developer-portal/create-app/config/media/allowed-redirects.png
  docs/en/developer-portal/create-app/config/media/app-authentication.png
  docs/en/developer-portal/create-app/config/media/client-secret.png
  docs/en/developer-portal/create-app/config/media/clientid-per-envir.png
  docs/en/developer-portal/create-app/config/media/toggle-advanced.png
  docs/en/developer-portal/create-app/config/update-endpoints.md
  docs/en/developer-portal/create-app/index.md
  docs/en/developer-portal/create-app/media/create-app-wizard.png
  docs/en/developer-portal/create-app/media/enter-app-name.png
  docs/en/developer-portal/create-app/media/enter-redirect-urls.png
  docs/en/developer-portal/create-app/media/erp-integration-points.png
  docs/en/developer-portal/create-app/media/mirror-service-url.png
  docs/en/developer-portal/create-app/media/more-versions.png
  docs/en/developer-portal/create-app/media/redirect-localhost.png
  docs/en/developer-portal/create-app/media/request-publish-stage.png
  docs/en/developer-portal/create-app/media/select-technical-contact.png
  docs/en/developer-portal/create-app/message-center.md
  docs/en/developer-portal/create-app/mirror-app.md
  docs/en/developer-portal/create-app/native-app.md
  docs/en/developer-portal/create-app/request-to-publish.md
  docs/en/developer-portal/create-app/server-to-server-app.md
  docs/en/developer-portal/create-app/sync-app.md
  docs/en/developer-portal/create-app/versioning.md
  docs/en/developer-portal/create-app/web-app.md
  docs/en/developer-portal/includes/list-failure-types.md
  docs/en/developer-portal/media/app-overview.png
  docs/en/developer-portal/media/app-settings.png
  docs/en/developer-portal/media/configuration.png
  docs/en/developer-portal/media/nav-app.png
  docs/en/developer-portal/media/nav-expand-collapse.png
  docs/en/developer-portal/media/nav-partner.png
  docs/en/developer-portal/media/partner-overview.png
  docs/en/developer-portal/media/request-to-publish.png
  docs/en/developer-portal/media/top-bar.png
  docs/en/developer-portal/media/versioning-page.png
  docs/en/developer-portal/standard-app/app-store/media/add-first-link.png
  docs/en/developer-portal/standard-app/app-store/media/app-store-listing.png
  docs/en/developer-portal/standard-app/app-store/media/links.png
  docs/en/developer-portal/standard-app/app-store/media/partner-profile.png
  docs/en/developer-portal/standard-app/app-store/media/prices-and-terms.png
  docs/en/developer-portal/standard-app/app-store/media/recommended-links.png
  docs/en/developer-portal/standard-app/app-store/media/warn-no-links.png
  docs/en/developer-portal/standard-app/app-store/prices-and-terms.md
  docs/en/developer-portal/standard-app/app-store/seo.md
  docs/en/developer-portal/standard-app/app-store/update-app-page.md
  docs/en/developer-portal/standard-app/app-store/update-partner-profile.md
  docs/en/developer-portal/standard-app/app-store/user-guide.md
  docs/en/developer-portal/widgets/index.md
Labels: online-dev, developer-portal

#943 Added CRMScript: forceSaveTrace method
  docs/en/automation/crmscript/reference/CRMScript.Global.Void.yml
Labels: crmscript

#947 Add 10.2.10 Online
  docs/en/online/version-history.md
Labels: onsite

#948 Add 10.2.10 Onsite
  docs/en/onsite/version-history.md
Labels: onsite

#949 Updated with new support for field changes in event
  docs/en/automation/webhook/reference/ticket-events.md
Labels: automation
