Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2023-08, with the labels that each got.

#784 Update category and subcategory pages for template changes
  blueprint-templates/category-page/index.yml
  docs/da/learn/administration.yml
  docs/da/learn/customization.yml
  docs/da/learn/index.yml
  docs/de/learn/administration.yml
  docs/de/learn/customization.yml
  docs/de/learn/index.yml
  docs/en/api/authentication/index.yml
  docs/en/api/index.yml
  docs/en/apps/index.yml
  docs/en/automation/crmscript/index.yml
  docs/en/automation/index.yml
  docs/en/company/index.yml
  docs/en/contact/index.yml
  docs/en/custom-objects/index.yml
  docs/en/customer-center/index.yml
  docs/en/database/index.yml
  docs/en/developer-portal/index.yml
  docs/en/diary/index.yml
  docs/en/document/cloud/index.yml
  docs/en/document/index.yml
  docs/en/email/index.yml
  docs/en/email/mailgun/index.yml
  docs/en/identity-management/index.yml
  docs/en/identity-management/scim/index.yml
  docs/en/identity-management/superid/index.yml
  docs/en/learn/administration.yml
  docs/en/learn/customization.yml
  docs/en/learn/index.yml
  docs/en/mirroring/index.yml
  docs/en/mobile/index.yml
  docs/en/online/index.yml
  docs/en/onsite/index.yml
  docs/en/onsite/install/index.yml
  docs/en/project/index.yml
  docs/en/request/index.yml
  docs/en/sale/index.yml
  docs/en/search-options/index.yml
  docs/en/security/index.yml
  docs/en/service/index.yml
  docs/en/ui/blogic/index.yml
  docs/en/ui/index.yml
  docs/en/ui/web-app/index.yml
  docs/nl/learn/administration.yml
  docs/nl/learn/customization.yml
  docs/nl/learn/index.yml
  docs/no/learn/administration.yml
  docs/no/learn/customization.yml
  docs/no/learn/index.yml
  docs/sv/learn/administration.yml
  docs/sv/learn/customization.yml
  docs/sv/learn/index.yml
Labels: docs/build

#792 Fix dutch learn translation errors
  docs/en/mirroring/force-resync.md
  docs/nl/admin/lists/learn/adding-items.md
  docs/nl/request/learn/category/index.md
  docs/nl/request/learn/howto/toc.yml
  docs/nl/request/learn/tags.md
Labels: translation

#793 Fix broken links
  docs/da/api/reference/restful/agent/Ticket_Agent/v1TicketAgent_ClearNotify.md
  docs/da/api/reference/soap/Services88/Ticket/ClearNotify.md
  docs/da/learn/activity/index.md
  docs/da/learn/index.yml
  docs/da/marketing/mailing/learn/create/add-unsubscribe-link.md
  docs/da/marketing/tracked-links/learn/define-link-actions.md
  docs/da/search-options/learn/in-navigator.md
  docs/de/api/reference/restful/agent/Ticket_Agent/v1TicketAgent_ClearNotify.md
  docs/de/api/reference/soap/Services88/Ticket/ClearNotify.md
  docs/de/learn/activity/index.md
  docs/de/learn/index.yml
  docs/de/marketing/tracked-links/learn/define-link-actions.md
  docs/de/search-options/learn/in-navigator.md
  docs/en/api/authentication/online/auth-application/get-system-user-ticket.md
  docs/en/api/entities/activity-links.md
  docs/en/api/search/selection/dynamic-selections.md
  docs/en/learn/activity/index.md
  docs/nl/api/reference/restful/agent/Ticket_Agent/v1TicketAgent_ClearNotify.md
  docs/nl/api/reference/soap/Services88/Ticket/ClearNotify.md
  docs/nl/learn/activity/index.md
  docs/nl/learn/index.yml
  docs/nl/marketing/mailing/learn/create/add-unsubscribe-link.md
  docs/nl/marketing/tracked-links/learn/define-link-actions.md
  docs/nl/search-options/learn/in-navigator.md
  docs/no/api/reference/restful/agent/Ticket_Agent/v1TicketAgent_ClearNotify.md
  docs/no/api/reference/soap/Services88/Ticket/ClearNotify.md
  docs/no/learn/activity/index.md
  docs/no/learn/index.yml
  docs/sv/api/reference/restful/agent/Ticket_Agent/v1TicketAgent_ClearNotify.md
  docs/sv/api/reference/soap/Services88/Ticket/ClearNotify.md
  docs/sv/learn/activity/index.md
  docs/sv/learn/index.yml
  docs/sv/marketing/tracked-links/learn/define-link-actions.md
  docs/sv/search-options/learn/in-navigator.md
Labels: broken-link

#798 Update index.md
  docs/en/developer-portal/message-center/index.md
Labels: developer-portal

#795 Migrate Zapier docs
  docs/en/automation/index.yml
  docs/en/automation/toc.yml
  docs/en/automation/zapier/get-started/create-zap.md
  docs/en/automation/zapier/get-started/index.md
  docs/en/automation/zapier/get-started/media/action-step.png
  docs/en/automation/zapier/get-started/media/choose-account.png
  docs/en/automation/zapier/get-started/media/choose-account2.png
  docs/en/automation/zapier/get-started/media/connect-account.png
  docs/en/automation/zapier/get-started/media/name-field.png
  docs/en/automation/zapier/get-started/media/no-connection.png
  docs/en/automation/zapier/get-started/media/pick-sample.png
  docs/en/automation/zapier/get-started/media/sale-status.png
  docs/en/automation/zapier/get-started/media/select-trigger.png
  docs/en/automation/zapier/get-started/media/set-up.png
  docs/en/automation/zapier/get-started/media/skip-step.png
  docs/en/automation/zapier/get-started/media/superoffice-login.png
  docs/en/automation/zapier/get-started/media/zapier-approval.png
  docs/en/automation/zapier/get-started/set-up-account.md
  docs/en/automation/zapier/howto/datetime.md
  docs/en/automation/zapier/howto/find-company.md
  docs/en/automation/zapier/howto/gdpr.md
  docs/en/automation/zapier/howto/index.md
  docs/en/automation/zapier/howto/listsource.md
  docs/en/automation/zapier/howto/media/add-step.png
  docs/en/automation/zapier/howto/media/company-name.png
  docs/en/automation/zapier/howto/media/company-search.png
  docs/en/automation/zapier/howto/media/create-company.png
  docs/en/automation/zapier/howto/media/create-contact.png
  docs/en/automation/zapier/howto/media/create-sale.png
  docs/en/automation/zapier/howto/media/currency-name.png
  docs/en/automation/zapier/howto/media/custom-value.png
  docs/en/automation/zapier/howto/media/edit-template.png
  docs/en/automation/zapier/howto/media/find-company.png
  docs/en/automation/zapier/howto/media/owner-id.png
  docs/en/automation/zapier/howto/media/search-company.png
  docs/en/automation/zapier/howto/media/search-criteria.png
  docs/en/automation/zapier/howto/media/select-formatter.png
  docs/en/automation/zapier/howto/media/start-dt.png
  docs/en/automation/zapier/index.md
  docs/en/automation/zapier/reference.md
  docs/en/automation/zapier/toc.yml
  docs/en/company/index.yml
  docs/en/contact/index.yml
  docs/en/diary/index.yml
  docs/en/document/index.yml
  docs/en/project/index.yml
  docs/en/request/index.yml
  docs/en/sale/index.yml
  docs/en/search-options/index.yml
  docs/toc.yml
Labels: doc-idea, automation

#801 Remove legacy DB Mirroring documentation #779
  docs/en/mirroring/getting-started/sync-manually.md
  docs/en/mirroring/index.yml
  docs/en/mirroring/toc.yml
Labels: doc-bug

#802 Icons auto update 20230814.2
  common/icons/all-icons.htm
  common/icons/bell-no-h32.png
  common/icons/bell-no.png
  common/icons/uncolored-svg/flows-action-h32.png
  common/icons/uncolored-svg/flows-action.png
  common/icons/uncolored-svg/flows-addtolist-h32.png
  common/icons/uncolored-svg/flows-addtolist.png
  common/icons/uncolored-svg/flows-email-h32.png
  common/icons/uncolored-svg/flows-email.png
  common/icons/uncolored-svg/flows-emailsettings-h32.png
  common/icons/uncolored-svg/flows-emailsettings.png
  common/icons/uncolored-svg/flows-finish-h32.png
  common/icons/uncolored-svg/flows-finish.png
  common/icons/uncolored-svg/flows-followup-h32.png
  common/icons/uncolored-svg/flows-followup.png
  common/icons/uncolored-svg/flows-goals-h32.png
  common/icons/uncolored-svg/flows-goals.png
  common/icons/uncolored-svg/flows-h32.png
  common/icons/uncolored-svg/flows-notify-h32.png
  common/icons/uncolored-svg/flows-notify.png
  common/icons/uncolored-svg/flows-notifyemail-h32.png
  common/icons/uncolored-svg/flows-notifyemail.png
  common/icons/uncolored-svg/flows-notifysms-h32.png
  common/icons/uncolored-svg/flows-notifysms.png
  common/icons/uncolored-svg/flows-removefromlist-h32.png
  common/icons/uncolored-svg/flows-removefromlist.png
  common/icons/uncolored-svg/flows-request-h32.png
  common/icons/uncolored-svg/flows-request.png
  common/icons/uncolored-svg/flows-sale-h32.png
  common/icons/uncolored-svg/flows-sale.png
  common/icons/uncolored-svg/flows-script-h32.png
  common/icons/uncolored-svg/flows-script.png
  common/icons/uncolored-svg/flows-settings-h32.png
  common/icons/uncolored-svg/flows-settings.png
  common/icons/uncolored-svg/flows-sms-h32.png
  common/icons/uncolored-svg/flows-sms.png
  common/icons/uncolored-svg/flows-split-h32.png
  common/icons/uncolored-svg/flows-split.png
  common/icons/uncolored-svg/flows-steps-h32.png
  common/icons/uncolored-svg/flows-steps.png
  common/icons/uncolored-svg/flows-trigger-h32.png
  common/icons/uncolored-svg/flows-trigger.png
  common/icons/uncolored-svg/flows-updateparticipants-h32.png
  common/icons/uncolored-svg/flows-updateparticipants.png
  common/icons/uncolored-svg/flows-wait-h32.png
  common/icons/uncolored-svg/flows-wait.png
  common/icons/uncolored-svg/flows.png
Labels: doc-enhancement

#806 #804 Add anchors in all 6 languages
  docs/da/admin/preferences/learn/update-preferences.md
  docs/da/admin/user-management/learn/screen/index.md
  docs/da/learn/section-tabs/index.md
  docs/da/marketing/learn/editor.md
  docs/da/quote/learn/create.md
  docs/da/reports/learn/labels/index.md
  docs/da/search-options/selection/learn/howto/export.md
  docs/da/search-options/selection/learn/update/add-remove-members-static.md
  docs/de/admin/preferences/learn/update-preferences.md
  docs/de/admin/user-management/learn/screen/index.md
  docs/de/learn/section-tabs/index.md
  docs/de/marketing/learn/editor.md
  docs/de/quote/learn/create.md
  docs/de/reports/learn/labels/index.md
  docs/de/search-options/selection/learn/howto/export.md
  docs/de/search-options/selection/learn/update/add-remove-members-static.md
  docs/en/admin/preferences/learn/update-preferences.md
  docs/en/admin/user-management/learn/screen/index.md
  docs/en/learn/section-tabs/index.md
  docs/en/marketing/learn/editor.md
  docs/en/quote/learn/create.md
  docs/en/reports/learn/labels/index.md
  docs/en/search-options/selection/learn/howto/export.md
  docs/en/search-options/selection/learn/update/add-remove-members-static.md
  docs/nl/admin/preferences/learn/update-preferences.md
  docs/nl/admin/user-management/learn/screen/index.md
  docs/nl/learn/section-tabs/index.md
  docs/nl/marketing/learn/editor.md
  docs/nl/quote/learn/create.md
  docs/nl/reports/learn/labels/index.md
  docs/nl/search-options/selection/learn/howto/export.md
  docs/nl/search-options/selection/learn/update/add-remove-members-static.md
  docs/no/admin/preferences/learn/update-preferences.md
  docs/no/admin/user-management/learn/screen/index.md
  docs/no/learn/section-tabs/index.md
  docs/no/marketing/learn/editor.md
  docs/no/quote/learn/create.md
  docs/no/reports/learn/labels/index.md
  docs/no/search-options/selection/learn/howto/export.md
  docs/no/search-options/selection/learn/update/add-remove-members-static.md
  docs/sv/admin/preferences/learn/update-preferences.md
  docs/sv/admin/user-management/learn/screen/index.md
  docs/sv/learn/section-tabs/index.md
  docs/sv/marketing/learn/editor.md
  docs/sv/quote/learn/create.md
  docs/sv/reports/learn/labels/index.md
  docs/sv/search-options/selection/learn/howto/export.md
  docs/sv/search-options/selection/learn/update/add-remove-members-static.md
Labels: doc-enhancement, learn

#754 Update webhook documentation for upcoming 10.2.7 changes
  docs/en/automation/toc.yml
  docs/en/automation/webhook/event-details.md
  docs/en/automation/webhook/notification.md
  docs/en/automation/webhook/overview.md
  docs/en/automation/webhook/reference/state-events.md
  docs/en/automation/webhook/subscription.md
  docs/en/automation/webhook/troubleshooting.md
Labels: doc-enhancement, integration, pending-release

#808 Icons auto update 20230821.1
  common/icons/all-icons.htm
  common/icons/uncolored-svg/chat-h32.png
  common/icons/uncolored-svg/chat.png
  common/icons/uncolored-svg/link-h32.png
  common/icons/uncolored-svg/link.png
  common/icons/uncolored-svg/person-h32.png
  common/icons/uncolored-svg/person.png
  common/icons/uncolored-svg/project-h32.png
  common/icons/uncolored-svg/project.png
  common/icons/uncolored-svg/sale-h32.png
  common/icons/uncolored-svg/sale.png
  common/icons/uncolored-svg/ticket-h32.png
  common/icons/uncolored-svg/ticket.png
  common/icons/uncolored-svg/webform-h32.png
  common/icons/uncolored-svg/webform.png
Labels: doc-enhancement

#810 745 sharepoint document migration
  docs/en/document/cloud/sharepoint-documents/index.md
  docs/en/document/cloud/sharepoint-documents/media/01-templ-site.png
  docs/en/document/cloud/sharepoint-documents/media/02-templ-library.png
  docs/en/document/cloud/sharepoint-documents/media/03-templ-library-settings.png
  docs/en/document/cloud/sharepoint-documents/media/04-templ-library-permissions.png
  docs/en/document/cloud/sharepoint-documents/media/05-templ-inheriting.png
  docs/en/document/cloud/sharepoint-documents/media/06-templ-groups.png
  docs/en/document/cloud/sharepoint-documents/media/07-templ-read.png
  docs/en/document/cloud/sharepoint-documents/media/08-templ-grant-permissions.png
  docs/en/document/cloud/sharepoint-documents/media/09-templ-invite-people.png
  docs/en/document/cloud/sharepoint-documents/media/10-templ-edit.png
  docs/en/document/cloud/sharepoint-documents/media/11-templ-remove.png
  docs/en/document/cloud/sharepoint-documents/media/advanced-permissions.png
  docs/en/document/cloud/sharepoint-documents/media/confirm.png
  docs/en/document/cloud/sharepoint-documents/media/groups-and-access.png
  docs/en/document/cloud/sharepoint-documents/media/review.png
  docs/en/document/cloud/sharepoint-documents/media/sharepoint-wizard.png
  docs/en/document/cloud/sharepoint-documents/media/so-admin-document-library.png
  docs/en/document/cloud/sharepoint-documents/media/so-sharepoint-home.png
  docs/en/document/cloud/sharepoint-documents/migrate/best-practices.md
  docs/en/document/cloud/sharepoint-documents/migrate/index.md
  docs/en/document/cloud/sharepoint-documents/migrate/media/authorize-app.png
  docs/en/document/cloud/sharepoint-documents/migrate/media/edit-legacy-document.png
  docs/en/document/cloud/sharepoint-documents/migrate/media/migrate-step-1.png
  docs/en/document/cloud/sharepoint-documents/migrate/media/migrate-step-2.png
  docs/en/document/cloud/sharepoint-documents/migrate/media/migrate-step-3.png
  docs/en/document/cloud/sharepoint-documents/migrate/media/migration-completed-with-failures.png
  docs/en/document/cloud/sharepoint-documents/migrate/media/migration-job-details.png
  docs/en/document/cloud/sharepoint-documents/migrate/media/migration-start.png
  docs/en/document/cloud/sharepoint-documents/migrate/media/migration-started.png
  docs/en/document/cloud/sharepoint-documents/migrate/reference.md
  docs/en/document/cloud/sharepoint-documents/migrate/steps.md
  docs/en/document/cloud/sharepoint-documents/migrate/toc.yml
  docs/en/document/cloud/sharepoint-documents/migrate/troubleshooting.md
  docs/en/document/cloud/sharepoint-documents/troubleshooting.md
  docs/en/document/toc.yml
Labels: integration

#812 #807 Add in-app preference to table
  docs/da/learn/getting-started/preferences.md
  docs/de/learn/getting-started/preferences.md
  docs/en/learn/getting-started/preferences.md
  docs/nl/learn/getting-started/preferences.md
  docs/no/learn/getting-started/preferences.md
  docs/sv/learn/getting-started/preferences.md
Labels: learn

#820 #811 add system notifications + howto
  docs/da/learn/basics/notifications.md
  docs/da/learn/basics/toc.yml
  docs/de/learn/basics/notifications.md
  docs/de/learn/basics/toc.yml
  docs/en/learn/basics/notifications.md
  docs/media/loc/en/learn/safari-website-settings.png
  docs/media/loc/en/learn/system-notification-chrome.png
  docs/media/loc/en/learn/system-notification-edge.png
  docs/media/loc/en/learn/system-notification-firefox.png
  docs/media/loc/en/learn/system-notification-safari.png
  docs/nl/learn/basics/notifications.md
  docs/nl/learn/basics/toc.yml
  docs/no/learn/basics/notifications.md
  docs/sv/learn/basics/notifications.md
  docs/sv/learn/basics/toc.yml
Labels: learn

#823 #821 remove info re Lotus Notes
  docs/da/email/mail-link/learn/add-attachment.md
  docs/da/email/mail-link/learn/archive.md
  docs/da/email/mail-link/learn/compose.md
  docs/da/email/mail-link/learn/create-in-lotus.md
  docs/da/email/mail-link/learn/create-in-superoffice.md
  docs/da/email/mail-link/learn/index.md
  docs/da/email/mail-link/learn/select-recipients.md
  docs/da/email/mail-link/learn/toc.yml
  docs/de/email/mail-link/learn/add-attachment.md
  docs/de/email/mail-link/learn/archive.md
  docs/de/email/mail-link/learn/compose.md
  docs/de/email/mail-link/learn/create-in-lotus.md
  docs/de/email/mail-link/learn/create-in-superoffice.md
  docs/de/email/mail-link/learn/index.md
  docs/de/email/mail-link/learn/select-recipients.md
  docs/de/email/mail-link/learn/toc.yml
  docs/en/admin/user-preferences/reference/system.md
  docs/en/email/mail-link/learn/add-attachment.md
  docs/en/email/mail-link/learn/archive.md
  docs/en/email/mail-link/learn/compose.md
  docs/en/email/mail-link/learn/create-in-lotus.md
  docs/en/email/mail-link/learn/create-in-superoffice.md
  docs/en/email/mail-link/learn/index.md
  docs/en/email/mail-link/learn/select-recipients.md
  docs/en/email/mail-link/learn/toc.yml
  docs/en/onsite/requirements/web-client.md
  docs/nl/email/mail-link/learn/add-attachment.md
  docs/nl/email/mail-link/learn/archive.md
  docs/nl/email/mail-link/learn/compose.md
  docs/nl/email/mail-link/learn/create-in-lotus.md
  docs/nl/email/mail-link/learn/create-in-superoffice.md
  docs/nl/email/mail-link/learn/index.md
  docs/nl/email/mail-link/learn/select-recipients.md
  docs/nl/email/mail-link/learn/toc.yml
  docs/no/email/mail-link/learn/add-attachment.md
  docs/no/email/mail-link/learn/archive.md
  docs/no/email/mail-link/learn/compose.md
  docs/no/email/mail-link/learn/create-in-lotus.md
  docs/no/email/mail-link/learn/create-in-superoffice.md
  docs/no/email/mail-link/learn/index.md
  docs/no/email/mail-link/learn/select-recipients.md
  docs/no/email/mail-link/learn/toc.yml
  docs/sv/email/mail-link/learn/add-attachment.md
  docs/sv/email/mail-link/learn/archive.md
  docs/sv/email/mail-link/learn/compose.md
  docs/sv/email/mail-link/learn/create-in-lotus.md
  docs/sv/email/mail-link/learn/create-in-superoffice.md
  docs/sv/email/mail-link/learn/index.md
  docs/sv/email/mail-link/learn/select-recipients.md
  docs/sv/email/mail-link/learn/toc.yml
Labels: doc-enhancement

#822 815 10.2.7 release notes
  release-notes/10.2/index.md
  release-notes/10.2/office-integrations/3.1-update.md
  release-notes/10.2/office-integrations/index.md
  release-notes/10.2/office-integrations/media/sofo-install-online-onsite.png
  release-notes/10.2/office-integrations/media/sofo-login.png
  release-notes/10.2/service/10.2.7-update.md
  release-notes/10.2/service/index.md
  release-notes/10.2/service/media/admin-user-request-signature.jpg
  release-notes/10.2/service/media/request-attachment-preview.jpg
  release-notes/10.2/service/media/request-contact-drag-drop.jpg
  release-notes/10.2/service/media/request-list-update.jpg
  release-notes/10.2/service/media/request-signature-system.jpg
  release-notes/10.2/toc.yml
Labels: release-notes

#826 #738 update image and toc, rewrite for EN
  docs/da/email/mail-link/learn/archive-as-activity.md
  docs/da/email/mail-link/learn/toc.yml
  docs/de/email/mail-link/learn/archive-as-activity.md
  docs/de/email/mail-link/learn/toc.yml
  docs/en/email/mail-link/learn/archive-as-activity.md
  docs/en/email/mail-link/learn/toc.yml
  docs/media/loc/en/email/email-maillink-create-activity.png
  docs/media/loc/en/email/mail-link-actions.jpg
  docs/media/loc/en/email/mail-link-create-apt.jpg
  docs/media/loc/en/email/mail-link-create-task.jpg
  docs/nl/email/mail-link/learn/archive-as-activity.md
  docs/nl/email/mail-link/learn/toc.yml
  docs/no/email/mail-link/learn/archive-as-activity.md
  docs/no/email/mail-link/learn/toc.yml
  docs/sv/email/mail-link/learn/archive-as-activity.md
  docs/sv/email/mail-link/learn/toc.yml
Labels: integration, learn
