Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2023-12, with the labels that each got.

#973 961 10.2.11 release notes
  docs/media/loc/en/webtools/local-settings-document-editing.png
  docs/media/loc/en/webtools/webtools-chrome-security-question.png
  docs/media/loc/en/webtools/webtools-edge-security-question.png
  docs/media/loc/en/webtools/webtools-firefox-security-question.png
  docs/media/loc/en/webtools/webtools-safari-security-question.png
  release-notes/10.2/admin/index.md
  release-notes/10.2/core-crm/10.2.11-update.md
  release-notes/10.2/core-crm/index.md
  release-notes/10.2/index.md
  release-notes/10.2/marketing/index.md
  release-notes/10.2/office-integrations/index.md
  release-notes/10.2/service/10.2.11-update.md
  release-notes/10.2/service/index.md
  release-notes/10.2/service/media/request-new-contact-added-to-field.png
  release-notes/10.2/service/media/request-preview-edit.png
  release-notes/10.2/service/media/request-signature-system.png
  release-notes/10.2/service/media/request-tab-drag-and-drop.png
  release-notes/10.2/service/media/request-tags-add-multiple.png
  release-notes/10.2/toc.yml
  release-notes/index.md
  release-notes/toc.yml
Labels: release-notes

#976 Icons auto update 20231207.1
  common/icons/assignment-even-h32.png
  common/icons/assignment-even.png
  common/icons/assignment-leastopen-h32.png
  common/icons/assignment-leastopen.png
  common/icons/assignment-noassignment-h32.png
  common/icons/assignment-noassignment.png
  common/icons/assignment-weighted-h32.png
  common/icons/assignment-weighted.png
  common/icons/chart-type-column-bar-h32.png
  common/icons/chart-type-column-bar.png
  common/icons/flows-selection-h32.png
  common/icons/flows-selection.png
  common/icons/list-icons/chart-type-gauge-h32.png
  common/icons/list-icons/chart-type-gauge.png
  common/icons/list-icons/chart-type-stacked-area-h32.png
  common/icons/list-icons/chart-type-stacked-area.png
  common/icons/nav-admin-requests-active-h32.png
  common/icons/nav-admin-requests-active.png
  common/icons/nav-admin-requests-h32.png
  common/icons/nav-admin-requests.png
  common/icons/nav-admin-saint-active-h32.png
  common/icons/nav-admin-saint-active.png
  common/icons/nav-admin-saint-h32.png
  common/icons/nav-admin-saint.png
  common/icons/nav-dashboard-h32.png
  common/icons/nav-dashboard.png
  common/icons/pref-request-active-h32.png
  common/icons/pref-request-active.png
  common/icons/pref-request-h32.png
  common/icons/pref-request.png
  common/icons/reqtype-wrench-h32.png
  common/icons/reqtype-wrench.png
  common/icons/spinner-h32.png
  common/icons/spinner.png
  common/icons/uncolored-svg/selection-h32.png
  common/icons/uncolored-svg/selection.png
Labels: icons

#980 Update MS SQL compatibility
  docs/en/onsite/compatibility/database.md
Labels: database, onsite

#983 Request types #828
  docs/da/email/service/learn/create-mailbox.md
  docs/da/email/service/learn/email-filters/index.md
  docs/da/email/service/learn/includes/step-select-category-priority.md
  docs/da/learn/toc.yml
  docs/da/request/learn/type/create.md
  docs/da/request/learn/type/delete.md
  docs/da/request/learn/type/index.md
  docs/da/ui/screen-designer/learn/add-new-layout.md
  docs/de/email/service/learn/create-mailbox.md
  docs/de/email/service/learn/email-filters/index.md
  docs/de/email/service/learn/includes/step-select-category-priority.md
  docs/de/learn/toc.yml
  docs/de/request/learn/type/create.md
  docs/de/request/learn/type/delete.md
  docs/de/request/learn/type/index.md
  docs/de/ui/screen-designer/learn/add-new-layout.md
  docs/en/email/service/learn/create-mailbox.md
  docs/en/email/service/learn/email-filters/index.md
  docs/en/email/service/learn/includes/step-select-category-priority.md
  docs/en/learn/toc.yml
  docs/en/request/learn/type/create.md
  docs/en/request/learn/type/delete.md
  docs/en/request/learn/type/index.md
  docs/en/ui/screen-designer/configurable-screens/add-layout.md
  docs/en/ui/screen-designer/configurable-screens/assign-layout.md
  docs/en/ui/screen-designer/element-reference.md
  docs/en/ui/screen-designer/learn/add-new-layout.md
  docs/media/loc/en/request/add-request-type.png
  docs/media/loc/en/request/request-type-settings.png
  docs/nl/email/service/learn/create-mailbox.md
  docs/nl/email/service/learn/email-filters/index.md
  docs/nl/email/service/learn/includes/step-select-category-priority.md
  docs/nl/learn/toc.yml
  docs/nl/request/learn/type/create.md
  docs/nl/request/learn/type/delete.md
  docs/nl/request/learn/type/index.md
  docs/nl/ui/screen-designer/learn/add-new-layout.md
  docs/no/email/service/learn/create-mailbox.md
  docs/no/email/service/learn/email-filters/index.md
  docs/no/email/service/learn/includes/step-select-category-priority.md
  docs/no/learn/toc.yml
  docs/no/request/learn/type/create.md
  docs/no/request/learn/type/delete.md
  docs/no/request/learn/type/index.md
  docs/no/ui/screen-designer/learn/add-new-layout.md
  docs/sv/email/service/learn/create-mailbox.md
  docs/sv/email/service/learn/email-filters/index.md
  docs/sv/email/service/learn/includes/step-select-category-priority.md
  docs/sv/learn/toc.yml
  docs/sv/request/learn/status/delete.md
  docs/sv/request/learn/type/create.md
  docs/sv/request/learn/type/delete.md
  docs/sv/request/learn/type/index.md
  docs/sv/ui/screen-designer/learn/add-new-layout.md
Labels: service

#990 updated
  docs/en/automation/crmscript/reference/CRMScript.Native.HTTP.yml
Labels: crmscript

#996 Update available widgets - include New Customers.
  docs/en/developer-portal/widgets/index.md
Labels: developer-portal

#987 Update license req for quote/sync #872
  docs/da/admin/erp/learn/includes/req-integration-server.md
  docs/da/admin/erp/learn/screen/erp-tab.md
  docs/da/learn/includes/erp-tab.md
  docs/da/quote/learn/admin/index.md
  docs/da/search-options/learn/find-screen.md
  docs/de/admin/erp/learn/includes/req-integration-server.md
  docs/de/admin/erp/learn/screen/erp-tab.md
  docs/de/learn/includes/erp-tab.md
  docs/de/quote/learn/admin/index.md
  docs/de/search-options/learn/find-screen.md
  docs/en/admin/erp/learn/includes/req-integration-server.md
  docs/en/admin/erp/learn/screen/erp-tab.md
  docs/en/learn/includes/erp-tab.md
  docs/en/quote/learn/admin/index.md
  docs/en/search-options/learn/find-screen.md
  docs/nl/admin/erp/learn/includes/req-integration-server.md
  docs/nl/admin/erp/learn/screen/erp-tab.md
  docs/nl/learn/includes/erp-tab.md
  docs/nl/quote/learn/admin/index.md
  docs/nl/search-options/learn/find-screen.md
  docs/no/admin/erp/learn/includes/req-integration-server.md
  docs/no/admin/erp/learn/screen/erp-tab.md
  docs/no/learn/includes/erp-tab.md
  docs/no/quote/learn/admin/index.md
  docs/no/search-options/learn/find-screen.md
  docs/sv/admin/erp/learn/screen/erp-tab.md
  docs/sv/learn/includes/erp-tab.md
  docs/sv/quote/learn/admin/index.md
  docs/sv/search-options/learn/find-screen.md
Labels: integration, learn

#988 Add CS SOAP to EOL #962
  release-notes/eol/index.md
  release-notes/eol/soap.md
Labels: soap-services, release-notes

#994 #933 updated security evaluation page
  docs/en/developer-portal/standard-app/certification/initial-watchcom-eval.md
Labels: online-dev

#1000 Updated #999
  docs/en/automation/crmscript/reference/CRMScript.Native.Ticket.yml
Labels: doc-bug, crmscript, service

#1002 Update create-follow-up.md
  docs/da/diary/learn/create-follow-up.md
  docs/de/diary/learn/create-follow-up.md
  docs/en/diary/learn/create-follow-up.md
  docs/nl/diary/learn/create-follow-up.md
  docs/no/diary/learn/create-follow-up.md
  docs/sv/diary/learn/create-follow-up.md
Labels: learn

#1001 ChatGPT sidebar page #971
  docs/en/ai/copilot/index.md
  docs/en/ai/index.md
  docs/en/ai/toc.yml
  docs/media/loc/en/ai/copilot-about-superoffice.png
  docs/media/loc/en/ai/copilot-in-sidepanel-list.png
  docs/media/loc/en/ai/copilot-on-sale.png
Labels: doc-idea
