Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2023-05, with the labels that each got.

#682 646 10.2.5 release notes
  release-notes/10.2/index.md
  release-notes/10.2/mobile/10.2.11-update.md
  release-notes/10.2/mobile/index.md
  release-notes/10.2/mobile/media/mobile-crm-sale-request-tab.png
  release-notes/10.2/service/10.2.5-update.md
  release-notes/10.2/service/index.md
  release-notes/10.2/service/media/main-menu-knowledge-base.png
  release-notes/10.2/toc.yml
  release-notes/index.md
  release-notes/toc.yml
Labels: release-notes

#684 update troubleshooting SP2.0
  docs/en/document/cloud/sharepoint-documents/troubleshooting.md
Labels: integration

#695 693 update sharepoint index
  docs/en/document/cloud/sharepoint-documents/configure-permissions-templates.md
  docs/en/document/cloud/sharepoint-documents/configure-superoffice.md
  docs/en/document/cloud/sharepoint-documents/includes/req-general.md
  docs/en/document/cloud/sharepoint-documents/includes/req-usage.md
  docs/en/document/cloud/sharepoint-documents/index.md
  docs/en/document/cloud/sharepoint-documents/permissions-in-sharepoint.md
  docs/en/document/cloud/sharepoint-documents/requirements.md
  docs/en/document/cloud/sharepoint-documents/set-up.md
Labels: doc-enhancement

#696 Document 'OperatorNotContains' comparison operator of search engine
  docs/en/automation/crmscript/reference/CRMScript.Native.SearchEngine.yml
Labels: doc-enhancement, crmscript

#703 Update feature-toggles.md
  docs/en/onsite/feature-toggles.md
Labels: onsite

#702 Hjelms crmscript pause tracing
  docs/en/automation/crmscript/reference/CRMScript.Global.Void.yml
Labels: crmscript

#709 583 screen designer grid
  docs/en/ui/screen-designer/configurable-screens/add-layout.md
  docs/en/ui/screen-designer/configurable-screens/assign-layout.md
  docs/en/ui/screen-designer/configurable-screens/edit-card-layout.md
  docs/en/ui/screen-designer/configurable-screens/index.md
  docs/en/ui/screen-designer/configurable-screens/media/edit-card-layout-fields.png
  docs/en/ui/screen-designer/configurable-screens/media/edit-grid.png
  docs/en/ui/screen-designer/configurable-screens/media/grid-settings.png
  docs/en/ui/screen-designer/configurable-screens/media/hover-grid.png
  docs/en/ui/screen-designer/configurable-screens/media/new-grid.png
  docs/en/ui/screen-designer/configurable-screens/media/open-screen-designer.png
  docs/en/ui/screen-designer/configurable-screens/media/status-published.png
  docs/en/ui/screen-designer/configurable-screens/working-with-grids.md
  docs/en/ui/screen-designer/configurable-screens/working-with-tabs.md
  docs/en/ui/screen-designer/element-reference.md
  docs/en/ui/screen-designer/index.md
  docs/en/ui/screen-designer/learn/add-new-layout.md
  docs/en/ui/screen-designer/learn/edit-layout-archives.md
  docs/en/ui/screen-designer/learn/elements.md
  docs/en/ui/screen-designer/learn/includes/goto-screen-designer.md
  docs/en/ui/screen-designer/learn/index.md
  docs/en/ui/screen-designer/toc.yml
Labels: doc-enhancement

#710 Add 10.2.5 to Onsite releases
  docs/en/onsite/version-history.md
Labels: doc-enhancement

#711 feedback-110 add link to crossmessaging sample
  docs/en/ui/soprotocol/used-in-webpanels-web.md
Labels: doc-enhancement

#713 #721 fix broken include file
  docs/en/onsite/win-client/learn/import/resetting-rules-for-duplicate-handling.md
  docs/en/onsite/win-client/learn/import/updating-rules-for-duplicate-handling.md
Labels: doc-bug
