Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-07, with the labels that each got.

#1251 Update conceptual-overview-2016.md
  docs/en/mirroring/conceptual-overview-2016.md
Labels: doc-bug

#1250 Update mirroring-task.md
  docs/en/mirroring/mirroring-task.md
Labels: doc-bug

#1253 Updated Developer Portal - API Performance - images and text for 1.24 #1252
  docs/en/developer-portal/analytics/media/metrics-performance-landing.png
  docs/en/developer-portal/analytics/media/metrics-performance-selected-row.png
  docs/en/developer-portal/analytics/media/metrics-performance-selected-sample.png
  docs/en/developer-portal/analytics/metrics-performance.md
Labels: doc-enhancement, online-dev, developer-portal

#1259 #1244 remove bdll, bdlg and update metadata
  common/includes/variable/table-appointment.md
  docs/en/document/templates/variables/for-appointments.md
Labels: doc-bug

#1260 #1254 update CEP template loc and metadata
  docs/en/customer-center/templates.md
Labels: CEP

#1265 Removing not supported method #1264
  docs/en/automation/crmscript/reference/CRMScript.Native.Ticket.yml
  docs/en/request/howto/crmscript/create.md
Labels: crmscript

#1266 Extract document API samples #1262
  docs/en/api/toc.yml
  docs/en/api/web-services/endpoints/agents-webapi/index.md
  docs/en/api/web-services/endpoints/rest-webapi/index.md
  docs/en/api/web-services/howto/document/includes/create-document.cs
  docs/en/api/web-services/howto/document/includes/download-document.cs
  docs/en/api/web-services/howto/document/includes/update-document.cs
  docs/en/api/web-services/howto/document/index.md
  docs/en/api/web-services/howto/document/rest-add-document-template.md
  docs/en/api/web-services/howto/document/rest-generate-document.md
  docs/en/api/web-services/howto/document/services-configure-access.md
  docs/en/api/web-services/howto/document/services-create.md
  docs/en/api/web-services/howto/document/services-download.md
  docs/en/api/web-services/howto/document/services-update.md
  docs/en/api/web-services/howto/index.md
  docs/en/automation/crmscript/howto/document/file.md
  docs/en/automation/crmscript/howto/document/index.md
  docs/en/automation/crmscript/howto/document/properties.md
  docs/en/automation/crmscript/howto/document/templates.md
  docs/en/automation/crmscript/toc.yml
  docs/en/document/howto/agents-web-api/add-document-template.md
  docs/en/document/howto/agents-web-api/generate-document.md
  docs/en/document/howto/agents-web-api/index.md
  docs/en/document/howto/crmscript/doc-files.md
  docs/en/document/howto/crmscript/doc-properties.md
  docs/en/document/howto/crmscript/doc-templates.md
  docs/en/document/howto/crmscript/index.md
  docs/en/document/howto/rest/add-document-template.md
  docs/en/document/howto/rest/generate-document.md
  docs/en/document/howto/rest/index.md
  docs/en/document/howto/services/configure-access.md
  docs/en/document/howto/services/create.md
  docs/en/document/howto/services/download.md
  docs/en/document/howto/services/index.md
  docs/en/document/howto/services/update.md
  docs/en/document/index.yml
  docs/en/document/toc.yml
  docs/en/project/howto/crmscript/guides.md
  docs/en/quote/howto/crmscript/place-order.md
  docs/en/quote/howto/crmscript/quote-document.md
Labels: crmscript, rest-api

#1278 Correct number of address formats #1276
  docs/da/company/learn/address-formats.md
  docs/de/company/learn/address-formats.md
  docs/en/company/learn/address-formats.md
  docs/nl/company/learn/address-formats.md
  docs/no/company/learn/address-formats.md
  docs/sv/company/learn/address-formats.md
Labels: doc-enhancement

#1279 Change email filter priority max to 100 #1277
  docs/da/email/service/learn/email-filters/create-email-filter.md
  docs/de/email/service/learn/email-filters/create-email-filter.md
  docs/en/email/service/learn/email-filters/create-email-filter.md
  docs/nl/email/service/learn/email-filters/create-email-filter.md
  docs/no/email/service/learn/email-filters/create-email-filter.md
  docs/sv/email/service/learn/email-filters/create-email-filter.md
Labels: doc-bug

#1280 remove duplicate toc entries #651
  docs/en/automation/crmscript/reference/toc.yml
Labels: doc-enhancement, crmscript
