Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-01, with the labels that each got.

#1007 Update OMT
  docs/en/online/migrate/index.md
Labels: onsite

#1004 Updated provisioning pages #939
  docs/en/developer-portal/custom-app/activate.md
  docs/en/developer-portal/custom-app/checklist.md
  docs/en/developer-portal/includes/explicit-consent.md
  docs/en/developer-portal/provisioning/consent.md
  docs/en/developer-portal/provisioning/get-consent.md
  docs/en/developer-portal/provisioning/index.md
  docs/en/developer-portal/provisioning/revoke.md
Labels: online-dev, developer-portal

#1015 Removing references to DBWrite
  docs/en/automation/crmscript/reference/CRMScript.Native.DBWrite.yml
  docs/en/automation/crmscript/reference/CRMScript.Native.yml
  docs/en/automation/crmscript/reference/toc.yml
Labels: crmscript

#1024 Add 10.2.11 Onsite
  docs/en/onsite/version-history.md
Labels: onsite

#1025 Update set-up.md
  docs/en/document/cloud/sharepoint-documents/set-up.md
Labels: integration

#1026 Changed SharePoint set up #1018
  docs/en/document/cloud/sharepoint-documents/media/add-people.png
  docs/en/document/cloud/sharepoint-documents/media/create-site-button.png
  docs/en/document/cloud/sharepoint-documents/set-up.md
Labels: integration

#1027 Screen designer for follow up dialog #916
  docs/da/ui/screen-designer/learn/add-new-layout.md
  docs/da/ui/screen-designer/learn/includes/goto-screen-designer.md
  docs/da/ui/screen-designer/learn/index.md
  docs/de/diary/learn/invitation/add-participant.md
  docs/de/ui/screen-designer/learn/add-new-layout.md
  docs/de/ui/screen-designer/learn/includes/goto-screen-designer.md
  docs/de/ui/screen-designer/learn/index.md
  docs/en/admin/license/expander-services/index.md
  docs/en/ui/screen-designer/configurable-screens/add-layout.md
  docs/en/ui/screen-designer/configurable-screens/assign-layout.md
  docs/en/ui/screen-designer/configurable-screens/edit-card-layout.md
  docs/en/ui/screen-designer/configurable-screens/index.md
  docs/en/ui/screen-designer/configurable-screens/media/edit-card-layout-fields.png
  docs/en/ui/screen-designer/configurable-screens/working-with-fields.md
  docs/en/ui/screen-designer/element-reference.md
  docs/en/ui/screen-designer/index.md
  docs/en/ui/screen-designer/learn/add-new-layout.md
  docs/en/ui/screen-designer/learn/edit-layout-archives.md
  docs/en/ui/screen-designer/learn/includes/goto-screen-designer.md
  docs/en/ui/screen-designer/learn/index.md
  docs/media/loc/en/ui/add-button-for-new-screen-layout.png
  docs/media/loc/en/ui/add-new-screen-layout.png
  docs/media/loc/en/ui/edit-card-layout-fields.png
  docs/nl/ui/screen-designer/learn/add-new-layout.md
  docs/nl/ui/screen-designer/learn/includes/goto-screen-designer.md
  docs/nl/ui/screen-designer/learn/index.md
  docs/no/ui/screen-designer/learn/add-new-layout.md
  docs/no/ui/screen-designer/learn/includes/goto-screen-designer.md
  docs/no/ui/screen-designer/learn/index.md
  docs/sv/ui/screen-designer/learn/add-new-layout.md
  docs/sv/ui/screen-designer/learn/includes/goto-screen-designer.md
  docs/sv/ui/screen-designer/learn/index.md
Labels: user-interface

#1028 Rename AAD to Microsoft Entra #1016
  .vscode/settings.json
  docs/da/admin/preferences/learn/document-library/index.md
  docs/da/document/cloud/sharepoint-documents/learn/index.md
  docs/da/document/cloud/sharepoint-documents/learn/set-up-folders.md
  docs/de/admin/preferences/learn/document-library/index.md
  docs/de/document/cloud/sharepoint-documents/learn/index.md
  docs/de/document/cloud/sharepoint-documents/learn/set-up-folders.md
  docs/en/admin/preferences/learn/document-library/index.md
  docs/en/document/cloud/legacy/office-365/prepare-sharepoint.md
  docs/en/document/cloud/legacy/office-365/requirements.md
  docs/en/document/cloud/sharepoint-documents/configure-permissions-documents.md
  docs/en/document/cloud/sharepoint-documents/configure-permissions-templates.md
  docs/en/document/cloud/sharepoint-documents/includes/req-general.md
  docs/en/document/cloud/sharepoint-documents/includes/req-usage.md
  docs/en/document/cloud/sharepoint-documents/index.md
  docs/en/document/cloud/sharepoint-documents/learn/index.md
  docs/en/document/cloud/sharepoint-documents/learn/set-up-folders.md
  docs/en/document/cloud/sharepoint-documents/migrate/index.md
  docs/en/document/cloud/sharepoint-documents/migrate/troubleshooting.md
  docs/en/document/cloud/sharepoint-documents/permissions-in-sharepoint.md
  docs/en/document/cloud/sharepoint-documents/requirements.md
  docs/en/document/cloud/sharepoint-documents/troubleshooting.md
  docs/en/email/inbox/index.md
  docs/en/email/service/index.md
  docs/en/identity-management/federated-id-and-identity-providers.md
  docs/en/identity-management/overview.md
  docs/en/identity-management/scim/identity-management-gw.md
  docs/en/identity-management/scim/index.yml
  docs/en/identity-management/scim/overview.md
  docs/en/identity-management/scim/provisioning/add-scim-rule.md
  docs/en/identity-management/scim/provisioning/preview-sync.md
  docs/en/identity-management/scim/provisioning/restart-sync.md
  docs/en/identity-management/scim/scim-rules.md
  docs/en/identity-management/scim/setup/create-azure-enterprise-app.md
  docs/en/identity-management/scim/setup/enable-auto-sync.md
  docs/en/identity-management/scim/setup/get-scim-config.md
  docs/en/identity-management/scim/setup/setup-guide.md
  docs/en/identity-management/scim/sign-in-to-scim.md
  docs/en/identity-management/scim/user-provisioning.md
  docs/en/identity-management/superid/howto/federated-sign-in-guide.md
  docs/en/identity-management/superid/howto/register-idp.md
  docs/en/identity-management/toc.yml
  docs/en/mobile/superoffice-mobile/security.md
  docs/en/video-meeting/ms-teams/index.md
  docs/nl/admin/preferences/learn/document-library/index.md
  docs/nl/document/cloud/sharepoint-documents/learn/index.md
  docs/nl/document/cloud/sharepoint-documents/learn/set-up-folders.md
  docs/no/admin/preferences/learn/document-library/index.md
  docs/no/document/cloud/sharepoint-documents/learn/index.md
  docs/no/document/cloud/sharepoint-documents/learn/set-up-folders.md
  docs/sv/admin/preferences/learn/document-library/index.md
  docs/sv/document/cloud/sharepoint-documents/learn/index.md
  docs/sv/document/cloud/sharepoint-documents/learn/set-up-folders.md
Labels: doc-enhancement

#1030 update to to general info on ZFP
  docs/en/document/cloud/sharepoint-documents/index.md
Labels: integration

#1036 Add href for form-templates and submissions/index #1035
  docs/da/marketing/forms/learn/toc.yml
  docs/de/marketing/forms/learn/toc.yml
  docs/en/marketing/forms/learn/toc.yml
  docs/nl/marketing/forms/learn/toc.yml
  docs/no/marketing/forms/learn/toc.yml
  docs/sv/marketing/forms/learn/toc.yml
Labels: doc-bug

#1013 Update blocked-tables.md
  docs/en/mirroring/blocked-tables.md
Labels: doc-enhancement, online-dev

#1040 1034 10.3.1 release notes
  docs/media/loc/en/admin/admin-lists-webpanel-reload.png
  docs/media/loc/en/admin/admin-system-design-field-properties.png
  docs/media/loc/en/dashboard/dashboard-request-tiles.png
  docs/media/loc/en/dashboard/dashboard-requests.png
  docs/media/loc/en/dashboard/dashboard-search-requests.png
  docs/media/loc/en/request/request-saint-monitor.png
  docs/media/loc/en/request/requests-accept-ownership.png
  release-notes/10.2/index.md
  release-notes/10.3/admin/10.3.1-update.md
  release-notes/10.3/admin/index.md
  release-notes/10.3/api/index.md
  release-notes/10.3/core-crm/10.3.1-update.md
  release-notes/10.3/core-crm/index.md
  release-notes/10.3/index.md
  release-notes/10.3/service/10.3.1-update.md
  release-notes/10.3/service/index.md
  release-notes/10.3/toc.yml
  release-notes/index.md
  release-notes/mobile/includes/request-type-update.md
  release-notes/mobile/index.md
  release-notes/mobile/toc.yml
  release-notes/toc.yml
Labels: release-notes

#1042 Add missing text re Request Properties sidebar #1034
  release-notes/10.3/admin/10.3.1-update.md
Labels: doc-bug, release-notes

#1045 Omit reverted markdownlint rules
  .github/workflows/ci.yml
Labels: docs/build
