Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-12, with the labels that each got.

#1527 SV - wrong wording - Update notifications.md
  docs/sv/learn/basics/notifications.md
Labels: doc-bug, learn

#1538 1536 10.3.13 release notes
  release-notes/10.3/index.md
  release-notes/index.md
Labels: release-notes

#1553 Remove Fill char section from template variables #1544
  docs/da/document/templates/learn/template-variables.md
  docs/de/document/templates/learn/template-variables.md
  docs/en/document/templates/learn/template-variables.md
  docs/nl/document/templates/learn/template-variables.md
  docs/no/document/templates/learn/template-variables.md
  docs/sv/document/templates/learn/template-variables.md
Labels: doc-bug

#1556 Update requirement for video meetings #1324
  docs/da/admin/preferences/learn/video-meetings/index.md
  docs/da/diary/learn/video-meetings.md
  docs/de/admin/preferences/learn/video-meetings/index.md
  docs/de/diary/learn/video-meetings.md
  docs/en/admin/preferences/learn/video-meetings/index.md
  docs/en/diary/learn/video-meetings.md
  docs/en/video-meeting/index.md
  docs/en/video-meeting/ms-teams/index.md
  docs/nl/admin/preferences/learn/video-meetings/index.md
  docs/nl/diary/learn/video-meetings.md
  docs/no/admin/preferences/learn/video-meetings/index.md
  docs/no/diary/learn/video-meetings.md
  docs/sv/admin/preferences/learn/video-meetings/index.md
  docs/sv/diary/learn/video-meetings.md
Labels: doc-enhancement

#1564 Update request priority list #1561
  docs/da/request/learn/priority/index.md
  docs/de/request/learn/priority/index.md
  docs/en/request/learn/priority/index.md
  docs/nl/request/learn/priority/index.md
  docs/no/request/learn/priority/index.md
  docs/sv/request/learn/priority/index.md
Labels: doc-bug

#1552 Developer portal 1.29 Tenants #1534
  docs/en/developer-portal/analytics/customers.md
  docs/en/developer-portal/analytics/media/customers.png
  docs/en/developer-portal/analytics/metered-services.md
  docs/en/developer-portal/includes/app-envir-intro.md
  docs/en/developer-portal/index.yml
  docs/en/developer-portal/media/online-environments-sidebyside-650.png
  docs/en/developer-portal/media/online-environments.png
  docs/en/developer-portal/tenants/authorization.md
  docs/en/developer-portal/tenants/get.md
  docs/en/developer-portal/tenants/index.md
  docs/en/developer-portal/tenants/info.md
  docs/en/developer-portal/tenants/media/customers.png
  docs/en/developer-portal/tenants/media/edit-authorization.png
  docs/en/developer-portal/tenants/media/order-sandbox.png
  docs/en/developer-portal/tenants/media/remove-authorization.png
  docs/en/developer-portal/tenants/media/request-authorization.png
  docs/en/developer-portal/tenants/media/request-new-tenant.png
  docs/en/developer-portal/tenants/media/tenant-details-overview.png
  docs/en/developer-portal/tenants/media/tenants-page.png
  docs/en/developer-portal/toc.yml
Labels: doc-enhancement, online-dev, developer-portal

#1573 Fix Danish translation of former employee #1568
  docs/da/admin/user-management/learn/add-associate.md
  docs/da/contact/learn/create.md
  docs/da/email/mail-link/learn/manage-senders.md
  docs/da/learn/section-tabs/contacts-tab.md
  docs/da/marketing/flows/learn/participants.md
  docs/da/marketing/recipients/learn/manage-bounces.md
  docs/da/ui/screen-designer/learn/reference.md
Labels: doc-bug, translation

#1572 Added missing values
  docs/en/automation/crmscript/reference/CRMScript.Native.Ticket.yml
Labels: doc-bug, crmscript

#1579 Add info about functional right #1569
  docs/da/request/learn/howto/edit-message.md
  docs/de/request/learn/howto/edit-message.md
  docs/en/request/learn/howto/edit-message.md
  docs/nl/request/learn/howto/edit-message.md
  docs/no/request/learn/howto/edit-message.md
  docs/sv/request/learn/howto/edit-message.md
Labels: doc-enhancement, learn

#1581 Update screenshots v 1.29 #1580
  docs/en/developer-portal/media/app-overview.png
  docs/en/developer-portal/media/nav-partner.png
  docs/en/developer-portal/media/partner-overview.png
  docs/en/developer-portal/partner/media/partner-settings.png
  docs/en/developer-portal/partner/media/technical-contacts.png
  docs/en/developer-portal/partner/media/users.png
  docs/en/developer-portal/standard-app/app-store/media/partner-profile.png
  docs/en/developer-portal/tenants/index.md
  docs/en/developer-portal/tenants/media/customers.png
  docs/en/developer-portal/tenants/media/edit-authorization.png
  docs/en/developer-portal/tenants/media/remove-authorization.png
  docs/en/developer-portal/tenants/media/request-authorization.png
  docs/en/developer-portal/tenants/media/tenants.png
Labels: developer-portal

#1583 Redirect old Document dialog #1582
  docs/da/contact/learn/send-email.md
  docs/da/document/learn/create.md
  docs/da/document/learn/screen/index.md
  docs/da/document/learn/toc.yml
  docs/da/email/inbox/learn/archive.md
  docs/da/learn/getting-started/main-screen/side-panel.md
  docs/da/learn/index.yml
  docs/da/project/learn/project-members/send-email-to.md
  docs/da/quote/learn/create-quote-document.md
  docs/de/contact/learn/send-email.md
  docs/de/document/learn/create.md
  docs/de/document/learn/screen/index.md
  docs/de/document/learn/toc.yml
  docs/de/email/inbox/learn/archive.md
  docs/de/learn/getting-started/main-screen/side-panel.md
  docs/de/learn/index.yml
  docs/de/project/learn/project-members/send-email-to.md
  docs/de/quote/learn/create-quote-document.md
  docs/en/contact/learn/send-email.md
  docs/en/document/learn/create.md
  docs/en/document/learn/screen/index.md
  docs/en/document/learn/toc.yml
  docs/en/email/inbox/learn/archive.md
  docs/en/learn/getting-started/main-screen/side-panel.md
  docs/en/learn/index.yml
  docs/en/project/learn/project-members/send-email-to.md
  docs/en/quote/learn/create-quote-document.md
  docs/media/loc/en/document/create-document-pilot.png
  docs/media/loc/en/document/create-document.png
  docs/nl/contact/learn/send-email.md
  docs/nl/document/learn/create.md
  docs/nl/document/learn/screen/index.md
  docs/nl/document/learn/toc.yml
  docs/nl/email/inbox/learn/archive.md
  docs/nl/learn/getting-started/main-screen/side-panel.md
  docs/nl/learn/index.yml
  docs/nl/project/learn/project-members/send-email-to.md
  docs/nl/quote/learn/create-quote-document.md
  docs/no/contact/learn/send-email.md
  docs/no/document/learn/create.md
  docs/no/document/learn/screen/index.md
  docs/no/document/learn/toc.yml
  docs/no/email/inbox/learn/archive.md
  docs/no/learn/getting-started/main-screen/side-panel.md
  docs/no/learn/index.yml
  docs/no/project/learn/project-members/send-email-to.md
  docs/no/quote/learn/create-quote-document.md
  docs/sv/contact/learn/send-email.md
  docs/sv/document/learn/create.md
  docs/sv/document/learn/screen/index.md
  docs/sv/document/learn/toc.yml
  docs/sv/email/inbox/learn/archive.md
  docs/sv/learn/getting-started/main-screen/side-panel.md
  docs/sv/learn/index.yml
  docs/sv/project/learn/project-members/send-email-to.md
  docs/sv/quote/learn/create-quote-document.md
Labels: doc-enhancement, learn

#1578 Update sandbox cloning steps #1574
  docs/en/online/sandbox/clone-to.md
Labels: doc-bug, database

#1603 Update Send password option and metadata #1599
  docs/da/customer-center/learn/send-credentials.md
  docs/de/customer-center/learn/send-credentials.md
  docs/en/customer-center/learn/send-credentials.md
  docs/nl/customer-center/learn/send-credentials.md
  docs/no/customer-center/learn/send-credentials.md
  docs/sv/customer-center/learn/send-credentials.md
Labels: doc-bug, learn, CEP

#1604 Remove Event tab on project #1600
  docs/da/project/learn/includes/project-fields.md
  docs/da/project/learn/index.md
  docs/de/project/learn/includes/project-fields.md
  docs/de/project/learn/index.md
  docs/en/project/learn/includes/project-fields.md
  docs/en/project/learn/index.md
  docs/media/icons/select.png
  docs/nl/project/learn/includes/project-fields.md
  docs/nl/project/learn/index.md
  docs/no/project/learn/includes/project-fields.md
  docs/no/project/learn/index.md
  docs/sv/project/learn/includes/project-fields.md
  docs/sv/project/learn/index.md
Labels: doc-bug, learn

#1605 Change template name to Confirmation - Contact added #1566
  docs/da/security/privacy/learn/edit-privacy-confirmation-email.md
  docs/de/security/privacy/learn/edit-privacy-confirmation-email.md
  docs/en/security/privacy/learn/edit-privacy-confirmation-email.md
  docs/nl/security/privacy/learn/edit-privacy-confirmation-email.md
  docs/no/security/privacy/learn/edit-privacy-confirmation-email.md
  docs/sv/security/privacy/learn/edit-privacy-confirmation-email.md
Labels: doc-bug, learn
