Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-08, with the labels that each got.

#1255 Added new information #226
  docs/en/ui/soprotocol/custom-object.md
  docs/en/ui/soprotocol/navigation-points.md
  docs/en/ui/soprotocol/toc.yml
Labels: doc-enhancement, user-interface

#1290 1289 add documentation for flush
  docs/en/api/caching/flush-cache.md
  docs/en/api/toc.yml
  docs/en/api/web-services/howto/custom-objects/rest-create-udef-field.md
  docs/en/api/web-services/howto/custom-objects/rest-delete-udef-field.md
  docs/en/api/web-services/howto/custom-objects/rest-update-udef-field.md
  docs/en/ui/web-panels/index.md
Labels: doc-enhancement, user-interface, online-dev

#1291 DP 1-25 new configuration #1288
  docs/en/developer-portal/best-practices/error-emails.md
  docs/en/developer-portal/best-practices/media/notifications.png
  docs/en/developer-portal/best-practices/tenant-status/get-notifications.md
  docs/en/developer-portal/create-app/config/app-config.md
  docs/en/developer-portal/create-app/config/cors-and-redirection-urls.md
  docs/en/developer-portal/create-app/config/find-clientid.md
  docs/en/developer-portal/create-app/config/get-client-secret.md
  docs/en/developer-portal/create-app/config/index.md
  docs/en/developer-portal/create-app/config/media/allowed-redirects.png
  docs/en/developer-portal/create-app/config/media/app-authentication.png
  docs/en/developer-portal/create-app/config/media/clientid-per-envir.png
  docs/en/developer-portal/create-app/config/media/erp-config.png
  docs/en/developer-portal/create-app/config/media/mirror-config.png
  docs/en/developer-portal/create-app/config/media/secrets-and-certificates.png
  docs/en/developer-portal/create-app/config/media/toggle-advanced.png
  docs/en/developer-portal/create-app/config/new-certificate.md
  docs/en/developer-portal/create-app/config/update-app-config.md
  docs/en/developer-portal/create-app/config/update-endpoints.md
  docs/en/developer-portal/create-app/empty-app.md
  docs/en/developer-portal/create-app/index.md
  docs/en/developer-portal/create-app/media/request-pending.png
  docs/en/developer-portal/create-app/media/request-publish-stage.png
  docs/en/developer-portal/create-app/native-app.md
  docs/en/developer-portal/create-app/sync-app.md
  docs/en/developer-portal/create-app/versioning.md
  docs/en/developer-portal/faq/turn-off-mirroring.md
  docs/en/developer-portal/media/configuration.png
  docs/en/developer-portal/media/integration-settings.png
  docs/en/developer-portal/media/versioning-page.png
  docs/en/developer-portal/provisioning/update-consent-text.md
Labels: doc-enhancement, online-dev, developer-portal

#1298 New flow features for pilot 10.3.8 #1294
  docs/da/marketing/flows/learn/create.md
  docs/da/marketing/flows/learn/define-flow-actions.md
  docs/da/marketing/flows/learn/index.md
  docs/da/marketing/flows/learn/split.md
  docs/da/marketing/flows/learn/step-settings.md
  docs/de/marketing/flows/learn/define-flow-actions.md
  docs/de/marketing/flows/learn/index.md
  docs/de/marketing/flows/learn/split.md
  docs/de/marketing/flows/learn/step-settings.md
  docs/en/marketing/flows/learn/create.md
  docs/en/marketing/flows/learn/define-flow-actions.md
  docs/en/marketing/flows/learn/index.md
  docs/en/marketing/flows/learn/split.md
  docs/en/marketing/flows/learn/step-settings.md
  docs/media/loc/en/marketing/flow-editor-with-step-menu.png
  docs/nl/marketing/flows/learn/create.md
  docs/nl/marketing/flows/learn/define-flow-actions.md
  docs/nl/marketing/flows/learn/index.md
  docs/nl/marketing/flows/learn/split.md
  docs/nl/marketing/flows/learn/step-settings.md
  docs/no/marketing/flows/learn/create.md
  docs/no/marketing/flows/learn/define-flow-actions.md
  docs/no/marketing/flows/learn/index.md
  docs/no/marketing/flows/learn/split.md
  docs/no/marketing/flows/learn/step-settings.md
  docs/sv/marketing/flows/learn/create.md
  docs/sv/marketing/flows/learn/define-flow-actions.md
  docs/sv/marketing/flows/learn/index.md
  docs/sv/marketing/flows/learn/split.md
  docs/sv/marketing/flows/learn/step-settings.md
Labels: doc-enhancement, learn, marketing

#1306 Update info about max available fields and indexing #1258
  docs/da/custom-objects/learn/udef.md
  docs/de/custom-objects/learn/udef.md
  docs/en/custom-objects/learn/udef.md
  docs/nl/custom-objects/learn/udef.md
  docs/no/custom-objects/learn/udef.md
  docs/sv/custom-objects/learn/udef.md
Labels: doc-enhancement, database

#1304 #1293 10.3.8 release notes
  docs/media/loc/en/automation/admin-crmscript-editor-monaco.png
  docs/media/loc/en/request/request-get-next-in-queue.png
  docs/media/loc/en/request/request-preferences-get-next.png
  docs/media/loc/en/request/request-types-reply-forward-settings.png
  release-notes/10.3/admin/10.3.8-update.md
  release-notes/10.3/admin/index.md
  release-notes/10.3/index.md
  release-notes/10.3/service/10.3.8-update.md
  release-notes/10.3/service/index.md
  release-notes/10.3/toc.yml
  release-notes/index.md
  release-notes/mobile/index.md
Labels: release-notes

#1307 Custom objects pilot #1017
  docs/da/custom-objects/admin/create-extra-field.md
  docs/da/custom-objects/learn/extra-field.md
  docs/da/custom-objects/learn/extra-table.md
  docs/da/learn/section-tabs/index.md
  docs/de/custom-objects/admin/create-extra-field.md
  docs/de/custom-objects/learn/extra-field.md
  docs/de/custom-objects/learn/extra-table.md
  docs/de/learn/section-tabs/index.md
  docs/de/search-options/learn/in-navigator.md
  docs/en/custom-objects/admin/create-extra-field.md
  docs/en/custom-objects/learn/extra-field.md
  docs/en/custom-objects/learn/extra-table.md
  docs/en/learn/section-tabs/index.md
  docs/en/search-options/learn/in-dialogs.md
  docs/en/search-options/learn/in-navigator.md
  docs/media/loc/en/automation/custom-object-dashboard.png
  docs/media/loc/en/automation/custom-object-selection.png
  docs/media/loc/en/automation/find-custom-object-relation.png
  docs/media/loc/en/automation/find-screen-with-custom-objects.png
  docs/media/loc/en/automation/go-to-custom-objects.png
  docs/media/loc/en/automation/preview-custom-object-from-side-panel.png
  docs/media/loc/en/automation/preview-inventory-results.png
  docs/media/loc/en/automation/search-inventory.png
  docs/media/loc/en/automation/section-tab-for-relation.png
  docs/nl/custom-objects/admin/create-extra-field.md
  docs/nl/custom-objects/learn/extra-field.md
  docs/nl/custom-objects/learn/extra-table.md
  docs/nl/learn/section-tabs/index.md
  docs/no/custom-objects/admin/create-extra-field.md
  docs/no/custom-objects/learn/extra-field.md
  docs/no/custom-objects/learn/extra-table.md
  docs/no/learn/section-tabs/index.md
  docs/sv/custom-objects/admin/create-extra-field.md
  docs/sv/custom-objects/learn/extra-field.md
  docs/sv/custom-objects/learn/extra-table.md
  docs/sv/learn/section-tabs/index.md
Labels: doc-enhancement
