Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-02, with the labels that each got.

#1050 Icons auto update 20240202.1
  common/icons/chart-type-not-defined-h32.png
  common/icons/chart-type-not-defined.png
  common/icons/flows-mergetags-h32.png
  common/icons/flows-mergetags.png
  common/icons/list-icons/chart-type-not-defined-h32.png
  common/icons/list-icons/chart-type-not-defined.png
  common/icons/singlecolour/extratable-h32.png
  common/icons/singlecolour/extratable.png
Labels: icons

#1052 Add 10.3.1 Onsite
  docs/en/onsite/version-history.md
Labels: onsite

#1047 #1046 Updated date for 10.3.1 release + remove of not released info
  release-notes/10.3/admin/10.3.1-update.md
  release-notes/10.3/admin/index.md
  release-notes/10.3/core-crm/10.3.1-update.md
  release-notes/10.3/core-crm/index.md
  release-notes/10.3/index.md
  release-notes/10.3/service/index.md
  release-notes/10.3/toc.yml
  release-notes/index.md
Labels: release-notes

#1054 #1053 Removing methods
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSPersonEntity.yml
Labels: crmscript

#1058 Update blocked-tables.md
  docs/en/mirroring/blocked-tables.md
Labels: doc-bug, database

#1065 Update ml-on-citrix.md
  docs/en/onsite/install/server/ml-on-citrix.md
Labels: doc-enhancement, onsite

#1066 Bug fix links
  docs/da/company/learn/create.md
  docs/de/company/learn/create.md
  docs/de/mobile/superoffice-mobile/reply-to-request.md
  docs/en/api/entities/howto/custom-objects/get-udef-field-value.md
  docs/en/automation/crmscript/overview/crmscript-usage.md
  docs/en/company/learn/create.md
  docs/en/developer-portal/create-app/server-to-server-app.md
  docs/en/developer-portal/create-app/sync-app.md
  docs/en/developer-portal/standard-app/app-store/update-app-page.md
  docs/en/document/cloud/sharepoint-documents/configure-superoffice.md
  docs/en/search-options/index.yml
  docs/nl/company/learn/create.md
  docs/nl/mobile/superoffice-mobile/reply-to-request.md
  docs/no/company/learn/create.md
  docs/no/mobile/superoffice-mobile/reply-to-request.md
  docs/sv/company/learn/create.md
  docs/sv/mobile/superoffice-mobile/reply-to-request.md
  release-notes/10.3/service/index.md
  release-notes/mobile/includes/request-type-update.md
Labels: broken-link, doc-bug

#1071 Icons auto update 20240213.1
  common/icons/extratable-h32.png
  common/icons/extratable.png
  common/icons/quote-h32.png
  common/icons/quote.png
  common/icons/singlecolour/extratable-h32.png
  common/icons/singlecolour/extratable.png
Labels: icons

#1083 Product changes 10.3.2 #1081
  docs/da/admin/user-management/learn/role/functional-rights.md
  docs/da/diary/learn/invitation/accept-decline.md
  docs/da/sale/learn/forecasting.md
  docs/de/admin/user-management/learn/role/functional-rights.md
  docs/de/diary/learn/invitation/accept-decline.md
  docs/de/sale/learn/forecasting.md
  docs/en/admin/user-management/learn/role/functional-rights.md
  docs/en/diary/learn/invitation/accept-decline.md
  docs/en/sale/learn/forecasting.md
  docs/nl/admin/user-management/learn/role/functional-rights.md
  docs/nl/diary/learn/invitation/accept-decline.md
  docs/nl/sale/learn/forecasting.md
  docs/no/admin/user-management/learn/role/functional-rights.md
  docs/no/diary/learn/invitation/accept-decline.md
  docs/no/sale/learn/forecasting.md
  docs/sv/admin/user-management/learn/role/functional-rights.md
  docs/sv/diary/learn/invitation/accept-decline.md
  docs/sv/sale/learn/forecasting.md
Labels: learn

#1086 Icons auto update 20240221.1
  common/icons/accept-appointment-icon-h32.png
  common/icons/accept-appointment-icon.png
  common/icons/reject-appointment-icon-h32.png
  common/icons/reject-appointment-icon.png
Labels: icons

#1089 Add 10.3.2 Onsite
  docs/en/onsite/version-history.md
Labels: onsite
