Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-11, with the labels that each got.

#1477 #1476 add macos sequoia
  docs/assets/downloads/compatibility/maclink---os-macos-sequoia.xlsx
  docs/en/onsite/compatibility/client-os.md
  docs/en/onsite/compatibility/index.md
  docs/en/onsite/compatibility/media/macos-sequoia.jpg
Labels: doc-enhancement, onsite

#1480 SV - Update follow-ups.md
  docs/sv/diary/learn/follow-ups.md
Labels: doc-bug

#1474 New webhooks for Relations
  docs/en/automation/webhook/event-details.md
  docs/en/automation/webhook/reference/state-events.md
  release-notes/10.3/api/includes/changes-10.3.12.775.md
Labels: doc-enhancement, automation

#1494 SuperOffice Mobile - Update toc.yml
  docs/en/mobile/toc.yml
Labels: doc-bug, doc-enhancement

#1499 Update print selection text, update metadata on print pages #1498
  docs/da/company/learn/print.md
  docs/da/contact/learn/print.md
  docs/da/project/learn/index.md
  docs/da/sale/learn/index.md
  docs/da/search-options/selection/learn/howto/index.md
  docs/da/search-options/selection/learn/howto/print-company-reports.md
  docs/da/search-options/selection/learn/howto/print.md
  docs/da/search-options/selection/learn/howto/toc.yml
  docs/de/company/learn/print.md
  docs/de/contact/learn/print.md
  docs/de/project/learn/index.md
  docs/de/sale/learn/index.md
  docs/de/search-options/selection/learn/howto/index.md
  docs/de/search-options/selection/learn/howto/print-company-reports.md
  docs/de/search-options/selection/learn/howto/print.md
  docs/de/search-options/selection/learn/howto/toc.yml
  docs/en/company/learn/print.md
  docs/en/contact/learn/print.md
  docs/en/project/learn/index.md
  docs/en/sale/learn/index.md
  docs/en/search-options/selection/learn/howto/index.md
  docs/en/search-options/selection/learn/howto/print-company-reports.md
  docs/en/search-options/selection/learn/howto/print.md
  docs/en/search-options/selection/learn/howto/toc.yml
  docs/nl/company/learn/print.md
  docs/nl/contact/learn/print.md
  docs/nl/project/learn/index.md
  docs/nl/sale/learn/index.md
  docs/nl/search-options/selection/learn/howto/index.md
  docs/nl/search-options/selection/learn/howto/print-company-reports.md
  docs/nl/search-options/selection/learn/howto/print.md
  docs/nl/search-options/selection/learn/howto/toc.yml
  docs/no/company/learn/print.md
  docs/no/contact/learn/print.md
  docs/no/project/learn/index.md
  docs/no/sale/learn/index.md
  docs/no/search-options/selection/learn/howto/index.md
  docs/no/search-options/selection/learn/howto/print-company-reports.md
  docs/no/search-options/selection/learn/howto/print.md
  docs/no/search-options/selection/learn/howto/toc.yml
  docs/sv/company/learn/print.md
  docs/sv/contact/learn/print.md
  docs/sv/project/learn/index.md
  docs/sv/sale/learn/index.md
  docs/sv/search-options/selection/learn/howto/index.md
  docs/sv/search-options/selection/learn/howto/print-company-reports.md
  docs/sv/search-options/selection/learn/howto/print.md
  docs/sv/search-options/selection/learn/howto/toc.yml
Labels: doc-enhancement

#1505 Add/edit stakenholders and project members #1365
  docs/da/admin/lists/learn/sale-type.md
  docs/da/project/learn/project-members/add.md
  docs/da/project/learn/project-members/edit.md
  docs/da/sale/learn/stakeholders/create.md
  docs/da/sale/learn/stakeholders/edit.md
  docs/de/admin/lists/learn/sale-type.md
  docs/de/project/learn/project-members/add.md
  docs/de/project/learn/project-members/edit.md
  docs/de/sale/learn/stakeholders/create.md
  docs/de/sale/learn/stakeholders/edit.md
  docs/en/admin/lists/learn/sale-type.md
  docs/en/project/learn/project-members/add.md
  docs/en/project/learn/project-members/edit.md
  docs/en/sale/learn/stakeholders/create.md
  docs/en/sale/learn/stakeholders/edit.md
  docs/media/loc/en/project/add-project-member-from-company.png
  docs/media/loc/en/project/add-project-member-from-group.png
  docs/media/loc/en/project/add-project-member-from-history.png
  docs/media/loc/en/project/set-project-member-function.png
  docs/media/loc/en/sale/add-stakeholders-from-company.png
  docs/media/loc/en/sale/add-stakeholders-from-group.png
  docs/media/loc/en/sale/add-stakeholders-from-history.png
  docs/media/loc/en/sale/chap7-add-stakeholders.png
  docs/media/loc/en/sale/set-stakeholder-role.png
  docs/nl/admin/lists/learn/sale-type.md
  docs/nl/project/learn/project-members/add.md
  docs/nl/project/learn/project-members/edit.md
  docs/nl/sale/learn/stakeholders/create.md
  docs/nl/sale/learn/stakeholders/edit.md
  docs/no/admin/lists/learn/sale-type.md
  docs/no/project/learn/project-members/add.md
  docs/no/project/learn/project-members/edit.md
  docs/no/sale/learn/stakeholders/create.md
  docs/no/sale/learn/stakeholders/edit.md
  docs/sv/admin/lists/learn/sale-type.md
  docs/sv/project/learn/project-members/add.md
  docs/sv/project/learn/project-members/edit.md
  docs/sv/sale/learn/stakeholders/create.md
  docs/sv/sale/learn/stakeholders/edit.md
Labels: doc-enhancement

#1504 Update Mobile CRM security page to latest framework used & where central services are used
  docs/en/mobile/superoffice-mobile/security.md
Labels: doc-enhancement, mobile

#1496 1486 10.3.12 release notes
  docs/media/loc/en/learn/recyble-bin-restore.png
  docs/media/loc/en/learn/user-preferences-search.png
  docs/media/loc/en/marketing/flow-split-action-tracked-form.png
  docs/media/loc/en/marketing/flow-tracked-link-form.png
  docs/media/loc/en/marketing/tracked-links-open-form.png
  docs/media/loc/en/project/project-add-member-function-comment.png
  docs/media/loc/en/project/project-add-member.png
  release-notes/10.3/core-crm/10.3.12-update.md
  release-notes/10.3/core-crm/index.md
  release-notes/10.3/index.md
  release-notes/10.3/marketing/10.3.10-update.md
  release-notes/10.3/marketing/10.3.12-update.md
  release-notes/10.3/marketing/10.3.9-update.md
  release-notes/10.3/marketing/index.md
  release-notes/10.3/toc.yml
  release-notes/index.md
  release-notes/mobile/index.md
Labels: release-notes

#1508 Add 'open form' track link response #1507
  docs/da/marketing/editor/learn/add-tracked-link-to-msg.md
  docs/da/marketing/flows/learn/content.md
  docs/da/marketing/flows/learn/define-flow-actions.md
  docs/da/marketing/flows/learn/split.md
  docs/da/marketing/tracked-links/learn/define-link-actions.md
  docs/da/marketing/tracked-links/learn/index.md
  docs/de/marketing/editor/learn/add-tracked-link-to-msg.md
  docs/de/marketing/flows/learn/content.md
  docs/de/marketing/flows/learn/define-flow-actions.md
  docs/de/marketing/flows/learn/split.md
  docs/de/marketing/tracked-links/learn/define-link-actions.md
  docs/de/marketing/tracked-links/learn/index.md
  docs/en/marketing/editor/learn/add-tracked-link-to-msg.md
  docs/en/marketing/flows/learn/content.md
  docs/en/marketing/flows/learn/define-flow-actions.md
  docs/en/marketing/flows/learn/split.md
  docs/en/marketing/tracked-links/learn/define-link-actions.md
  docs/en/marketing/tracked-links/learn/index.md
  docs/media/loc/en/marketing/link-properties-follow-up.png
  docs/media/loc/en/marketing/link-properties.png
  docs/nl/marketing/editor/learn/add-tracked-link-to-msg.md
  docs/nl/marketing/flows/learn/content.md
  docs/nl/marketing/flows/learn/define-flow-actions.md
  docs/nl/marketing/flows/learn/split.md
  docs/nl/marketing/tracked-links/learn/define-link-actions.md
  docs/nl/marketing/tracked-links/learn/index.md
  docs/no/marketing/editor/learn/add-tracked-link-to-msg.md
  docs/no/marketing/flows/learn/content.md
  docs/no/marketing/flows/learn/define-flow-actions.md
  docs/no/marketing/flows/learn/split.md
  docs/no/marketing/tracked-links/learn/define-link-actions.md
  docs/no/marketing/tracked-links/learn/index.md
  docs/sv/marketing/editor/learn/add-tracked-link-to-msg.md
  docs/sv/marketing/flows/learn/content.md
  docs/sv/marketing/flows/learn/define-flow-actions.md
  docs/sv/marketing/flows/learn/split.md
  docs/sv/marketing/tracked-links/learn/define-link-actions.md
  docs/sv/marketing/tracked-links/learn/index.md
Labels: doc-enhancement, learn, marketing

#1506 Learn - Selection tasks - Update print.md
  docs/da/search-options/selection/learn/howto/print.md
  docs/de/search-options/selection/learn/howto/print.md
  docs/en/search-options/selection/learn/howto/print.md
  docs/nl/search-options/selection/learn/howto/print.md
  docs/no/search-options/selection/learn/howto/print.md
  docs/sv/search-options/selection/learn/howto/print.md
Labels: doc-enhancement, learn

#1524 Updating return types
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSPersonAgent.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSSentryAgent.yml
Labels: doc-enhancement, crmscript
