Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-05, with the labels that each got.

#1175 Add 10.3.5 Onsite
  docs/en/onsite/version-history.md
Labels: onsite

#1176 Icons auto update 20240508.1
  common/icons/list-icons/phone-h32.png
  common/icons/list-icons/phone.png
  common/icons/resource-available-h32.png
  common/icons/resource-available.png
  common/icons/sale-lost-h32.png
  common/icons/sale-lost.png
  common/icons/sale-sold-h32.png
  common/icons/sale-sold.png
  common/icons/sale-stalled-h32.png
  common/icons/sale-stalled.png
  common/icons/task-h32.png
  common/icons/task.png
Labels: icons

#1180 Icons auto update 20240513.2
  common/icons/assignment-even-h32.png
  common/icons/assignment-even.png
  common/icons/assignment-leastopen-h32.png
  common/icons/assignment-leastopen.png
  common/icons/assignment-noassignment-h32.png
  common/icons/assignment-noassignment.png
  common/icons/assignment-weighted-h32.png
  common/icons/assignment-weighted.png
  common/icons/chart-type-column-bar-h32.png
  common/icons/chart-type-column-bar.png
  common/icons/flows-selection-h32.png
  common/icons/flows-selection.png
  common/icons/list-icons/chart-type-gauge-h32.png
  common/icons/list-icons/chart-type-gauge.png
  common/icons/list-icons/chart-type-stacked-area-h32.png
  common/icons/list-icons/chart-type-stacked-area.png
  common/icons/list-icons/folder-h32.png
  common/icons/list-icons/folder.png
  common/icons/nav-admin-requests-active-h32.png
  common/icons/nav-admin-requests-active.png
  common/icons/nav-admin-requests-h32.png
  common/icons/nav-admin-requests.png
  common/icons/nav-admin-saint-active-h32.png
  common/icons/nav-admin-saint-active.png
  common/icons/nav-admin-saint-h32.png
  common/icons/nav-admin-saint.png
  common/icons/nav-dashboard-h32.png
  common/icons/nav-dashboard.png
  common/icons/pref-request-active-h32.png
  common/icons/pref-request-active.png
  common/icons/pref-request-h32.png
  common/icons/pref-request.png
  common/icons/spinner-h32.png
  common/icons/spinner.png
  common/icons/uncolored-svg/nav-admin-requests-h32.png
  common/icons/uncolored-svg/nav-admin-requests.png
  common/icons/uncolored-svg/nav-admin-saint-h32.png
  common/icons/uncolored-svg/nav-admin-saint.png
  common/icons/uncolored-svg/selection-h32.png
  common/icons/uncolored-svg/selection.png
Labels: icons

#1183 Update marketing flows #1179
  docs/en/marketing/flows/learn/content.md
  docs/en/marketing/flows/learn/create.md
  docs/en/marketing/flows/learn/define-flow-actions.md
  docs/en/marketing/flows/learn/index.md
  docs/en/marketing/flows/learn/step-settings.md
  docs/en/marketing/flows/learn/update.md
  docs/en/marketing/flows/learn/view-statistics.md
  docs/media/loc/en/marketing/flow-trigger-filter-contact.png
Labels: learn, marketing

#1182 1177 10.3.6 release notes
  docs/media/loc/en/diary/follow-up-add-attendees.png
  docs/media/loc/en/diary/follow-up-agenda-format.png
  docs/media/loc/en/diary/follow-up-attendees-overview.png
  docs/media/loc/en/diary/follow-up-check-availability.png
  docs/media/loc/en/diary/follow-up-send-email-invitation.png
  docs/media/loc/en/diary/follow-up-with-attendees.png
  docs/media/loc/en/mobile/mobile-crm-follow-up-description-to-title-agenda-internal-notes.png
  docs/media/loc/en/mobile/mobile-crm-follow-up-show-links.png
  docs/media/loc/en/request/request-add-comment-email-recipients.png
  release-notes/10.3/core-crm/10.3.6-update.md
  release-notes/10.3/core-crm/index.md
  release-notes/10.3/index.md
  release-notes/10.3/service/10.3.6-update.md
  release-notes/10.3/service/index.md
  release-notes/10.3/toc.yml
  release-notes/index.md
  release-notes/mobile/10.2.18-update.md
  release-notes/mobile/10.2.19-update.md
  release-notes/mobile/index.md
  release-notes/mobile/toc.yml
Labels: release-notes

#1184 Update Onsite logging
  docs/en/onsite/debug/index.md
  docs/en/onsite/debug/media/log-format.png
  docs/en/onsite/debug/media/log-levels.png
  docs/en/onsite/debug/media/log-to-file.png
  docs/en/onsite/debug/media/netserver-diagnostics-obsolete.png
  docs/en/onsite/debug/web-client.md
Labels: onsite

#1187 Updated EventDataDialogDefinition #1186
  docs/en/automation/crmscript/reference/CRMScript.Native.EventDataDialogDefinition.yml
Labels: crmscript

#1191 Updated CRMScript example eventdatadialogdefinition
  docs/en/automation/crmscript/reference/CRMScript.Native.EventDataDialogDefinition.yml
Labels: crmscript

#1194 Add 10.3.6 Onsite
  docs/en/onsite/version-history.md
Labels: onsite

#1185 1181-saving-entities-best-practice
  docs/en/automation/crmscript/code-quality/best-practices.md
  docs/en/automation/crmscript/netserver/media/create-default-documententity-correct.png
  docs/en/automation/crmscript/netserver/media/create-default-documententity-wrong.png
  docs/en/automation/crmscript/netserver/ns-classes.md
  docs/en/automation/crmscript/toc.yml
Labels: crmscript

#1195 Initial Norwegian translation of flows #1188
  docs/en/marketing/flows/learn/define-flow-actions.md
  docs/en/marketing/flows/learn/index.md
  docs/en/marketing/flows/learn/split.md
  docs/en/marketing/flows/learn/view-statistics.md
  docs/en/marketing/learn/index.md
  docs/no/admin/license/learn/index.md
  docs/no/admin/license/learn/screen/index.md
  docs/no/admin/user-management/learn/role/functional-rights.md
  docs/no/marketing/editor/learn/edit-paragraph.md
  docs/no/marketing/flows/learn/content.md
  docs/no/marketing/flows/learn/create.md
  docs/no/marketing/flows/learn/define-flow-actions.md
  docs/no/marketing/flows/learn/index.md
  docs/no/marketing/flows/learn/participants.md
  docs/no/marketing/flows/learn/run-pause-end.md
  docs/no/marketing/flows/learn/split.md
  docs/no/marketing/flows/learn/step-settings.md
  docs/no/marketing/flows/learn/toc.yml
  docs/no/marketing/flows/learn/update.md
  docs/no/marketing/flows/learn/view-statistics.md
  docs/no/marketing/forms/learn/define-form-actions.md
  docs/no/marketing/learn/best-practices.md
  docs/no/marketing/learn/create-folder.md
  docs/no/marketing/learn/index.md
  docs/no/marketing/learn/toc.yml
  docs/no/marketing/tracked-links/learn/define-link-actions.md
Labels: translation

#1203 Translate flows to German #1189
  docs/de/admin/license/learn/index.md
  docs/de/admin/license/learn/screen/index.md
  docs/de/admin/user-management/learn/role/functional-rights.md
  docs/de/learn/getting-started/connect-email-doc/index.md
  docs/de/learn/section-tabs/filter.md
  docs/de/marketing/flows/learn/content.md
  docs/de/marketing/flows/learn/create.md
  docs/de/marketing/flows/learn/define-flow-actions.md
  docs/de/marketing/flows/learn/index.md
  docs/de/marketing/flows/learn/participants.md
  docs/de/marketing/flows/learn/run-pause-end.md
  docs/de/marketing/flows/learn/split.md
  docs/de/marketing/flows/learn/step-settings.md
  docs/de/marketing/flows/learn/toc.yml
  docs/de/marketing/flows/learn/update.md
  docs/de/marketing/flows/learn/view-statistics.md
  docs/de/marketing/forms/learn/define-form-actions.md
  docs/de/marketing/learn/best-practices.md
  docs/de/marketing/learn/create-folder.md
  docs/de/marketing/learn/index.md
  docs/de/marketing/learn/toc.yml
  docs/de/marketing/tracked-links/learn/define-link-actions.md
  docs/de/project/learn/project-guide/working-with.md
  docs/en/marketing/flows/learn/index.md
Labels: translation, learn, marketing

#1207 #1206 fix lang in flow redirect URLs
  docs/da/marketing/flows/learn/content.md
  docs/da/marketing/flows/learn/create.md
  docs/da/marketing/flows/learn/define-flow-actions.md
  docs/da/marketing/flows/learn/index.md
  docs/da/marketing/flows/learn/participants.md
  docs/da/marketing/flows/learn/run-pause-end.md
  docs/da/marketing/flows/learn/split.md
  docs/da/marketing/flows/learn/step-settings.md
  docs/da/marketing/flows/learn/update.md
  docs/da/marketing/flows/learn/view-statistics.md
  docs/nl/marketing/flows/learn/content.md
  docs/nl/marketing/flows/learn/create.md
  docs/nl/marketing/flows/learn/define-flow-actions.md
  docs/nl/marketing/flows/learn/index.md
  docs/nl/marketing/flows/learn/participants.md
  docs/nl/marketing/flows/learn/run-pause-end.md
  docs/nl/marketing/flows/learn/split.md
  docs/nl/marketing/flows/learn/step-settings.md
  docs/nl/marketing/flows/learn/update.md
  docs/nl/marketing/flows/learn/view-statistics.md
  docs/sv/marketing/flows/learn/content.md
  docs/sv/marketing/flows/learn/create.md
  docs/sv/marketing/flows/learn/define-flow-actions.md
  docs/sv/marketing/flows/learn/index.md
  docs/sv/marketing/flows/learn/participants.md
  docs/sv/marketing/flows/learn/run-pause-end.md
  docs/sv/marketing/flows/learn/split.md
  docs/sv/marketing/flows/learn/step-settings.md
  docs/sv/marketing/flows/learn/update.md
  docs/sv/marketing/flows/learn/view-statistics.md
Labels: broken-link
