Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-06, with the labels that each got.

#1214 Add nameWithType values in String and Map #1200
  docs/en/automation/crmscript/reference/CRMScript.Global.String.yml
  docs/en/automation/crmscript/reference/CRMScript.Native.Map.yml
Labels: doc-bug, crmscript

#1215 Add learn SP documents to toc #1198
  docs/da/document/learn/toc.yml
  docs/de/document/learn/toc.yml
  docs/en/document/learn/toc.yml
  docs/nl/document/learn/toc.yml
  docs/no/document/learn/toc.yml
  docs/sv/document/learn/toc.yml
Labels: doc-bug, learn

#1217 1210 10.3.7 release notes
  docs/media/loc/en/automation/crmscript-markdown-txt.png
  release-notes/10.3/admin/10.3.7-update.md
  release-notes/10.3/admin/index.md
  release-notes/10.3/index.md
  release-notes/10.3/toc.yml
  release-notes/index.md
Labels: release-notes

#1219 Added missing methods
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSAppointmentEntity.yml
Labels: crmscript

#1218 Add new flow features #1213
  docs/de/marketing/flows/learn/content.md
  docs/de/marketing/flows/learn/create.md
  docs/de/marketing/flows/learn/define-flow-actions.md
  docs/de/marketing/flows/learn/index.md
  docs/de/marketing/flows/learn/split.md
  docs/de/marketing/flows/learn/step-settings.md
  docs/de/marketing/flows/learn/update.md
  docs/en/marketing/flows/learn/content.md
  docs/en/marketing/flows/learn/create.md
  docs/en/marketing/flows/learn/define-flow-actions.md
  docs/en/marketing/flows/learn/index.md
  docs/en/marketing/flows/learn/split.md
  docs/en/marketing/flows/learn/step-settings.md
  docs/en/marketing/flows/learn/update.md
  docs/media/loc/en/marketing/flow-editor-with-step-menu.png
  docs/media/loc/en/marketing/flow-steps-initial.png
  docs/media/loc/en/marketing/split-flow-contact-data-yes-exit.png
  docs/media/loc/en/marketing/trigger-form-submitted.png
  docs/no/marketing/flows/learn/content.md
  docs/no/marketing/flows/learn/create.md
  docs/no/marketing/flows/learn/define-flow-actions.md
  docs/no/marketing/flows/learn/index.md
  docs/no/marketing/flows/learn/split.md
  docs/no/marketing/flows/learn/step-settings.md
  docs/no/marketing/flows/learn/update.md
Labels: learn, marketing

#1220 Revise edit signatures page #1199
  docs/da/learn/getting-started/edit-email-signature.md
  docs/de/learn/getting-started/edit-email-signature.md
  docs/en/learn/getting-started/edit-email-signature.md
  docs/media/loc/en/learn/getstarted-preferences-email-signature.png
  docs/nl/learn/getting-started/edit-email-signature.md
  docs/no/learn/getting-started/edit-email-signature.md
  docs/sv/learn/getting-started/edit-email-signature.md
Labels: doc-enhancement, learn

#1221 Clarify request assignment #1197
  docs/da/request/learn/howto/assign.md
  docs/de/request/learn/howto/assign.md
  docs/en/request/learn/howto/assign.md
  docs/media/loc/en/request/assign-requests-even.png
  docs/media/loc/en/request/assign-requests-fewest.png
  docs/media/loc/en/request/assign-requests-not.png
  docs/media/loc/en/request/assign-requests-weighted-diagram.png
  docs/media/loc/en/request/assign-requests-weighted.png
  docs/media/loc/en/request/assign-requests.png
  docs/nl/request/learn/howto/assign.md
  docs/no/request/learn/howto/assign.md
  docs/sv/request/learn/howto/assign.md
Labels: doc-enhancement, service, learn

#1223 Translate flows Danish #1222
  docs/da/admin/license/learn/index.md
  docs/da/admin/license/learn/screen/index.md
  docs/da/admin/user-management/learn/role/functional-rights.md
  docs/da/learn/getting-started/connect-email-doc/index.md
  docs/da/marketing/flows/learn/content.md
  docs/da/marketing/flows/learn/create.md
  docs/da/marketing/flows/learn/define-flow-actions.md
  docs/da/marketing/flows/learn/index.md
  docs/da/marketing/flows/learn/participants.md
  docs/da/marketing/flows/learn/run-pause-end.md
  docs/da/marketing/flows/learn/split.md
  docs/da/marketing/flows/learn/step-settings.md
  docs/da/marketing/flows/learn/toc.yml
  docs/da/marketing/flows/learn/update.md
  docs/da/marketing/flows/learn/view-statistics.md
  docs/da/marketing/forms/learn/define-form-actions.md
  docs/da/marketing/forms/learn/tutorial-sign-up.md
  docs/da/marketing/learn/best-practices.md
  docs/da/marketing/learn/create-folder.md
  docs/da/marketing/learn/index.md
  docs/da/marketing/learn/toc.yml
  docs/da/marketing/tracked-links/learn/define-link-actions.md
  docs/da/project/learn/project-guide/working-with.md
Labels: translation, learn, marketing

#1225 Translate flows to Svedish #1224
  docs/sv/admin/license/learn/index.md
  docs/sv/admin/license/learn/screen/index.md
  docs/sv/admin/user-management/learn/role/functional-rights.md
  docs/sv/learn/getting-started/connect-email-doc/index.md
  docs/sv/marketing/flows/learn/content.md
  docs/sv/marketing/flows/learn/create.md
  docs/sv/marketing/flows/learn/define-flow-actions.md
  docs/sv/marketing/flows/learn/index.md
  docs/sv/marketing/flows/learn/participants.md
  docs/sv/marketing/flows/learn/run-pause-end.md
  docs/sv/marketing/flows/learn/split.md
  docs/sv/marketing/flows/learn/step-settings.md
  docs/sv/marketing/flows/learn/toc.yml
  docs/sv/marketing/flows/learn/update.md
  docs/sv/marketing/flows/learn/view-statistics.md
  docs/sv/marketing/forms/learn/define-form-actions.md
  docs/sv/marketing/learn/best-practices.md
  docs/sv/marketing/learn/create-folder.md
  docs/sv/marketing/learn/index.md
  docs/sv/marketing/learn/toc.yml
  docs/sv/marketing/tracked-links/learn/define-link-actions.md
  docs/sv/project/learn/project-guide/working-with.md
Labels: translation, learn, marketing

#1227 Added the pages for working with flows through the api, and edited the toc.yml to show them
  docs/en/api/toc.yml
  docs/en/api/web-services/howto/flows/index.md
  docs/en/api/web-services/howto/flows/rest-create-default-email-flow.md
  docs/en/api/web-services/howto/flows/rest-create-flow-step.md
  docs/en/api/web-services/howto/flows/rest-create-flow-trigger.md
  docs/en/api/web-services/howto/flows/rest-save-flow.md
Labels: rest-api, sample-idea, marketing

#1231 Added the 'in' filter for strings
  docs/en/api/search/odata/dynamic-provider.md
  docs/en/api/search/odata/index.md
  docs/en/api/search/odata/metadata.md
  docs/en/api/search/odata/strings.md
  docs/en/api/search/odata/using-filters.md
Labels: doc-enhancement

#1230 Added the missing parameters, with descriptions
  docs/en/api/config/data.md
  docs/en/api/config/documents.md
  docs/en/api/config/index.md
  docs/en/api/config/webapi.md
Labels: doc-enhancement, onsite

#1232 Add note linking to override certificate resolver
  docs/en/api/authentication/online/auth-application/index.md
  docs/en/api/authentication/online/certificates/index.md
  docs/en/api/authentication/online/certificates/override-resolver.md
  docs/en/api/authentication/online/sign-in-user/implicit-flow.md
  docs/en/api/authentication/online/validate-security-tokens.md
Labels: doc-enhancement

#1233 Translate flows to Dutch #1226
  docs/en/marketing/flows/learn/define-flow-actions.md
  docs/nl/admin/license/learn/index.md
  docs/nl/admin/license/learn/screen/index.md
  docs/nl/admin/user-management/learn/role/functional-rights.md
  docs/nl/marketing/flows/learn/content.md
  docs/nl/marketing/flows/learn/create.md
  docs/nl/marketing/flows/learn/define-flow-actions.md
  docs/nl/marketing/flows/learn/index.md
  docs/nl/marketing/flows/learn/participants.md
  docs/nl/marketing/flows/learn/run-pause-end.md
  docs/nl/marketing/flows/learn/split.md
  docs/nl/marketing/flows/learn/step-settings.md
  docs/nl/marketing/flows/learn/toc.yml
  docs/nl/marketing/flows/learn/update.md
  docs/nl/marketing/flows/learn/view-statistics.md
  docs/nl/marketing/forms/learn/define-form-actions.md
  docs/nl/marketing/learn/best-practices.md
  docs/nl/marketing/learn/create-folder.md
  docs/nl/marketing/learn/index.md
  docs/nl/marketing/learn/toc.yml
  docs/nl/marketing/tracked-links/learn/add-google-analytics-tag.md
  docs/nl/marketing/tracked-links/learn/define-link-actions.md
  docs/nl/marketing/tracked-links/learn/index.md
Labels: translation, learn, marketing

#1238 Correct soprotocol contact.main info #1116
  docs/en/ui/soprotocol/create-contact.md
Labels: doc-enhancement, user-interface

#1236 Update mailgun option 2
  docs/en/email/mailgun/overview.md
Labels: doc-enhancement

#1235 Learn - Connect email, doc and calender - Update index.md
  docs/da/learn/getting-started/connect-email-doc/index.md
  docs/de/learn/getting-started/connect-email-doc/index.md
  docs/en/learn/getting-started/connect-email-doc/index.md
  docs/nl/learn/getting-started/connect-email-doc/index.md
  docs/no/learn/getting-started/connect-email-doc/index.md
  docs/sv/learn/getting-started/connect-email-doc/index.md
Labels: doc-enhancement, learn

#1242 Icons auto update 20240621.1
  common/icons/assignment-even-h32.png
  common/icons/assignment-even.png
  common/icons/assignment-leastopen-h32.png
  common/icons/assignment-leastopen.png
  common/icons/assignment-noassignment-h32.png
  common/icons/assignment-noassignment.png
  common/icons/assignment-weighted-h32.png
  common/icons/assignment-weighted.png
  common/icons/chart-type-column-bar-h32.png
  common/icons/chart-type-column-bar.png
  common/icons/document-checkout-other-h32.png
  common/icons/document-checkout-other.png
  common/icons/document-checkout-own-h32.png
  common/icons/document-checkout-own.png
  common/icons/flows-selection-h32.png
  common/icons/flows-selection.png
  common/icons/list-icons/chart-type-gauge-h32.png
  common/icons/list-icons/chart-type-gauge.png
  common/icons/list-icons/chart-type-stacked-area-h32.png
  common/icons/list-icons/chart-type-stacked-area.png
  common/icons/list-icons/dice-1-h32.png
  common/icons/list-icons/dice-1.png
  common/icons/list-icons/dice-2-h32.png
  common/icons/list-icons/dice-2.png
  common/icons/list-icons/dice-3-h32.png
  common/icons/list-icons/dice-3.png
  common/icons/list-icons/dice-4-h32.png
  common/icons/list-icons/dice-4.png
  common/icons/list-icons/dice-5-h32.png
  common/icons/list-icons/dice-5.png
  common/icons/list-icons/dice-6-h32.png
  common/icons/list-icons/dice-6.png
  common/icons/list-icons/sentiment-negative-h32.png
  common/icons/list-icons/sentiment-negative.png
  common/icons/list-icons/sentiment-neutral-h32.png
  common/icons/list-icons/sentiment-neutral.png
  common/icons/list-icons/sentiment-positive-h32.png
  common/icons/list-icons/sentiment-positive.png
  common/icons/nav-admin-requests-active-h32.png
  common/icons/nav-admin-requests-active.png
  common/icons/nav-admin-requests-h32.png
  common/icons/nav-admin-requests.png
  common/icons/nav-admin-saint-active-h32.png
  common/icons/nav-admin-saint-active.png
  common/icons/nav-admin-saint-h32.png
  common/icons/nav-admin-saint.png
  common/icons/nav-dashboard-h32.png
  common/icons/nav-dashboard.png
  common/icons/pref-request-active-h32.png
  common/icons/pref-request-active.png
  common/icons/pref-request-h32.png
  common/icons/pref-request.png
  common/icons/spinner-h32.png
  common/icons/spinner.png
  common/icons/uncolored-svg/nav-admin-requests-h32.png
  common/icons/uncolored-svg/nav-admin-requests.png
  common/icons/uncolored-svg/nav-admin-saint-h32.png
  common/icons/uncolored-svg/nav-admin-saint.png
  common/icons/uncolored-svg/selection-h32.png
  common/icons/uncolored-svg/selection.png
Labels: icons

#1243 Update AI Services
  docs/en/ai/index.md
Labels: doc-enhancement, AI
