Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-03, with the labels that each got.

#1095 Fix link to Service mail
  docs/da/email/service/learn/index.md
  docs/de/email/service/learn/index.md
  docs/en/email/service/learn/index.md
  docs/nl/email/service/learn/index.md
  docs/no/email/service/learn/index.md
  docs/sv/email/service/learn/index.md
Labels: service

#1097 ärendetype > ärendetyp #1096
  docs/sv/request/learn/type/index.md
Labels: doc-bug

#1098 Update config.md - add ProxyUrl
  docs/en/webtools/config.md
Labels: integration

#1094 Update SPF info
  docs/en/email/mailgun/dkim/set-up.md
  docs/en/email/mailgun/includes/open-google-domain-settings.md
Labels: integration

#1104 1103 10.3.3 release notes
  docs/media/loc/en/request/request-attachment-preview-download.png
  release-notes/10.0/toc.yml
  release-notes/10.1/toc.yml
  release-notes/10.2/toc.yml
  release-notes/10.3/admin/10.3.2-update.md
  release-notes/10.3/core-crm/10.3.2-update.md
  release-notes/10.3/index.md
  release-notes/10.3/service/10.3.2-update.md
  release-notes/10.3/service/10.3.3-update.md
  release-notes/10.3/service/index.md
  release-notes/10.3/toc.yml
  release-notes/8.5/toc.yml
  release-notes/9.1/toc.yml
  release-notes/9.2/toc.yml
  release-notes/mobile/10.2.18-update.md
  release-notes/mobile/toc.yml
Labels: release-notes

#1108 Add SharePoint v1 EOL announcement #1107
  release-notes/eol/index.md
  release-notes/eol/sharepoint-app.md
  release-notes/eol/toc.yml
Labels: release-notes

#1118 Update note and link to Copilot #1112
  docs/en/ai/copilot/index.md
Labels: AI

#1119 Remove MailKit version
  docs/en/email/inbox/index.md
Labels: integration

#1120 Update screenshot of repeating follow-up dialog #984
  docs/media/loc/en/diary/change-repeating-fo.png
Labels: doc-enhancement

#1121 Add 10.3.3 Onsite
  docs/en/onsite/version-history.md
Labels: onsite

#1122 update binf/binl descr, rename apt to follow-up
  common/includes/variable/table-appointment.md
  docs/en/document/toc.yml
Labels: doc-enhancement

#1124 Update SharePoint migration guide #1101
  docs/en/document/cloud/sharepoint-documents/migrate/index.md
  docs/en/document/cloud/sharepoint-documents/migrate/troubleshooting.md
Labels: doc-enhancement, integration

#1125 Add basic password policy #1102
  docs/en/identity-management/user/enforce-password-policy.md
Labels: doc-enhancement, auth

#1127 Add warning to OMT migration guide #1101
  docs/en/online/migrate/index.md
Labels: doc-enhancement

#1128 Link between mirroring task and preferences #1021
  docs/da/admin/preferences/learn/global-preferences/system.md
  docs/de/admin/preferences/learn/global-preferences/system.md
  docs/en/admin/preferences/learn/global-preferences/system.md
  docs/en/mirroring/mirroring-task.md
  docs/nl/admin/preferences/learn/global-preferences/system.md
  docs/no/admin/preferences/learn/global-preferences/system.md
  docs/sv/admin/preferences/learn/global-preferences/system.md
Labels: doc-enhancement, integration

#1134 Add link to Service variables #1078
  docs/da/admin/lists/learn/document-template.md
  docs/de/admin/lists/learn/document-template.md
  docs/en/admin/lists/learn/document-template.md
  docs/nl/admin/lists/learn/document-template.md
  docs/no/admin/lists/learn/document-template.md
  docs/sv/admin/lists/learn/document-template.md
Labels: doc-enhancement, learn
