Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-09, with the labels that each got.

#1316 Update translation #1312
  docs/nl/diary/learn/follow-ups.md
Labels: doc-bug, translation

#1317 Update descr of Today in AI Copilot #1310
  docs/en/ai/copilot/index.md
Labels: doc-enhancement, AI

#1318 Update scim screenshots #1309
  docs/en/identity-management/scim/provisioning/media/b01f4cd8-a2c8-4f62-b7ad-f51f26c2ca3f.png
  docs/en/identity-management/scim/provisioning/media/ca58bf0e-5854-4728-9928-297aab9c9f7a.png
  docs/en/identity-management/scim/provisioning/media/scim-clear-synced-aad.png
  docs/en/identity-management/scim/provisioning/media/scim-initial-cycle-completed.png
  docs/en/identity-management/scim/provisioning/media/scim-restart-provisioning.png
  docs/en/identity-management/scim/provisioning/restart-sync.md
  docs/en/identity-management/scim/setup/create-azure-enterprise-app.md
  docs/en/identity-management/scim/setup/media/image3jfz4q.png
  docs/en/identity-management/scim/setup/media/image44zrl.png
  docs/en/identity-management/scim/setup/media/imageq74vv.png
  docs/en/identity-management/scim/setup/media/imagexnbgj.png
  docs/en/identity-management/scim/setup/media/scim-aad-mapping-externalid.png
  docs/en/identity-management/scim/setup/media/scim-admin-credentials.png
  docs/en/identity-management/scim/setup/media/scim-incremental-cycle-completed.png
  docs/en/identity-management/scim/setup/media/scim-mapping-objectid-precedence.png
  docs/en/identity-management/scim/setup/media/scim-provisioning-automatic.png
Labels: doc-enhancement

#1319 Update link to tutorial to go to the actual tutorial
  docs/en/document/templates/learn/quote-templates.md
Labels: broken-link, doc-bug

#1314 Delete docs/en/ui/blogic/reference/fck-editor.md
  docs/en/ui/blogic/custom-screens/form-elements.md
  docs/en/ui/blogic/reference/fck-editor.md
  docs/en/ui/blogic/toc.yml
Labels: doc-enhancement, user-interface

#1331 Move table to include and reuse for add-udef #1321
  docs/da/custom-objects/admin/add-udef.md
  docs/da/globalization-and-localization/includes/table-legacy-language-codes.md
  docs/da/onsite/win-client/learn/using-document-templates-for-multiple-languages.md
  docs/de/custom-objects/admin/add-udef.md
  docs/de/globalization-and-localization/includes/table-legacy-language-codes.md
  docs/de/onsite/win-client/learn/using-document-templates-for-multiple-languages.md
  docs/en/custom-objects/admin/add-udef.md
  docs/en/globalization-and-localization/includes/table-legacy-language-codes.md
  docs/en/onsite/win-client/learn/using-document-templates-for-multiple-languages.md
  docs/media/loc/en/custom-objects/add-udef-multi-languages.png
  docs/nl/custom-objects/admin/add-udef.md
  docs/nl/globalization-and-localization/includes/table-legacy-language-codes.md
  docs/nl/onsite/win-client/learn/using-document-templates-for-multiple-languages.md
  docs/no/custom-objects/admin/add-udef.md
  docs/no/globalization-and-localization/includes/table-legacy-language-codes.md
  docs/no/onsite/win-client/learn/using-document-templates-for-multiple-languages.md
  docs/sv/custom-objects/admin/add-udef.md
  docs/sv/globalization-and-localization/includes/table-legacy-language-codes.md
  docs/sv/onsite/win-client/learn/using-document-templates-for-multiple-languages.md
Labels: doc-enhancement

#1322 #1320 Added new trigger events
  docs/en/automation/trigger/reference/CRMScript.Event.Trigger.yml
Labels: crmscript

#1325 Added information for using the CustomObjectDynamicSelectionV2 and Dy…
  docs/en/api/web-services/howto/custom-objects/custom-objects-search.md
Labels: doc-enhancement, rest-api

#1332 Add public endpoint (5) #1299
  docs/en/developer-portal/best-practices/tenant-status/get-notifications.md
  docs/en/developer-portal/best-practices/tenant-status/includes/CustomerStateChangeNotificationType.cs
  docs/en/developer-portal/best-practices/tenant-status/includes/NotificationMessage.cs
Labels: doc-enhancement, online-dev

#1336 1326 10.3.9 release notes
  docs/media/loc/en/company/company-sales-column-calculation.png
  docs/media/loc/en/company/company-sectiontab-settings.png
  docs/media/loc/en/sale/selection-sales-column-calculation-grouping-base-currency.png
  docs/media/loc/en/sale/selection-sales-column-calculation-grouping.png
  release-notes/10.3/core-crm/10.3.9-update.md
  release-notes/10.3/core-crm/index.md
  release-notes/10.3/index.md
  release-notes/10.3/toc.yml
  release-notes/index.md
Labels: release-notes

#1345 Column calculations #1338
  docs/da/company/learn/screen/sales-tab.md
  docs/da/contact/learn/screen/sales-tab.md
  docs/da/learn/section-tabs/configure-columns.md
  docs/da/learn/section-tabs/filter.md
  docs/da/learn/section-tabs/group.md
  docs/da/project/learn/screen/sale.md
  docs/da/search-options/selection/learn/index.md
  docs/da/search-options/selection/learn/screen/index.md
  docs/de/company/learn/screen/sales-tab.md
  docs/de/contact/learn/screen/sales-tab.md
  docs/de/learn/section-tabs/configure-columns.md
  docs/de/learn/section-tabs/filter.md
  docs/de/learn/section-tabs/group.md
  docs/de/project/learn/screen/sale.md
  docs/de/search-options/selection/learn/index.md
  docs/de/search-options/selection/learn/screen/index.md
  docs/en/company/learn/screen/sales-tab.md
  docs/en/contact/learn/screen/sales-tab.md
  docs/en/learn/section-tabs/configure-columns.md
  docs/en/learn/section-tabs/filter.md
  docs/en/learn/section-tabs/group.md
  docs/en/project/learn/screen/sale.md
  docs/en/search-options/selection/learn/index.md
  docs/en/search-options/selection/learn/screen/index.md
  docs/media/loc/en/learn/archive-enable-grouping.png
  docs/media/loc/en/learn/archives-enable-filter.png
  docs/media/loc/en/sale/currency-adjusted-sale-amount-calculation.png
  docs/nl/company/learn/screen/sales-tab.md
  docs/nl/contact/learn/screen/sales-tab.md
  docs/nl/learn/section-tabs/configure-columns.md
  docs/nl/learn/section-tabs/filter.md
  docs/nl/learn/section-tabs/group.md
  docs/nl/project/learn/screen/sale.md
  docs/nl/reports/learn/filter.md
  docs/nl/sale/learn/screen/activities-sale.md
  docs/nl/search-options/selection/learn/index.md
  docs/nl/search-options/selection/learn/screen/index.md
  docs/no/company/learn/screen/sales-tab.md
  docs/no/contact/learn/screen/sales-tab.md
  docs/no/learn/section-tabs/configure-columns.md
  docs/no/learn/section-tabs/filter.md
  docs/no/learn/section-tabs/group.md
  docs/no/project/learn/screen/sale.md
  docs/no/search-options/selection/learn/index.md
  docs/no/search-options/selection/learn/screen/index.md
  docs/sv/company/learn/screen/sales-tab.md
  docs/sv/contact/learn/screen/sales-tab.md
  docs/sv/learn/section-tabs/configure-columns.md
  docs/sv/learn/section-tabs/filter.md
  docs/sv/learn/section-tabs/group.md
  docs/sv/project/learn/screen/sale.md
  docs/sv/search-options/selection/learn/index.md
  docs/sv/search-options/selection/learn/screen/index.md
Labels: doc-enhancement, learn

#1348 DP 1.26 partner profile update #1340
  docs/en/developer-portal/index.yml
  docs/en/developer-portal/standard-app/app-store/media/partner-profile.png
  docs/en/developer-portal/standard-app/app-store/media/recommended-links.png
  docs/en/developer-portal/standard-app/app-store/update-partner-profile.md
Labels: online-dev, developer-portal

#1349 Notify by SMS and other 10.3.9 flow changes #1339
  docs/da/marketing/flows/learn/content.md
  docs/da/marketing/flows/learn/create.md
  docs/da/marketing/flows/learn/define-flow-actions.md
  docs/da/marketing/flows/learn/index.md
  docs/da/marketing/flows/learn/step-settings.md
  docs/de/marketing/flows/learn/content.md
  docs/de/marketing/flows/learn/create.md
  docs/de/marketing/flows/learn/define-flow-actions.md
  docs/de/marketing/flows/learn/index.md
  docs/de/marketing/flows/learn/step-settings.md
  docs/en/marketing/flows/learn/content.md
  docs/en/marketing/flows/learn/create.md
  docs/en/marketing/flows/learn/define-flow-actions.md
  docs/en/marketing/flows/learn/index.md
  docs/en/marketing/flows/learn/step-settings.md
  docs/media/loc/en/marketing/flow-editor-with-step-menu.png
  docs/media/loc/en/marketing/flow-settings.png
  docs/media/loc/en/marketing/flow-steps-initial.png
  docs/media/loc/en/marketing/send-email-welcome-with-attachment.png
  docs/nl/marketing/flows/learn/content.md
  docs/nl/marketing/flows/learn/create.md
  docs/nl/marketing/flows/learn/define-flow-actions.md
  docs/nl/marketing/flows/learn/index.md
  docs/nl/marketing/flows/learn/step-settings.md
  docs/no/marketing/flows/learn/content.md
  docs/no/marketing/flows/learn/create.md
  docs/no/marketing/flows/learn/define-flow-actions.md
  docs/no/marketing/flows/learn/index.md
  docs/no/marketing/flows/learn/step-settings.md
  docs/sv/marketing/flows/learn/content.md
  docs/sv/marketing/flows/learn/create.md
  docs/sv/marketing/flows/learn/define-flow-actions.md
  docs/sv/marketing/flows/learn/index.md
  docs/sv/marketing/flows/learn/step-settings.md
Labels: marketing

#1352 Remove mentions of show notepad #1351
  docs/da/learn/basics/notes.md
  docs/da/learn/getting-started/main-screen/buttons-in-menu-bar.md
  docs/da/learn/getting-started/main-screen/side-panel.md
  docs/de/learn/basics/notes.md
  docs/de/learn/getting-started/main-screen/buttons-in-menu-bar.md
  docs/de/learn/getting-started/main-screen/side-panel.md
  docs/en/learn/basics/notes.md
  docs/en/learn/getting-started/main-screen/buttons-in-menu-bar.md
  docs/en/learn/getting-started/main-screen/side-panel.md
  docs/nl/learn/basics/notes.md
  docs/nl/learn/getting-started/main-screen/buttons-in-menu-bar.md
  docs/nl/learn/getting-started/main-screen/side-panel.md
  docs/no/learn/basics/notes.md
  docs/no/learn/getting-started/main-screen/buttons-in-menu-bar.md
  docs/no/learn/getting-started/main-screen/side-panel.md
  docs/sv/learn/basics/notes.md
  docs/sv/learn/getting-started/main-screen/buttons-in-menu-bar.md
  docs/sv/learn/getting-started/main-screen/side-panel.md
Labels: doc-enhancement

#1360 Add Included numbers caller ID section #1359
  docs/en/api/web-services/index.md
  docs/en/mobile/superoffice-mobile/getting-started/caller-id.md
Labels: doc-enhancement, mobile

#1363 Remove references to unnecessary text from archive provider references
  docs/en/api/archive-providers/reference/favourites.md
  docs/en/api/archive-providers/reference/listitems.md
  docs/en/api/archive-providers/reference/numbers.md
  docs/en/api/archive-providers/reference/systemevents.md
  docs/en/api/reference/netserver/core/SuperOffice.CRM.ArchiveLists.FavouritesProvider.yml
Labels: doc-bug, do-not-merge

#1366 New redirects and metadata fixes #1364
  docs/da/custom-objects/learn/extra-field/create.md
  docs/da/custom-objects/learn/extra-table/create.md
  docs/da/custom-objects/learn/extra-table/index.md
  docs/da/custom-objects/learn/udef/add.md
  docs/da/custom-objects/learn/udef/index.md
  docs/da/marketing/learn/screen/index.md
  docs/da/marketing/mailing/learn/admin/define-settings-for-mailings.md
  docs/da/marketing/mailing/learn/follow-up/index.md
  docs/de/marketing/learn/work-with-messages-and-templates.md
  docs/nl/custom-objects/learn/extra-field/create.md
  docs/nl/custom-objects/learn/extra-table/create.md
  docs/nl/custom-objects/learn/extra-table/index.md
  docs/nl/custom-objects/learn/udef/add.md
  docs/nl/custom-objects/learn/udef/index.md
  docs/nl/marketing/learn/screen/index.md
  docs/nl/marketing/mailing/learn/admin/define-settings-for-mailings.md
  docs/nl/marketing/mailing/learn/follow-up/index.md
  docs/no/marketing/mailing/learn/create/tutorial-document-mailing.yml
  docs/no/marketing/mailing/learn/create/tutorial-email-mailing.yml
  docs/no/marketing/mailing/learn/create/tutorial-form-mailing.yml
  docs/no/marketing/mailing/learn/create/tutorial-sms-mailing.yml
  docs/no/search-options/selection/learn/create/tutorial.yml
  docs/sv/custom-objects/learn/extra-field/create.md
  docs/sv/custom-objects/learn/extra-table/create.md
  docs/sv/custom-objects/learn/extra-table/index.md
  docs/sv/custom-objects/learn/udef/add.md
  docs/sv/custom-objects/learn/udef/index.md
  docs/sv/marketing/learn/customize-for-mobile.md
  docs/sv/marketing/learn/screen/index.md
  docs/sv/marketing/mailing/learn/admin/define-settings-for-mailings.md
  docs/sv/marketing/mailing/learn/follow-up/index.md
Labels: broken-link, doc-bug

#1370 Update mobile CRM release notes
  release-notes/mobile/index.md
Labels: doc-bug, release-notes
