Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-04, with the labels that each got.

#1131 Add SAML legacy statement #1074
  docs/en/api/authentication/online/sign-in-user/legacy.md
Labels: doc-enhancement, auth, online-dev

#1130 Add TLS 1.3 to security pages #863
  docs/en/developer-portal/standard-app/requirements/security.md
  docs/en/online/security.md
Labels: doc-enhancement, auth, online-dev

#1132 Add HTTP 421 note #1060
  docs/en/developer-portal/best-practices/tenant-status/index.md
Labels: doc-enhancement, online-dev

#1135 Add merge field calculation section #1115
  docs/en/document/templates/quote/index.md
Labels: doc-enhancement

#1140 #1139 - Release notes, just updates of index pages + mobile toc
  release-notes/10.3/index.md
  release-notes/index.md
  release-notes/mobile/toc.yml
Labels: release-notes

#1142 Icons auto update 20240410.1
  common/icons/assignment-even-h32.png
  common/icons/assignment-even.png
  common/icons/assignment-leastopen-h32.png
  common/icons/assignment-leastopen.png
  common/icons/assignment-noassignment-h32.png
  common/icons/assignment-noassignment.png
  common/icons/assignment-weighted-h32.png
  common/icons/assignment-weighted.png
  common/icons/chart-type-column-bar-h32.png
  common/icons/chart-type-column-bar.png
  common/icons/flows-selection-h32.png
  common/icons/flows-selection.png
  common/icons/list-icons/chart-type-gauge-h32.png
  common/icons/list-icons/chart-type-gauge.png
  common/icons/list-icons/chart-type-stacked-area-h32.png
  common/icons/list-icons/chart-type-stacked-area.png
  common/icons/list-icons/extratable-h32.png
  common/icons/list-icons/extratable.png
  common/icons/nav-admin-requests-active-h32.png
  common/icons/nav-admin-requests-active.png
  common/icons/nav-admin-requests-h32.png
  common/icons/nav-admin-requests.png
  common/icons/nav-admin-saint-active-h32.png
  common/icons/nav-admin-saint-active.png
  common/icons/nav-admin-saint-h32.png
  common/icons/nav-admin-saint.png
  common/icons/nav-dashboard-h32.png
  common/icons/nav-dashboard.png
  common/icons/pref-request-active-h32.png
  common/icons/pref-request-active.png
  common/icons/pref-request-h32.png
  common/icons/pref-request.png
  common/icons/spinner-h32.png
  common/icons/spinner.png
  common/icons/uncolored-svg/nav-admin-requests-h32.png
  common/icons/uncolored-svg/nav-admin-requests.png
  common/icons/uncolored-svg/nav-admin-saint-h32.png
  common/icons/uncolored-svg/nav-admin-saint.png
  common/icons/uncolored-svg/selection-h32.png
  common/icons/uncolored-svg/selection.png
Labels: icons

#1146 Fix typo in 10.3.4. api release notes
  release-notes/10.3/api/10.3.4-update.md
Labels: doc-bug, release-notes

#1149 CRMScript: add topichref, list children on index, improve metadata #1148
  docs/en/automation/crmscript/code-quality/index.md
  docs/en/automation/crmscript/datatypes/index.md
  docs/en/automation/crmscript/debugging/index.md
  docs/en/automation/crmscript/debugging/using-trace.md
  docs/en/automation/crmscript/fundamentals/index.md
  docs/en/automation/crmscript/netserver/index.md
  docs/en/automation/crmscript/overview/envir-and-tools.md
  docs/en/automation/crmscript/overview/getting-started.md
  docs/en/automation/crmscript/overview/includes/link-register-dev.md
  docs/en/automation/crmscript/searchengine/index.md
  docs/en/automation/crmscript/toc.yml
  docs/en/automation/crmscript/tutorials/index.md
  docs/en/automation/toc.yml
Labels: broken-link, doc-bug, doc-enhancement, crmscript

#1150 Icons auto update 20240417.1
  common/icons/assignment-even-h32.png
  common/icons/assignment-even.png
  common/icons/assignment-leastopen-h32.png
  common/icons/assignment-leastopen.png
  common/icons/assignment-noassignment-h32.png
  common/icons/assignment-noassignment.png
  common/icons/assignment-weighted-h32.png
  common/icons/assignment-weighted.png
  common/icons/chart-type-column-bar-h32.png
  common/icons/chart-type-column-bar.png
  common/icons/duration-h32.png
  common/icons/duration.png
  common/icons/flows-selection-h32.png
  common/icons/flows-selection.png
  common/icons/list-icons/chart-type-gauge-h32.png
  common/icons/list-icons/chart-type-gauge.png
  common/icons/list-icons/chart-type-stacked-area-h32.png
  common/icons/list-icons/chart-type-stacked-area.png
  common/icons/nav-admin-requests-active-h32.png
  common/icons/nav-admin-requests-active.png
  common/icons/nav-admin-requests-h32.png
  common/icons/nav-admin-requests.png
  common/icons/nav-admin-saint-active-h32.png
  common/icons/nav-admin-saint-active.png
  common/icons/nav-admin-saint-h32.png
  common/icons/nav-admin-saint.png
  common/icons/nav-dashboard-h32.png
  common/icons/nav-dashboard.png
  common/icons/pref-request-active-h32.png
  common/icons/pref-request-active.png
  common/icons/pref-request-h32.png
  common/icons/pref-request.png
  common/icons/singlecolour/flowsparticipants-h32.png
  common/icons/singlecolour/flowsparticipants.png
  common/icons/spinner-h32.png
  common/icons/spinner.png
  common/icons/uncolored-svg/nav-admin-requests-h32.png
  common/icons/uncolored-svg/nav-admin-requests.png
  common/icons/uncolored-svg/nav-admin-saint-h32.png
  common/icons/uncolored-svg/nav-admin-saint.png
  common/icons/uncolored-svg/selection-h32.png
  common/icons/uncolored-svg/selection.png
Labels: icons

#1157 1145 feedback for how to set an interest on or off
  docs/en/automation/crmscript/howto/interests/company-interests.md
  docs/en/automation/crmscript/howto/interests/contact-interests.md
  docs/en/automation/crmscript/howto/interests/index.md
  docs/en/automation/crmscript/howto/interests/media/company-interests-table-relation.png
  docs/en/automation/crmscript/howto/interests/media/company-interests.png
  docs/en/automation/crmscript/howto/interests/media/contact-interests-table-relation.png
  docs/en/automation/crmscript/howto/interests/media/contact-interests.png
  docs/en/automation/crmscript/toc.yml
Labels: doc-enhancement, crmscript, sample-idea

#1158 Clarified attachment max size is per request message #1156
  docs/en/online/system-requirements.md
Labels: doc-enhancement

#1161 Icons auto update 20240423.1
  common/icons/assignment-even-h32.png
  common/icons/assignment-even.png
  common/icons/assignment-leastopen-h32.png
  common/icons/assignment-leastopen.png
  common/icons/assignment-noassignment-h32.png
  common/icons/assignment-noassignment.png
  common/icons/assignment-weighted-h32.png
  common/icons/assignment-weighted.png
  common/icons/chart-type-column-bar-h32.png
  common/icons/chart-type-column-bar.png
  common/icons/duration-h32.png
  common/icons/duration.png
  common/icons/flows-selection-h32.png
  common/icons/flows-selection.png
  common/icons/list-icons/chart-type-gauge-h32.png
  common/icons/list-icons/chart-type-gauge.png
  common/icons/list-icons/chart-type-stacked-area-h32.png
  common/icons/list-icons/chart-type-stacked-area.png
  common/icons/nav-admin-requests-active-h32.png
  common/icons/nav-admin-requests-active.png
  common/icons/nav-admin-requests-h32.png
  common/icons/nav-admin-requests.png
  common/icons/nav-admin-saint-active-h32.png
  common/icons/nav-admin-saint-active.png
  common/icons/nav-admin-saint-h32.png
  common/icons/nav-admin-saint.png
  common/icons/nav-dashboard-h32.png
  common/icons/nav-dashboard.png
  common/icons/person-relation-h32.png
  common/icons/person-relation.png
  common/icons/pref-request-active-h32.png
  common/icons/pref-request-active.png
  common/icons/pref-request-h32.png
  common/icons/pref-request.png
  common/icons/relation-h32.png
  common/icons/relation.png
  common/icons/spinner-h32.png
  common/icons/spinner.png
  common/icons/uncolored-svg/nav-admin-requests-h32.png
  common/icons/uncolored-svg/nav-admin-requests.png
  common/icons/uncolored-svg/nav-admin-saint-h32.png
  common/icons/uncolored-svg/nav-admin-saint.png
  common/icons/uncolored-svg/selection-h32.png
  common/icons/uncolored-svg/selection.png
Labels: icons

#1163 Updating #1123 with suggestions
  docs/en/automation/crmscript/reference/CRMScript.Global.String.yml
Labels: doc-enhancement, crmscript

#1160 Update soprotocol example
  docs/en/ui/soprotocol/index.md
Labels: user-interface

#1164 Icons auto update 20240425.1
  common/icons/assignment-even-h32.png
  common/icons/assignment-even.png
  common/icons/assignment-leastopen-h32.png
  common/icons/assignment-leastopen.png
  common/icons/assignment-noassignment-h32.png
  common/icons/assignment-noassignment.png
  common/icons/assignment-weighted-h32.png
  common/icons/assignment-weighted.png
  common/icons/chart-type-column-bar-h32.png
  common/icons/chart-type-column-bar.png
  common/icons/flows-selection-h32.png
  common/icons/flows-selection.png
  common/icons/list-icons/chart-type-gauge-h32.png
  common/icons/list-icons/chart-type-gauge.png
  common/icons/list-icons/chart-type-stacked-area-h32.png
  common/icons/list-icons/chart-type-stacked-area.png
  common/icons/nav-admin-requests-active-h32.png
  common/icons/nav-admin-requests-active.png
  common/icons/nav-admin-requests-h32.png
  common/icons/nav-admin-requests.png
  common/icons/nav-admin-saint-active-h32.png
  common/icons/nav-admin-saint-active.png
  common/icons/nav-admin-saint-h32.png
  common/icons/nav-admin-saint.png
  common/icons/nav-dashboard-h32.png
  common/icons/nav-dashboard.png
  common/icons/pref-request-active-h32.png
  common/icons/pref-request-active.png
  common/icons/pref-request-h32.png
  common/icons/pref-request.png
  common/icons/resource-conflict-h32.png
  common/icons/resource-conflict.png
  common/icons/spinner-h32.png
  common/icons/spinner.png
  common/icons/uncolored-svg/nav-admin-requests-h32.png
  common/icons/uncolored-svg/nav-admin-requests.png
  common/icons/uncolored-svg/nav-admin-saint-h32.png
  common/icons/uncolored-svg/nav-admin-saint.png
  common/icons/uncolored-svg/selection-h32.png
  common/icons/uncolored-svg/selection.png
Labels: icons

#1168 1165 10.3.5 release notes
  docs/media/loc/en/request/admin-requests-request-type-settings.png
  release-notes/10.3/index.md
  release-notes/10.3/service/10.3.5-update.md
  release-notes/10.3/service/index.md
  release-notes/10.3/toc.yml
  release-notes/index.md
  release-notes/mobile/index.md
Labels: release-notes

#1169 1162 add a section for custom objects under developer guide
  docs/en/api/custom-objects/howto/custom-objects-delete-row.md
  docs/en/api/custom-objects/howto/custom-objects-insert-row.md
  docs/en/api/custom-objects/howto/custom-objects-read-row.md
  docs/en/api/custom-objects/howto/custom-objects-search.md
  docs/en/api/custom-objects/howto/custom-objects-update-row.md
  docs/en/api/custom-objects/index.md
  docs/en/api/toc.yml
Labels: sample-idea

#1170 Marketing automation and flows (EN) #829
  docs/en/admin/license/learn/index.md
  docs/en/admin/license/learn/screen/index.md
  docs/en/admin/license/user-plans.md
  docs/en/admin/user-management/learn/role/functional-rights.md
  docs/en/marketing/flows/learn/content.md
  docs/en/marketing/flows/learn/create.md
  docs/en/marketing/flows/learn/define-flow-actions.md
  docs/en/marketing/flows/learn/index.md
  docs/en/marketing/flows/learn/participants.md
  docs/en/marketing/flows/learn/run-pause-end.md
  docs/en/marketing/flows/learn/split.md
  docs/en/marketing/flows/learn/step-settings.md
  docs/en/marketing/flows/learn/toc.yml
  docs/en/marketing/flows/learn/update.md
  docs/en/marketing/flows/learn/view-statistics.md
  docs/en/marketing/forms/learn/define-form-actions.md
  docs/en/marketing/learn/best-practices.md
  docs/en/marketing/learn/create-folder.md
  docs/en/marketing/learn/index.md
  docs/en/marketing/learn/toc.yml
  docs/en/marketing/mailing/learn/create/includes/step-3-content-email.md
  docs/en/marketing/tracked-links/learn/define-link-actions.md
  docs/media/loc/en/marketing/add-selection-members-to-flow.png
  docs/media/loc/en/marketing/check-flow-status.png
  docs/media/loc/en/marketing/choose-flow-email-template.png
  docs/media/loc/en/marketing/compare-flow-success.png
  docs/media/loc/en/marketing/create-new-email-in-flow.png
  docs/media/loc/en/marketing/flow-dashboard.png
  docs/media/loc/en/marketing/flow-editor-with-step-menu.png
  docs/media/loc/en/marketing/flow-email-content-compose.png
  docs/media/loc/en/marketing/flow-email-settings.png
  docs/media/loc/en/marketing/flow-participant-columns.png
  docs/media/loc/en/marketing/flow-participants.png
  docs/media/loc/en/marketing/flow-send-email-new.png
  docs/media/loc/en/marketing/flow-settings.png
  docs/media/loc/en/marketing/flow-status.png
  docs/media/loc/en/marketing/flow-steps-initial.png
  docs/media/loc/en/marketing/flow-success-form-submission.png
  docs/media/loc/en/marketing/flow-trigger-filter-contact.png
  docs/media/loc/en/marketing/flow-update-contact.png
  docs/media/loc/en/marketing/flow-wait-action.png
  docs/media/loc/en/marketing/flow-wait-time.png
  docs/media/loc/en/marketing/flows-panel.png
  docs/media/loc/en/marketing/send-email-welcome-with-attachment.png
  docs/media/loc/en/marketing/split-flow-company-data-dropdown.png
  docs/media/loc/en/marketing/split-flow-contact-data-no-exit.png
  docs/media/loc/en/marketing/split-flow-contact-data-yes-exit.png
  docs/media/loc/en/marketing/split-flow-form-data-contact-me.png
  docs/media/loc/en/marketing/split-flow-form-submitted.png
  docs/media/loc/en/marketing/split-flow-link-clicked.png
  docs/media/loc/en/marketing/split-flow-project-member.png
  docs/media/loc/en/marketing/trigger-form-submitted.png
  docs/media/loc/en/marketing/view-flow-contents.png
  docs/media/loc/en/marketing/view-status-all-flows.png
  docs/nl/marketing/editor/learn/add-link-to-display-message-in-browser.md
  docs/no/request/learn/howto/create.md
Labels: marketing

#1171 redirect_url for flows
  docs/da/marketing/flows/learn/content.md
  docs/da/marketing/flows/learn/create.md
  docs/da/marketing/flows/learn/define-flow-actions.md
  docs/da/marketing/flows/learn/index.md
  docs/da/marketing/flows/learn/participants.md
  docs/da/marketing/flows/learn/run-pause-end.md
  docs/da/marketing/flows/learn/split.md
  docs/da/marketing/flows/learn/step-settings.md
  docs/da/marketing/flows/learn/toc.yml
  docs/da/marketing/flows/learn/update.md
  docs/da/marketing/flows/learn/view-statistics.md
  docs/de/marketing/flows/learn/content.md
  docs/de/marketing/flows/learn/create.md
  docs/de/marketing/flows/learn/define-flow-actions.md
  docs/de/marketing/flows/learn/index.md
  docs/de/marketing/flows/learn/participants.md
  docs/de/marketing/flows/learn/run-pause-end.md
  docs/de/marketing/flows/learn/split.md
  docs/de/marketing/flows/learn/step-settings.md
  docs/de/marketing/flows/learn/toc.yml
  docs/de/marketing/flows/learn/update.md
  docs/de/marketing/flows/learn/view-statistics.md
  docs/nl/marketing/flows/learn/content.md
  docs/nl/marketing/flows/learn/create.md
  docs/nl/marketing/flows/learn/define-flow-actions.md
  docs/nl/marketing/flows/learn/index.md
  docs/nl/marketing/flows/learn/participants.md
  docs/nl/marketing/flows/learn/run-pause-end.md
  docs/nl/marketing/flows/learn/split.md
  docs/nl/marketing/flows/learn/step-settings.md
  docs/nl/marketing/flows/learn/toc.yml
  docs/nl/marketing/flows/learn/update.md
  docs/nl/marketing/flows/learn/view-statistics.md
  docs/no/marketing/flows/learn/content.md
  docs/no/marketing/flows/learn/create.md
  docs/no/marketing/flows/learn/define-flow-actions.md
  docs/no/marketing/flows/learn/index.md
  docs/no/marketing/flows/learn/participants.md
  docs/no/marketing/flows/learn/run-pause-end.md
  docs/no/marketing/flows/learn/split.md
  docs/no/marketing/flows/learn/step-settings.md
  docs/no/marketing/flows/learn/toc.yml
  docs/no/marketing/flows/learn/update.md
  docs/no/marketing/flows/learn/view-statistics.md
  docs/sv/marketing/flows/learn/content.md
  docs/sv/marketing/flows/learn/create.md
  docs/sv/marketing/flows/learn/define-flow-actions.md
  docs/sv/marketing/flows/learn/index.md
  docs/sv/marketing/flows/learn/participants.md
  docs/sv/marketing/flows/learn/run-pause-end.md
  docs/sv/marketing/flows/learn/split.md
  docs/sv/marketing/flows/learn/step-settings.md
  docs/sv/marketing/flows/learn/toc.yml
  docs/sv/marketing/flows/learn/update.md
  docs/sv/marketing/flows/learn/view-statistics.md
Labels: marketing
