Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2024-10, with the labels that each got.

#1380 1377 10.3.10 release notes
  docs/media/loc/en/marketing/marketing-email-audit-tab.png
  docs/media/loc/en/marketing/marketing-email-body-email-settings-preheader-text.png
  docs/media/loc/en/marketing/marketing-flows-edit-flow-steps.png
  docs/media/loc/en/marketing/marketing-flows-flow-overview.png
  docs/media/loc/en/marketing/marketing-flows-overview-screen.png
  docs/media/loc/en/search-options/selection-task-print-labels-dialog.png
  docs/media/loc/en/search-options/selection-task-print-labels-print-settings.png
  docs/media/loc/en/search-options/selection-task-print-labels.png
  release-notes/10.3/core-crm/10.3.10-update.md
  release-notes/10.3/core-crm/10.3.9-update.md
  release-notes/10.3/core-crm/index.md
  release-notes/10.3/index.md
  release-notes/10.3/marketing/10.3.10-update.md
  release-notes/10.3/marketing/10.3.9-update.md
  release-notes/10.3/marketing/index.md
  release-notes/10.3/toc.yml
  release-notes/index.md
  release-notes/mobile/index.md
Labels: release-notes

#1385 Update print-labels page #1342
  docs/da/search-options/selection/learn/howto/print-labels.md
  docs/de/search-options/selection/learn/howto/print-labels.md
  docs/en/search-options/selection/learn/howto/print-labels.md
  docs/media/loc/en/search-options/choose-label-layout-dialog.png
  docs/nl/search-options/selection/learn/howto/print-labels.md
  docs/no/search-options/selection/learn/howto/print-labels.md
  docs/sv/search-options/selection/learn/howto/print-labels.md
Labels: doc-enhancement

#1393 Add info about audit in mailing editor #1350
  docs/da/marketing/editor/learn/edit-paragraph.md
  docs/da/marketing/editor/learn/index.md
  docs/de/marketing/editor/learn/edit-paragraph.md
  docs/de/marketing/editor/learn/index.md
  docs/en/marketing/editor/learn/edit-paragraph.md
  docs/en/marketing/editor/learn/index.md
  docs/media/icons/marketing-and-forms/side-panel-audit.png
  docs/media/icons/marketing-and-forms/side-panel-blocks.png
  docs/media/icons/marketing-and-forms/side-panel-body-small.png
  docs/media/icons/marketing-and-forms/side-panel-body.png
  docs/media/icons/marketing-and-forms/side-panel-content.png
  docs/media/icons/marketing-and-forms/side-panel-images.png
  docs/media/loc/en/marketing/edit-template.png
  docs/nl/marketing/editor/learn/edit-paragraph.md
  docs/nl/marketing/editor/learn/index.md
  docs/no/marketing/editor/learn/edit-paragraph.md
  docs/no/marketing/editor/learn/index.md
  docs/sv/marketing/editor/learn/edit-paragraph.md
  docs/sv/marketing/editor/learn/index.md
Labels: doc-enhancement, learn, marketing

#1392 #1381 Updating CRMScript reference
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSArchiveAgent.yml
Labels: doc-enhancement, crmscript

#1396 Clarify form report/statistics #1389
  docs/da/marketing/forms/learn/view-statistics.md
  docs/de/marketing/forms/learn/view-statistics.md
  docs/en/marketing/forms/learn/view-statistics.md
  docs/nl/marketing/forms/learn/view-statistics.md
  docs/no/marketing/forms/learn/view-statistics.md
  docs/sv/marketing/forms/learn/view-statistics.md
Labels: doc-enhancement, learn, marketing

#1401 Update SPF note #1388
  docs/da/marketing/mailing/learn/create/includes/spf-look-up.md
  docs/de/marketing/mailing/learn/create/includes/spf-look-up.md
  docs/en/marketing/mailing/learn/create/includes/spf-look-up.md
  docs/nl/marketing/mailing/learn/create/includes/spf-look-up.md
  docs/no/marketing/mailing/learn/create/includes/spf-look-up.md
  docs/sv/marketing/mailing/learn/create/includes/spf-look-up.md
Labels: doc-enhancement, learn, marketing

#1398 Dev portal 1.27 App Store info horizontal tabs
  docs/en/developer-portal/standard-app/app-store/app-settings.md
  docs/en/developer-portal/standard-app/app-store/app-store-info.md
  docs/en/developer-portal/standard-app/app-store/images-and-videos.md
  docs/en/developer-portal/standard-app/app-store/media/app-images-and-videos.png
  docs/en/developer-portal/standard-app/app-store/media/app-store-listing.png
  docs/en/developer-portal/standard-app/app-store/media/details.png
  docs/en/developer-portal/standard-app/app-store/media/how-to-install.png
  docs/en/developer-portal/standard-app/app-store/media/links.png
  docs/en/developer-portal/standard-app/app-store/media/prices-and-terms.png
  docs/en/developer-portal/standard-app/app-store/media/warn-mandatory-missing.png
  docs/en/developer-portal/standard-app/app-store/media/warn-no-links.png
  docs/en/developer-portal/standard-app/app-store/prices-and-terms.md
  docs/en/developer-portal/standard-app/app-store/seo.md
  docs/en/developer-portal/standard-app/app-store/update-app-page.md
  docs/en/developer-portal/standard-app/app-store/user-guide.md
  docs/en/developer-portal/standard-app/includes/see-app-settings.md
Labels: doc-enhancement, online-dev, developer-portal

#1400 483 feedback for soft delete
  docs/en/security/privacy/soft-delete.md
Labels: doc-enhancement, online-dev

#1405 Update revoke.md
  docs/en/developer-portal/provisioning/revoke.md
Labels: doc-enhancement, online-dev, developer-portal

#1404 Update index.md
  docs/en/developer-portal/widgets/index.md
Labels: doc-enhancement, online-dev, developer-portal

#1410 Remove markdownlint comment #1409
  docs/da/contact/learn/move.md
  docs/de/contact/learn/move.md
  docs/en/contact/learn/move.md
  docs/nl/contact/learn/move.md
  docs/no/contact/learn/move.md
  docs/sv/contact/learn/move.md
Labels: doc-bug, learn

#1414 Update CRMScript.Global.String.yml
  docs/en/automation/crmscript/reference/CRMScript.Global.String.yml
Labels: crmscript

#1415 Move CRMScript request howtos #1413
  docs/en/automation/crmscript/howto/request/accept.md
  docs/en/automation/crmscript/howto/request/add-message.md
  docs/en/automation/crmscript/howto/request/create.md
  docs/en/automation/crmscript/howto/request/delegate.md
  docs/en/automation/crmscript/howto/request/escalate.md
  docs/en/automation/crmscript/howto/request/get-message-info.md
  docs/en/automation/crmscript/howto/request/get-ticket-info.md
  docs/en/automation/crmscript/howto/request/index.md
  docs/en/automation/crmscript/howto/request/reply-templates.md
  docs/en/automation/crmscript/howto/request/reply.md
  docs/en/automation/crmscript/howto/request/request-logs.md
  docs/en/automation/crmscript/howto/request/samples.md
  docs/en/automation/crmscript/howto/request/split-merge.md
  docs/en/automation/crmscript/howto/sale/create.md
  docs/en/automation/crmscript/toc.yml
  docs/en/contact/howto/crmscript/create-user.md
  docs/en/request/howto/crmscript/accept.md
  docs/en/request/howto/crmscript/add-message.md
  docs/en/request/howto/crmscript/create.md
  docs/en/request/howto/crmscript/delegate.md
  docs/en/request/howto/crmscript/escalate.md
  docs/en/request/howto/crmscript/get-message-info.md
  docs/en/request/howto/crmscript/get-ticket-info.md
  docs/en/request/howto/crmscript/index.md
  docs/en/request/howto/crmscript/reply.md
  docs/en/request/howto/crmscript/request-logs.md
  docs/en/request/howto/crmscript/samples.md
  docs/en/request/howto/crmscript/split-merge.md
  docs/en/request/howto/index.md
  docs/en/request/reply-templates/howto/crmscript/index.md
  docs/en/request/toc.yml
Labels: doc-enhancement, crmscript

#1424 Move CRMScript diary samples #1422
  docs/en/automation/crmscript/howto/diary/accept-invitation.md
  docs/en/automation/crmscript/howto/diary/book-resource.md
  docs/en/automation/crmscript/howto/diary/create-appointment.md
  docs/en/automation/crmscript/howto/diary/create-invitation.md
  docs/en/automation/crmscript/howto/diary/create-recurring-appointment.md
  docs/en/automation/crmscript/howto/diary/get-appointment.md
  docs/en/automation/crmscript/howto/diary/get-appointments-in-series.md
  docs/en/automation/crmscript/howto/diary/get-recurrence-info.md
  docs/en/automation/crmscript/howto/diary/index.md
  docs/en/automation/crmscript/howto/diary/plan-outgoing-call.md
  docs/en/automation/crmscript/howto/diary/register-incoming-call.md
  docs/en/automation/crmscript/howto/diary/stop-recurrence.md
  docs/en/automation/crmscript/howto/diary/task.md
  docs/en/automation/crmscript/howto/diary/track-responses.md
  docs/en/automation/crmscript/howto/diary/update-appointment.md
  docs/en/automation/crmscript/howto/diary/update-recurrence.md
  docs/en/automation/crmscript/learn/screen/index.md
  docs/en/automation/crmscript/netserver/crmscript-archiveagent.md
  docs/en/automation/crmscript/toc.yml
  docs/en/diary/howto/crmscript/accept-invitation.md
  docs/en/diary/howto/crmscript/book-resource.md
  docs/en/diary/howto/crmscript/create-appointment.md
  docs/en/diary/howto/crmscript/create-invitation.md
  docs/en/diary/howto/crmscript/create-recurring-appointment.md
  docs/en/diary/howto/crmscript/get-appointment.md
  docs/en/diary/howto/crmscript/get-appointments-in-series.md
  docs/en/diary/howto/crmscript/get-recurrence-info.md
  docs/en/diary/howto/crmscript/index.md
  docs/en/diary/howto/crmscript/plan-outgoing-call.md
  docs/en/diary/howto/crmscript/register-incoming-call.md
  docs/en/diary/howto/crmscript/stop-recurrence.md
  docs/en/diary/howto/crmscript/task.md
  docs/en/diary/howto/crmscript/track-responses.md
  docs/en/diary/howto/crmscript/update-appointment.md
  docs/en/diary/howto/crmscript/update-recurrence.md
  docs/en/diary/howto/index.md
  docs/en/diary/index.yml
  docs/en/diary/toc.yml
Labels: doc-enhancement, crmscript

#1425 Update EOL Reporter
  release-notes/eol/index.md
Labels: release-notes

#1430 Move CRMScript project and address #1427
  docs/en/automation/crmscript/howto/address/get-address.md
  docs/en/automation/crmscript/howto/address/index.md
  docs/en/automation/crmscript/howto/address/set-address.md
  docs/en/automation/crmscript/howto/diary/get-appointment.md
  docs/en/automation/crmscript/howto/diary/update-appointment.md
  docs/en/automation/crmscript/howto/project/create.md
  docs/en/automation/crmscript/howto/project/get.md
  docs/en/automation/crmscript/howto/project/guides.md
  docs/en/automation/crmscript/howto/project/index.md
  docs/en/automation/crmscript/howto/project/members.md
  docs/en/automation/crmscript/howto/project/samples.md
  docs/en/automation/crmscript/howto/project/update.md
  docs/en/automation/crmscript/howto/sale/create.md
  docs/en/automation/crmscript/toc.yml
  docs/en/contact/overview.md
  docs/en/globalization-and-localization/address/howto/crmscript/get-address.md
  docs/en/globalization-and-localization/address/howto/crmscript/index.md
  docs/en/globalization-and-localization/address/howto/crmscript/set-address.md
  docs/en/globalization-and-localization/address/howto/index.md
  docs/en/globalization-and-localization/toc.yml
  docs/en/project/howto/crmscript/create.md
  docs/en/project/howto/crmscript/get.md
  docs/en/project/howto/crmscript/guides.md
  docs/en/project/howto/crmscript/index.md
  docs/en/project/howto/crmscript/members.md
  docs/en/project/howto/crmscript/samples.md
  docs/en/project/howto/crmscript/update.md
  docs/en/project/howto/index.md
  docs/en/project/index.yml
  docs/en/project/overview.md
  docs/en/project/toc.yml
  docs/en/request/index.yml
  docs/en/sale/overview.md
  docs/en/service/index.yml
Labels: doc-enhancement, crmscript

#1440 Move project and address howto, consolidate contact ref #1435
  docs/en/api/caching/associate-cache.md
  docs/en/api/caching/superoffice-crm-cache.md
  docs/en/api/entities/howto/contact/get-associate-list.md
  docs/en/api/rows/howto/address/index.md
  docs/en/api/rows/howto/address/update-address.md
  docs/en/api/sql/howto/project/create.md
  docs/en/api/sql/howto/project/index.md
  docs/en/api/sql/howto/project/project-guide.md
  docs/en/api/sql/howto/project/text-table.md
  docs/en/api/toc.yml
  docs/en/api/web-services/howto/address/get-localized-address.md
  docs/en/api/web-services/howto/address/includes/addressconstants.cs
  docs/en/api/web-services/howto/address/includes/addressfieldextensions.cs
  docs/en/api/web-services/howto/address/index.md
  docs/en/api/web-services/howto/address/set-localized-address.md
  docs/en/automation/crmscript/howto/contact/index.md
  docs/en/automation/crmscript/howto/diary/get-appointment.md
  docs/en/automation/crmscript/howto/project/get.md
  docs/en/automation/crmscript/howto/sale/get.md
  docs/en/automation/crmscript/index.yml
  docs/en/company/reference/index.md
  docs/en/contact/associate.md
  docs/en/contact/blob-pictures.md
  docs/en/contact/howto/index.md
  docs/en/contact/overview.md
  docs/en/contact/reference/index.md
  docs/en/contact/toc.yml
  docs/en/diary/reference/index.md
  docs/en/globalization-and-localization/address/addresshelper.md
  docs/en/globalization-and-localization/address/howto/index.md
  docs/en/globalization-and-localization/address/howto/rows/index.md
  docs/en/globalization-and-localization/address/howto/rows/update-address.md
  docs/en/globalization-and-localization/address/howto/services/get-localized-address.md
  docs/en/globalization-and-localization/address/howto/services/index.md
  docs/en/globalization-and-localization/address/howto/services/set-localized-address.md
  docs/en/globalization-and-localization/address/index.md
  docs/en/globalization-and-localization/toc.yml
  docs/en/onsite/upgrade/75-to-8/win-client.md
  docs/en/project/howto/index.md
  docs/en/project/howto/sql/create.md
  docs/en/project/howto/sql/index.md
  docs/en/project/howto/sql/project-guide.md
  docs/en/project/howto/sql/text-table.md
  docs/en/project/index.yml
  docs/en/project/overview.md
  docs/en/project/reference/index.md
  docs/en/project/reference/media/project-guide.png
  docs/en/project/reference/media/project.png
  docs/en/project/toc.yml
  docs/en/request/overview.md
Labels: doc-enhancement

#1446 Retire Document dialog pilot #1444
  docs/da/document/learn/create.md
  docs/da/document/learn/edit.md
  docs/da/document/learn/index.md
  docs/da/document/learn/lock.md
  docs/da/document/learn/screen/index.md
  docs/da/ui/screen-designer/learn/assign-layout.md
  docs/da/ui/screen-designer/learn/index.md
  docs/da/ui/screen-designer/learn/reference.md
  docs/de/document/learn/create.md
  docs/de/document/learn/edit.md
  docs/de/document/learn/index.md
  docs/de/document/learn/lock.md
  docs/de/document/learn/screen/index.md
  docs/de/ui/screen-designer/learn/assign-layout.md
  docs/de/ui/screen-designer/learn/index.md
  docs/de/ui/screen-designer/learn/reference.md
  docs/en/document/learn/create.md
  docs/en/document/learn/edit.md
  docs/en/document/learn/index.md
  docs/en/document/learn/lock.md
  docs/en/document/learn/screen/index.md
  docs/en/ui/screen-designer/learn/assign-layout.md
  docs/en/ui/screen-designer/learn/index.md
  docs/en/ui/screen-designer/learn/reference.md
  docs/nl/document/learn/create.md
  docs/nl/document/learn/edit.md
  docs/nl/document/learn/index.md
  docs/nl/document/learn/lock.md
  docs/nl/document/learn/screen/index.md
  docs/nl/ui/screen-designer/learn/assign-layout.md
  docs/nl/ui/screen-designer/learn/index.md
  docs/nl/ui/screen-designer/learn/reference.md
  docs/no/document/learn/create.md
  docs/no/document/learn/edit.md
  docs/no/document/learn/index.md
  docs/no/document/learn/lock.md
  docs/no/document/learn/screen/index.md
  docs/no/ui/screen-designer/learn/assign-layout.md
  docs/no/ui/screen-designer/learn/index.md
  docs/no/ui/screen-designer/learn/reference.md
  docs/sv/document/learn/create.md
  docs/sv/document/learn/edit.md
  docs/sv/document/learn/index.md
  docs/sv/document/learn/lock.md
  docs/sv/document/learn/screen/index.md
  docs/sv/ui/screen-designer/learn/assign-layout.md
  docs/sv/ui/screen-designer/learn/index.md
  docs/sv/ui/screen-designer/learn/reference.md
Labels: doc-enhancement

#1442 Updated helper-method and added tables for EventType and EventGroup
  docs/en/automation/crmscript/debugging/helper-functions-for-logging.md
Labels: crmscript, sample-bug

#1448 Update EOL info for reports #1447
  docs/da/reports/learn/index.md
  docs/de/reports/learn/index.md
  docs/en/learn/getting-started/index.md
  docs/en/reports/learn/index.md
  docs/nl/reports/learn/index.md
  docs/no/reports/learn/index.md
  docs/sv/reports/learn/index.md
  release-notes/eol/index.md
  release-notes/eol/reports.md
  release-notes/eol/toc.yml
Labels: release-notes

#1450 Update Onsite history
  docs/en/onsite/version-history.md
Labels: onsite, release-notes

#1452 Add 'max 15' to history list page #1451
  docs/da/learn/basics/history.md
  docs/de/learn/basics/history.md
  docs/en/learn/basics/history.md
  docs/nl/learn/basics/history.md
  docs/no/learn/basics/history.md
  docs/sv/learn/basics/history.md
Labels: doc-enhancement, learn

#1461 Count - add link to data aggregation #1455
  docs/en/developer-portal/best-practices/index.md
Labels: doc-enhancement, online-dev

#1467 Cripple out #1466
  docs/en/admin/toc.yml
  docs/en/admin/user-preferences/reference/cripple.md
Labels: doc-enhancement
