Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2025-04, with the labels that each got.

#1843 #1840 Changes to release info
  release-notes/10.5/index.md
  release-notes/index.md
Labels: release-notes

#1854 #1850 crop superoffice-login.png
  docs/en/automation/zapier/get-started/media/superoffice-login.png
Labels: doc-bug, integration

#1855 #1852 clarify action for Add button
  docs/da/learn/section-tabs/activities-tab.md
  docs/de/learn/section-tabs/activities-tab.md
  docs/en/learn/section-tabs/activities-tab.md
  docs/nl/learn/section-tabs/activities-tab.md
  docs/no/learn/section-tabs/activities-tab.md
  docs/sv/learn/section-tabs/activities-tab.md
Labels: doc-enhancement, learn

#1856 #1853 change enterprise app setup
  docs/en/identity-management/scim/setup/create-azure-enterprise-app.md
Labels: doc-enhancement, integration
