Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2025-02, with the labels that each got.

#1665 Documenting new event ++
  docs/en/automation/crmscript/datatypes/eventdata-type.md
  docs/en/automation/crmscript/toc.yml
  docs/en/automation/crmscript/tutorials/closing-request-tabs-in-triggers.md
  docs/en/automation/crmscript/tutorials/media/tut-add-task-menu-item.png
  docs/en/automation/crmscript/tutorials/media/tut-information-properties.png
  docs/en/automation/crmscript/tutorials/media/tut-request-task-menu.png
  docs/en/automation/trigger/reference/CRMScript.Event.Trigger.yml
Labels: doc-enhancement, crmscript, automation

#1698 Icons auto update 20250206.1
  common/icons/flows-addtolist-h32.png
  common/icons/flows-addtolist.png
  common/icons/flows-email-h32.png
  common/icons/flows-email.png
  common/icons/flows-emailsettings-h32.png
  common/icons/flows-emailsettings.png
  common/icons/flows-finish-h32.png
  common/icons/flows-finish.png
  common/icons/flows-followup-h32.png
  common/icons/flows-followup.png
  common/icons/flows-goals-h32.png
  common/icons/flows-goals.png
  common/icons/flows-notify-h32.png
  common/icons/flows-notify.png
  common/icons/flows-notifyemail-h32.png
  common/icons/flows-notifyemail.png
  common/icons/flows-notifysms-h32.png
  common/icons/flows-notifysms.png
  common/icons/flows-removefromlist-h32.png
  common/icons/flows-removefromlist.png
  common/icons/flows-request-h32.png
  common/icons/flows-request.png
  common/icons/flows-sale-h32.png
  common/icons/flows-sale.png
  common/icons/flows-script-h32.png
  common/icons/flows-script.png
  common/icons/flows-settings-h32.png
  common/icons/flows-settings.png
  common/icons/flows-sms-h32.png
  common/icons/flows-sms.png
  common/icons/flows-split-h32.png
  common/icons/flows-split.png
  common/icons/flows-steps-h32.png
  common/icons/flows-steps.png
  common/icons/flows-trigger-h32.png
  common/icons/flows-trigger.png
  common/icons/flows-updateparticipants-h32.png
  common/icons/flows-updateparticipants.png
  common/icons/flows-wait-h32.png
  common/icons/flows-wait.png
Labels: icons

#1700 1683 10.5.2 release notes
  docs/media/loc/en/admin/admin-crmscript-split-request.png
  docs/media/loc/en/diary/diary-follow-up-context-menu.png
  release-notes/10.2/index.md
  release-notes/10.3/index.md
  release-notes/10.5/admin/10.5.1-update.md
  release-notes/10.5/admin/10.5.2-update.md
  release-notes/10.5/admin/index.md
  release-notes/10.5/api/10.5.1-update.md
  release-notes/10.5/api/index.md
  release-notes/10.5/core-crm/10.5.1-update.md
  release-notes/10.5/core-crm/10.5.2-update.md
  release-notes/10.5/core-crm/index.md
  release-notes/10.5/index.md
  release-notes/10.5/office-integrations/index.md
  release-notes/10.5/office-integrations/sofo-6.0-update.md
  release-notes/10.5/toc.yml
  release-notes/index.md
Labels: release-notes

#1725 #1724 Fix DA translation
  docs/da/learn/customization.yml
Labels: doc-bug, translation, learn

#1726 #1723 Update how to delete flow
  docs/da/marketing/flows/learn/run-pause-end.md
  docs/de/marketing/flows/learn/run-pause-end.md
  docs/en/marketing/flows/learn/run-pause-end.md
  docs/nl/marketing/flows/learn/run-pause-end.md
  docs/no/marketing/flows/learn/run-pause-end.md
  docs/sv/marketing/flows/learn/run-pause-end.md
Labels: doc-bug, learn, marketing

#1730 #1493 new diary UI - remaining translations
  docs/da/diary/learn/create-follow-up.md
  docs/da/diary/learn/edit-follow-up.md
  docs/da/diary/learn/follow-up-assign.md
  docs/da/diary/learn/follow-ups.md
  docs/da/diary/learn/group-view.md
  docs/da/diary/learn/index.md
  docs/da/diary/learn/invitation/accept-decline.md
  docs/da/diary/learn/invitation/add-attendee.md
  docs/da/diary/learn/invitation/add-participant.md
  docs/da/diary/learn/invitation/index.md
  docs/da/diary/learn/move-follow-up.md
  docs/da/diary/learn/other-diaries.md
  docs/da/diary/learn/recurrence/create.md
  docs/da/diary/learn/recurrence/index.md
  docs/da/diary/learn/recurrence/stop.md
  docs/da/diary/learn/screen/index.md
  docs/da/diary/learn/send-as-email.md
  docs/da/diary/learn/set-alarm.md
  docs/da/diary/learn/toc.yml
  docs/da/diary/learn/video-meetings.md
  docs/nl/diary/learn/create-follow-up.md
  docs/nl/diary/learn/edit-follow-up.md
  docs/nl/diary/learn/follow-up-assign.md
  docs/nl/diary/learn/follow-ups.md
  docs/nl/diary/learn/group-view.md
  docs/nl/diary/learn/index.md
  docs/nl/diary/learn/invitation/accept-decline.md
  docs/nl/diary/learn/invitation/add-attendee.md
  docs/nl/diary/learn/invitation/add-participant.md
  docs/nl/diary/learn/invitation/index.md
  docs/nl/diary/learn/move-follow-up.md
  docs/nl/diary/learn/other-diaries.md
  docs/nl/diary/learn/recurrence/create.md
  docs/nl/diary/learn/recurrence/index.md
  docs/nl/diary/learn/recurrence/stop.md
  docs/nl/diary/learn/screen/index.md
  docs/nl/diary/learn/send-as-email.md
  docs/nl/diary/learn/set-alarm.md
  docs/nl/diary/learn/toc.yml
  docs/nl/diary/learn/video-meetings.md
  docs/sv/diary/learn/create-follow-up.md
  docs/sv/diary/learn/edit-follow-up.md
  docs/sv/diary/learn/follow-up-assign.md
  docs/sv/diary/learn/follow-ups.md
  docs/sv/diary/learn/group-view.md
  docs/sv/diary/learn/index.md
  docs/sv/diary/learn/invitation/accept-decline.md
  docs/sv/diary/learn/invitation/add-attendee.md
  docs/sv/diary/learn/invitation/add-participant.md
  docs/sv/diary/learn/invitation/index.md
  docs/sv/diary/learn/move-follow-up.md
  docs/sv/diary/learn/other-diaries.md
  docs/sv/diary/learn/recurrence/create.md
  docs/sv/diary/learn/recurrence/index.md
  docs/sv/diary/learn/recurrence/stop.md
  docs/sv/diary/learn/screen/index.md
  docs/sv/diary/learn/send-as-email.md
  docs/sv/diary/learn/set-alarm.md
  docs/sv/diary/learn/toc.yml
  docs/sv/diary/learn/video-meetings.md
Labels: doc-enhancement, translation, learn

#1741 Update custom-object.md
  docs/en/ui/soprotocol/howto/custom-object.md
Labels: doc-bug, user-interface

#1745 #1706 Mark obsolete/legacy rights
  docs/da/admin/user-management/learn/role/functional-rights.md
  docs/de/admin/user-management/learn/role/functional-rights.md
  docs/en/admin/user-management/learn/role/functional-rights.md
  docs/nl/admin/user-management/learn/role/functional-rights.md
  docs/no/admin/user-management/learn/role/functional-rights.md
  docs/sv/admin/user-management/learn/role/functional-rights.md
Labels: doc-bug

#1746 #1657 Expand email signature note
  docs/da/learn/getting-started/edit-email-signature.md
  docs/de/learn/getting-started/edit-email-signature.md
  docs/en/learn/getting-started/edit-email-signature.md
  docs/nl/learn/getting-started/edit-email-signature.md
  docs/no/learn/getting-started/edit-email-signature.md
  docs/sv/learn/getting-started/edit-email-signature.md
Labels: doc-enhancement, learn

#1749 Add 10.5.2 Onsite
  docs/en/onsite/version-history.md
Labels: onsite

#1748 Add 10.5.2 Online
  docs/en/online/version-history.md
Labels: doc-enhancement

#1750 #1679 update DP error/uninstall emails
  docs/en/developer-portal/best-practices/error-emails.md
  docs/en/developer-portal/media/error-reporting-emails.png
  docs/en/developer-portal/partner/media/partner-settings.png
  docs/en/developer-portal/partner/partner-settings.md
  docs/en/developer-portal/standard-app/app-store/app-settings.md
  docs/en/developer-portal/standard-app/app-store/update-app-page.md
Labels: online-dev, developer-portal

#1751 #1649 Add Windows Server 2025 compatibility
  docs/assets/downloads/compatibility/windows-server-2025.xlsx
  docs/en/onsite/compatibility/index.md
  docs/en/onsite/compatibility/media/windows-server-2025.jpg
  docs/en/onsite/compatibility/server-os.md
Labels: onsite

#1753 #1658 Fix DA translation bug
  docs/da/learn/getting-started/main-screen/navigator.md
  docs/da/marketing/flows/learn/step-settings.md
  docs/da/onsite/win-client/learn/using-document-templates-for-multiple-languages.md
  docs/da/project/learn/index.md
  docs/da/project/learn/project-guide/index.md
  docs/da/project/learn/screen/project-guide-admin.md
  docs/da/sale/learn/sales-guide/index.md
  docs/da/sale/learn/sales-guide/sales-guide-tab.md
Labels: doc-bug, translation, learn
