Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2025-08, with the labels that each got.

#2159 #2151 Remove tip about scanning QR code in mobile
  docs/da/search-options/learn/find-screen.md
  docs/en/mobile/superoffice-mobile/contact/scan-business-card.md
Labels: doc-enhancement, mobile

#2160 #2156 Update screenshots showing top bar + pages search-options index…
  docs/da/search-options/learn/find-screen.md
  docs/da/search-options/learn/freetext-search.md
  docs/da/search-options/learn/index.md
  docs/de/search-options/learn/find-screen.md
  docs/de/search-options/learn/freetext-search.md
  docs/de/search-options/learn/index.md
  docs/en/ai/configuration-ai/getting-started.md
  docs/en/ai/configuration-ai/media/selection-option.png
  docs/en/search-options/learn/find-screen.md
  docs/en/search-options/learn/freetext-search.md
  docs/en/search-options/learn/index.md
  docs/media/loc/en/search-options/choose-new-selection.png
  docs/media/loc/en/search-options/find-screen.png
  docs/media/loc/en/search-options/freetext-search-box.png
  docs/media/loc/en/search-options/freetext-search-find.png
  docs/media/loc/en/search-options/getstarted-search-find-findscreen.png
  docs/media/loc/en/search-options/search-find-fastsearcher.png
  docs/media/loc/en/search-options/typical-request-searches.png
  docs/nl/search-options/learn/find-screen.md
  docs/nl/search-options/learn/freetext-search.md
  docs/nl/search-options/learn/index.md
  docs/no/search-options/learn/find-screen.md
  docs/no/search-options/learn/freetext-search.md
  docs/no/search-options/learn/index.md
  docs/sv/search-options/learn/find-screen.md
  docs/sv/search-options/learn/freetext-search.md
  docs/sv/search-options/learn/index.md
Labels: doc-enhancement, learn

#2166 #2162 Appointment > Follow-up
  docs/da/learn/index.yml
  docs/de/learn/index.yml
  docs/en/diary/index.yml
  docs/en/learn/index.yml
  docs/en/project/index.yml
  docs/nl/learn/index.yml
  docs/no/learn/index.yml
  docs/sv/learn/index.yml
Labels: doc-bug, translation, learn

#2167 #2163 Merge same-type link lists
  docs/da/learn/customization.yml
  docs/de/learn/customization.yml
  docs/en/learn/customization.yml
  docs/nl/learn/customization.yml
  docs/no/learn/customization.yml
  docs/sv/learn/customization.yml
Labels: doc-bug, learn

#2171 #2164 Change wording button > link in Gmail Link settings
  docs/da/email/gmail-link/learn/settings.md
  docs/de/email/gmail-link/learn/settings.md
  docs/en/email/gmail-link/learn/settings.md
  docs/nl/email/gmail-link/learn/settings.md
  docs/no/email/gmail-link/learn/settings.md
  docs/sv/email/gmail-link/learn/settings.md
Labels: doc-bug, learn, email

#2172 #1989 Document reply tools
  docs/da/request/learn/create.md
  docs/da/request/learn/reply.md
  docs/de/request/learn/create.md
  docs/de/request/learn/reply.md
  docs/en/request/learn/create.md
  docs/en/request/learn/reply.md
  docs/media/loc/en/request/create-request.png
  docs/media/loc/en/request/insert-earlier-message.png
  docs/media/loc/en/request/insert-message-with-attachments.png
  docs/media/loc/en/request/insert-reply-template.png
  docs/media/loc/en/request/message-to-external.png
  docs/nl/request/learn/create.md
  docs/nl/request/learn/reply.md
  docs/no/request/learn/create.md
  docs/no/request/learn/reply.md
  docs/sv/request/learn/create.md
  docs/sv/request/learn/reply.md
Labels: doc-enhancement, service, learn

#2176 #2173 board view for projects and requests
  docs/da/search-options/selection/learn/board-view.md
  docs/de/search-options/selection/learn/board-view.md
  docs/en/search-options/selection/learn/board-view.md
  docs/nl/search-options/selection/learn/board-view.md
  docs/no/search-options/selection/learn/board-view.md
  docs/sv/search-options/selection/learn/board-view.md
Labels: doc-enhancement, learn

#2177 #1946 Add new ownership notification
  docs/da/learn/basics/notifications.md
  docs/de/learn/basics/notifications.md
  docs/en/learn/basics/notifications.md
  docs/nl/learn/basics/notifications.md
  docs/no/learn/basics/notifications.md
  docs/sv/learn/basics/notifications.md
Labels: doc-bug, doc-enhancement, learn

#2179 2158 11.3 release notes
  docs/media/loc/en/admin/admin-crmscript-trigger-load-request.png
  docs/media/loc/en/admin/admin-pref-global-anonymise-user.png
  docs/media/loc/en/admin/video-meetings-teams-prefer-direct-link.png
  docs/media/loc/en/contact/person-our-contact-no-selection.png
  docs/media/loc/en/diary/notification-settings-ownership-assigned.png
  docs/media/loc/en/diary/notifications-new-company-assigned.png
  docs/media/loc/en/diary/video-meetings-follow-up-direct-link.png
  docs/media/loc/en/learn/side-panel-preview-email-tasks.png
  docs/media/loc/en/marketing/marketing-flow-step-distribute-to-owner-drag-drop.png
  docs/media/loc/en/marketing/marketing-flow-step-distribute-to-owner-settings.png
  docs/media/loc/en/request/request-reply-anonymise-user.png
  docs/media/loc/en/search-options/find-our-contact-no-selection.png
  docs/media/loc/en/search-options/selection-board-view-project-preview.png
  docs/media/loc/en/search-options/selection-board-view-project.png
  release-notes/11/admin/11.3-update.md
  release-notes/11/admin/index.md
  release-notes/11/core-crm/11.3-update.md
  release-notes/11/core-crm/index.md
  release-notes/11/index.md
  release-notes/11/marketing/11.3-update.md
  release-notes/11/marketing/index.md
  release-notes/11/service/11.3-update.md
  release-notes/11/service/index.md
  release-notes/11/toc.yml
  release-notes/integrations/index.md
  release-notes/integrations/toc.yml
  release-notes/integrations/video-meetings/2.9-update.md
  release-notes/integrations/video-meetings/index.md
Labels: release-notes
