Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2025-06, with the labels that each got.

#1956 Added documentation files for the Workflow agent in CRMScript
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSEmailFlow.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowAgent.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowEvent.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowFilter.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowGoal.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowStepBase.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowStepOptionBase.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowTrigger.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowWaitForAction.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.WorkflowSplitOptionType.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.yml
  docs/en/automation/crmscript/reference/toc.yml
Labels: crmscript, automation, marketing

#1971 1926 11.1 release notes
  docs/media/loc/en/admin/admin-system-design-field-properties-read-only.png
  docs/media/loc/en/request/requests-add-contact.png
  release-notes/10.5/index.md
  release-notes/10.5/toc.yml
  release-notes/11/admin/11.1-update.md
  release-notes/11/admin/index.md
  release-notes/11/api/index.md
  release-notes/11/index.md
  release-notes/11/service/11.1-update.md
  release-notes/11/service/index.md
  release-notes/11/toc.yml
  release-notes/index.md
  release-notes/integrations/index.md
  release-notes/integrations/toc.yml
  release-notes/toc.yml
Labels: release-notes

#1980 Translate SuperOffice Inbox to DE
  docs/de/email/inbox/learn/archive.md
  docs/de/email/inbox/learn/compose.md
  docs/de/email/inbox/learn/create-request.md
  docs/de/email/inbox/learn/create-task.md
  docs/de/email/inbox/learn/inbox-options.md
  docs/de/email/inbox/learn/includes/add-contact-opens.md
  docs/de/email/inbox/learn/index.md
  docs/de/email/inbox/learn/invitations.md
  docs/de/email/inbox/learn/manage-senders.md
  docs/de/email/inbox/learn/mark-as-read.md
  docs/de/email/inbox/learn/move-email-to-folder.md
  docs/de/email/inbox/learn/preview.md
  docs/de/email/inbox/learn/print.md
  docs/de/email/inbox/learn/setup.md
  docs/de/email/inbox/learn/toc.yml
  docs/de/email/learn/compose.md
  docs/de/email/learn/includes/howto-compose-email.md
  docs/de/email/learn/index.md
  docs/de/email/learn/toc.yml
  docs/de/learn/basics/activity.md
  docs/de/learn/basics/print.md
  docs/de/learn/getting-started/connect-email-doc/default-mac.md
  docs/de/learn/getting-started/connect-email-doc/default-win.md
  docs/de/learn/getting-started/connect-email-doc/google-workspace.md
  docs/de/learn/getting-started/connect-email-doc/microsoft-365.md
  docs/de/learn/index.yml
  docs/de/webtools/learn/index.md
  docs/en/email/inbox/learn/compose.md
  docs/en/email/inbox/learn/index.md
  docs/en/learn/basics/activity.md
  docs/en/learn/index.yml
  docs/no/email/inbox/learn/compose.md
  docs/no/email/inbox/learn/index.md
Labels: translation, learn, email

#1981 Translate SuperOffice inbox 10.5 to DA #1973
  docs/da/email/inbox/learn/archive.md
  docs/da/email/inbox/learn/compose.md
  docs/da/email/inbox/learn/create-request.md
  docs/da/email/inbox/learn/create-task.md
  docs/da/email/inbox/learn/inbox-options.md
  docs/da/email/inbox/learn/includes/add-contact-opens.md
  docs/da/email/inbox/learn/index.md
  docs/da/email/inbox/learn/invitations.md
  docs/da/email/inbox/learn/manage-senders.md
  docs/da/email/inbox/learn/mark-as-read.md
  docs/da/email/inbox/learn/move-email-to-folder.md
  docs/da/email/inbox/learn/preview.md
  docs/da/email/inbox/learn/print.md
  docs/da/email/inbox/learn/setup.md
  docs/da/email/inbox/learn/toc.yml
  docs/da/email/learn/compose.md
  docs/da/email/learn/includes/howto-compose-email.md
  docs/da/email/learn/index.md
  docs/da/email/learn/toc.yml
  docs/da/learn/basics/activity.md
  docs/da/learn/basics/print.md
  docs/da/learn/getting-started/connect-email-doc/default-mac.md
  docs/da/learn/getting-started/connect-email-doc/default-win.md
  docs/da/learn/getting-started/connect-email-doc/google-workspace.md
  docs/da/learn/getting-started/connect-email-doc/microsoft-365.md
  docs/da/learn/index.yml
  docs/da/webtools/learn/index.md
  docs/de/email/learn/toc.yml
Labels: translation, learn, email

#1996 #1993 Remove embedded Service YT
  docs/da/request/learn/index.md
  docs/de/request/learn/index.md
  docs/en/request/learn/index.md
  docs/nl/request/learn/index.md
  docs/no/request/learn/index.md
  docs/sv/request/learn/index.md
Labels: doc-bug, service, learn

#1997 #1992 Add keyword sofo
  docs/da/email/superoffice-for-outlook/learn/add-contact-to-superoffice.md
  docs/da/email/superoffice-for-outlook/learn/add-crm-data-to-event.md
  docs/da/email/superoffice-for-outlook/learn/create-follow-up.md
  docs/da/email/superoffice-for-outlook/learn/create-request.md
  docs/da/email/superoffice-for-outlook/learn/create-sale.md
  docs/da/email/superoffice-for-outlook/learn/get.md
  docs/da/email/superoffice-for-outlook/learn/index.md
  docs/da/email/superoffice-for-outlook/learn/requirements.md
  docs/da/email/superoffice-for-outlook/learn/save-to-superoffice.md
  docs/de/email/superoffice-for-outlook/learn/add-contact-to-superoffice.md
  docs/de/email/superoffice-for-outlook/learn/add-crm-data-to-event.md
  docs/de/email/superoffice-for-outlook/learn/create-follow-up.md
  docs/de/email/superoffice-for-outlook/learn/create-request.md
  docs/de/email/superoffice-for-outlook/learn/create-sale.md
  docs/de/email/superoffice-for-outlook/learn/get.md
  docs/de/email/superoffice-for-outlook/learn/index.md
  docs/de/email/superoffice-for-outlook/learn/requirements.md
  docs/de/email/superoffice-for-outlook/learn/save-to-superoffice.md
  docs/en/email/superoffice-for-outlook/it/deploy.md
  docs/en/email/superoffice-for-outlook/learn/add-contact-to-superoffice.md
  docs/en/email/superoffice-for-outlook/learn/add-crm-data-to-event.md
  docs/en/email/superoffice-for-outlook/learn/create-follow-up.md
  docs/en/email/superoffice-for-outlook/learn/create-request.md
  docs/en/email/superoffice-for-outlook/learn/create-sale.md
  docs/en/email/superoffice-for-outlook/learn/get.md
  docs/en/email/superoffice-for-outlook/learn/index.md
  docs/en/email/superoffice-for-outlook/learn/requirements.md
  docs/en/email/superoffice-for-outlook/learn/save-to-superoffice.md
  docs/nl/email/superoffice-for-outlook/learn/add-contact-to-superoffice.md
  docs/nl/email/superoffice-for-outlook/learn/add-crm-data-to-event.md
  docs/nl/email/superoffice-for-outlook/learn/create-follow-up.md
  docs/nl/email/superoffice-for-outlook/learn/create-request.md
  docs/nl/email/superoffice-for-outlook/learn/create-sale.md
  docs/nl/email/superoffice-for-outlook/learn/get.md
  docs/nl/email/superoffice-for-outlook/learn/index.md
  docs/nl/email/superoffice-for-outlook/learn/requirements.md
  docs/nl/email/superoffice-for-outlook/learn/save-to-superoffice.md
  docs/no/email/superoffice-for-outlook/learn/add-contact-to-superoffice.md
  docs/no/email/superoffice-for-outlook/learn/add-crm-data-to-event.md
  docs/no/email/superoffice-for-outlook/learn/create-follow-up.md
  docs/no/email/superoffice-for-outlook/learn/create-request.md
  docs/no/email/superoffice-for-outlook/learn/create-sale.md
  docs/no/email/superoffice-for-outlook/learn/get.md
  docs/no/email/superoffice-for-outlook/learn/index.md
  docs/no/email/superoffice-for-outlook/learn/requirements.md
  docs/no/email/superoffice-for-outlook/learn/save-to-superoffice.md
  docs/sv/email/superoffice-for-outlook/learn/add-contact-to-superoffice.md
  docs/sv/email/superoffice-for-outlook/learn/add-crm-data-to-event.md
  docs/sv/email/superoffice-for-outlook/learn/create-follow-up.md
  docs/sv/email/superoffice-for-outlook/learn/create-request.md
  docs/sv/email/superoffice-for-outlook/learn/create-sale.md
  docs/sv/email/superoffice-for-outlook/learn/get.md
  docs/sv/email/superoffice-for-outlook/learn/index.md
  docs/sv/email/superoffice-for-outlook/learn/requirements.md
  docs/sv/email/superoffice-for-outlook/learn/save-to-superoffice.md
Labels: doc-enhancement, learn

#2007 #1735 Remove English name step from country list
  docs/da/admin/lists/learn/add-items-to-country-list.md
  docs/de/admin/lists/learn/add-items-to-country-list.md
  docs/en/admin/lists/learn/add-items-to-country-list.md
  docs/nl/admin/lists/learn/add-items-to-country-list.md
  docs/nl/admin/lists/learn/includes/note-mandatory-field.md
  docs/no/admin/lists/learn/add-items-to-country-list.md
  docs/sv/admin/lists/learn/add-items-to-country-list.md
Labels: doc-bug

#2009 #1653 State where to find preference
  docs/da/sale/learn/create.md
  docs/da/sale/learn/index.md
  docs/de/sale/learn/create.md
  docs/de/sale/learn/index.md
  docs/en/sale/learn/create.md
  docs/en/sale/learn/index.md
  docs/nl/sale/learn/create.md
  docs/nl/sale/learn/index.md
  docs/no/sale/learn/create.md
  docs/no/sale/learn/index.md
  docs/sv/sale/learn/create.md
  docs/sv/sale/learn/index.md
Labels: doc-enhancement, learn

#2011 #1652 Explain too many bounces
  docs/da/marketing/recipients/learn/manage-bounces.md
  docs/de/marketing/recipients/learn/manage-bounces.md
  docs/en/marketing/recipients/learn/manage-bounces.md
  docs/nl/marketing/recipients/learn/manage-bounces.md
  docs/no/marketing/recipients/learn/manage-bounces.md
  docs/sv/marketing/recipients/learn/manage-bounces.md
Labels: doc-enhancement, learn, marketing

#2003 #1642 board view on selections
  docs/da/search-options/selection/learn/board-view.md
  docs/da/search-options/selection/learn/toc.yml
  docs/de/search-options/selection/learn/board-view.md
  docs/de/search-options/selection/learn/toc.yml
  docs/en/search-options/selection/learn/board-view.md
  docs/en/search-options/selection/learn/toc.yml
  docs/media/loc/en/search-options/board-view-card-edit-icon.png
  docs/media/loc/en/search-options/board-view-card-task-menu.png
  docs/media/loc/en/search-options/board-view-filter-on-sale-type.png
  docs/media/loc/en/search-options/board-view-filter-toolbar.png
  docs/media/loc/en/search-options/board-view-preview-contact-on-hover.png
  docs/media/loc/en/search-options/board-view-settings-filter.png
  docs/media/loc/en/search-options/board-view-settings-group-by.png
  docs/media/loc/en/search-options/board-view-settings.png
  docs/media/loc/en/search-options/board-view-summarized-sale-amount-per-column.png
  docs/media/loc/en/search-options/board-view-toggle.png
  docs/media/loc/en/search-options/board-view-with-sale-card.png
  docs/media/loc/en/search-options/board-view-with-side-panel.png
  docs/media/loc/en/search-options/board-view.png
  docs/nl/search-options/selection/learn/board-view.md
  docs/nl/search-options/selection/learn/toc.yml
  docs/no/search-options/selection/learn/board-view.md
  docs/no/search-options/selection/learn/toc.yml
  docs/sv/search-options/selection/learn/board-view.md
  docs/sv/search-options/selection/learn/toc.yml
Labels: learn

#2016 #2015 Insert yamlMime property
  blueprint-templates/category-page/index.yml
  blueprint-templates/subcategory-page/index.yml
  docs/da/learn/administration.yml
  docs/da/learn/customization.yml
  docs/da/learn/index.yml
  docs/de/learn/administration.yml
  docs/de/learn/customization.yml
  docs/de/learn/index.yml
  docs/en/api/authentication/index.yml
  docs/en/api/index.yml
  docs/en/automation/crmscript/index.yml
  docs/en/automation/index.yml
  docs/en/company/index.yml
  docs/en/contact/index.yml
  docs/en/custom-objects/index.yml
  docs/en/customer-center/index.yml
  docs/en/database/index.yml
  docs/en/developer-portal/index.yml
  docs/en/diary/index.yml
  docs/en/document/cloud/index.yml
  docs/en/document/index.yml
  docs/en/email/index.yml
  docs/en/email/mailgun/index.yml
  docs/en/identity-management/index.yml
  docs/en/identity-management/scim/index.yml
  docs/en/identity-management/superid/index.yml
  docs/en/learn/administration.yml
  docs/en/learn/customization.yml
  docs/en/learn/index.yml
  docs/en/mirroring/index.yml
  docs/en/mobile/index.yml
  docs/en/online/index.yml
  docs/en/onsite/index.yml
  docs/en/onsite/install/index.yml
  docs/en/project/index.yml
  docs/en/request/index.yml
  docs/en/sale/index.yml
  docs/en/search-options/index.yml
  docs/en/security/index.yml
  docs/en/service/index.yml
  docs/en/ui/blogic/index.yml
  docs/en/ui/index.yml
  docs/en/ui/web-app/index.yml
  docs/nl/learn/administration.yml
  docs/nl/learn/customization.yml
  docs/nl/learn/index.yml
  docs/no/learn/administration.yml
  docs/no/learn/customization.yml
  docs/no/learn/index.yml
  docs/sv/learn/administration.yml
  docs/sv/learn/customization.yml
  docs/sv/learn/index.yml
Labels: docs/build

#2037 #2036 Remove duplicate frontmatter properties
  docs/de/diary/learn/recurrence/create.md
  docs/en/admin/user-preferences/reference/netservices.md
  docs/en/automation/crmscript/howto/contact/get-interests.md
  docs/en/automation/webhook/reference/index.md
  docs/en/diary/learn/recurrence/stop.md
  docs/en/travel/sybase/set-up.md
  docs/en/ui/soprotocol/index.md
Labels: doc-bug

#2039 #2038 Fix line length errors (MD013)
  docs/en/admin/user-preferences/add-prefdesc.md
  docs/en/api/lists/services/mdoagent/mdo-how-to.md
  docs/en/api/lists/sql/add-list-item-sql.md
  docs/en/api/logging/configure-serilog.md
  docs/en/api/plugins/quote-connectors/adding-products.md
  docs/en/api/plugins/quote-connectors/start-client.md
  docs/en/api/web-services/howto/custom-objects/rest-create-udef-field.md
  docs/en/ui/web-app/tutorials/ajax-create-followup/index.md
  docs/en/ui/web-panels/add-web-panel.md
Labels: doc-bug
