Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2025-01, with the labels that each got.

#1631 1607 10.5.1 release notes
  docs/media/loc/en/admin/admin-oc-feature-labs-ai-lab-consent.png
  docs/media/loc/en/admin/admin-oc-feature-labs.png
  docs/media/loc/en/admin/admin-status-feature-labs.png
  docs/media/loc/en/company/company-screen-new-ui.png
  docs/media/loc/en/contact/contact-card-edit-task-buttons.png
  docs/media/loc/en/dashboard/dashboard-edit-button.png
  docs/media/loc/en/diary/ai-options-casual-style-formatted-text-field.png
  docs/media/loc/en/diary/ai-options-formatted-text-field.png
  docs/media/loc/en/diary/core-new-button.png
  docs/media/loc/en/diary/diary-to-do-list-drag-and-drop.png
  docs/media/loc/en/diary/diary-view-preview-timeline.png
  docs/media/loc/en/learn/in-app-resource-centre-drop-down.png
  docs/media/loc/en/learn/preferences-diary-to-do-lists.png
  docs/media/loc/en/learn/side-panel-favourites.png
  docs/media/loc/en/learn/top-bar-in-app-resource-centre-button.png
  docs/media/loc/en/search-options/freetext-search-result-list.png
  docs/media/loc/en/search-options/top-bar-freetext-search.png
  release-notes/10.3/core-crm/index.md
  release-notes/10.5/admin/10.5.1-update.md
  release-notes/10.5/admin/index.md
  release-notes/10.5/api/10.5.1-update.md
  release-notes/10.5/api/includes/changes-10.5.1.649.md
  release-notes/10.5/api/index.md
  release-notes/10.5/core-crm/10.5.1-update.md
  release-notes/10.5/core-crm/index.md
  release-notes/10.5/index.md
  release-notes/10.5/office-integrations/index.md
  release-notes/10.5/office-integrations/sofo-6.0-update.md
  release-notes/10.5/toc.yml
  release-notes/index.md
  release-notes/media/expand-toc.png
  release-notes/media/filter-toc.png
  release-notes/media/in-this-article.png
  release-notes/media/whats-new.png
  release-notes/toc.yml
Labels: release-notes

#1646 Update index.md
  docs/en/online/sandbox/index.md
Labels: doc-enhancement, developer-portal

#1638 Icons auto update 20250120.1
  common/icons/check-h32.png
  common/icons/check.png
  common/icons/refresh-icon-h32.png
  common/icons/refresh-icon.png
Labels: icons

#1647 Update Onsite version history
  docs/en/onsite/version-history.md
Labels: onsite

#1648 Update Online versions
  docs/en/online/version-history.md
Labels: doc-enhancement

#1670 Update CRMScript.NetServer.NSUser.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSUser.yml
Labels: crmscript

#1671 Update CRMScript.Native.Email.yml
  docs/en/automation/crmscript/reference/CRMScript.Native.Email.yml
Labels: doc-enhancement, crmscript

#1680 #1662 Add DP Logs page
  docs/en/developer-portal/analytics/logs.md
  docs/en/developer-portal/analytics/media/log-details.png
  docs/en/developer-portal/analytics/media/logs-partner.png
  docs/en/developer-portal/toc.yml
Labels: doc-enhancement, online-dev, developer-portal
