Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2025-09, with the labels that each got.

#2196 Removed appointmenttask_name and added tasktype in documentation
  docs/en/ui/soprotocol/howto/create-follow-up.md
Labels: user-interface

#2203 #2191 Delete legacy SharePoint 1 section
  docs/en/document/cloud/index.yml
  docs/en/document/cloud/legacy/office-365/includes/deprecated.md
  docs/en/document/cloud/legacy/office-365/index.md
  docs/en/document/cloud/legacy/office-365/media/addusers.png
  docs/en/document/cloud/legacy/office-365/media/appmanagepermissions.png
  docs/en/document/cloud/legacy/office-365/media/creategroup.png
  docs/en/document/cloud/legacy/office-365/media/givegrouppermissions.png
  docs/en/document/cloud/legacy/office-365/media/image18cb.png
  docs/en/document/cloud/legacy/office-365/media/image4e5im.png
  docs/en/document/cloud/legacy/office-365/media/image61nqk.png
  docs/en/document/cloud/legacy/office-365/media/image69pt4.png
  docs/en/document/cloud/legacy/office-365/media/image6e0ta.png
  docs/en/document/cloud/legacy/office-365/media/image8ses9u.png
  docs/en/document/cloud/legacy/office-365/media/imagebnc9j.png
  docs/en/document/cloud/legacy/office-365/media/imagebx1f.png
  docs/en/document/cloud/legacy/office-365/media/imagedtyeq.png
  docs/en/document/cloud/legacy/office-365/media/imagekoepi.png
  docs/en/document/cloud/legacy/office-365/media/imagela1cd.png
  docs/en/document/cloud/legacy/office-365/media/imagem7t19.png
  docs/en/document/cloud/legacy/office-365/media/imageqvkbj.png
  docs/en/document/cloud/legacy/office-365/media/imagerlog.png
  docs/en/document/cloud/legacy/office-365/media/imagesgm93.png
  docs/en/document/cloud/legacy/office-365/media/imagetrxas.png
  docs/en/document/cloud/legacy/office-365/media/imageu49ea.png
  docs/en/document/cloud/legacy/office-365/media/imageujv6m.png
  docs/en/document/cloud/legacy/office-365/media/imagev7ojr.png
  docs/en/document/cloud/legacy/office-365/media/imageydark.png
  docs/en/document/cloud/legacy/office-365/media/imagezfo3m.png
  docs/en/document/cloud/legacy/office-365/media/imagezj6n.png
  docs/en/document/cloud/legacy/office-365/media/o365appadded.png
  docs/en/document/cloud/legacy/office-365/media/o365contenttypeadvanced.png
  docs/en/document/cloud/legacy/office-365/media/o365createdocumentcontenttype.png
  docs/en/document/cloud/legacy/office-365/media/o365createnewtemplate.png
  docs/en/document/cloud/legacy/office-365/media/o365customscripts.png
  docs/en/document/cloud/legacy/office-365/media/o365erroraccessdenied.png
  docs/en/document/cloud/legacy/office-365/media/o365errorcreatedocument.png
  docs/en/document/cloud/legacy/office-365/media/o365rootsitecollection.png
  docs/en/document/cloud/legacy/office-365/media/o365sitecontenttypes.png
  docs/en/document/cloud/legacy/office-365/media/o365sitesettingscreatecontenttypes.png
  docs/en/document/cloud/legacy/office-365/media/setsitesettings.png
  docs/en/document/cloud/legacy/office-365/media/setsitesettings2.png
  docs/en/document/cloud/legacy/office-365/media/siesettings.png
  docs/en/document/cloud/legacy/office-365/media/sign-in.png
  docs/en/document/cloud/legacy/office-365/media/sitecontents.png
  docs/en/document/cloud/legacy/office-365/media/trustagain.png
  docs/en/document/cloud/legacy/office-365/prepare-sharepoint.md
  docs/en/document/cloud/legacy/office-365/requirements.md
  docs/en/document/cloud/legacy/office-365/security.md
  docs/en/document/cloud/legacy/office-365/set-up.md
  docs/en/document/cloud/legacy/office-365/troubleshooting.md
  docs/en/document/cloud/sharepoint-documents/index.md
  docs/en/document/toc.yml
  docs/en/security/index.yml
Labels: integration, document

#2230 Create find-request.md
  integrations/zapier/howto/find-company.md
  integrations/zapier/howto/find-request.md
  integrations/zapier/howto/media/create-zap.png
  integrations/zapier/howto/media/find-request-window.png
  integrations/zapier/howto/media/new-zap-window.png
  integrations/zapier/howto/media/retrieved-request.png
  integrations/zapier/howto/media/search-for-create-request-action.png
  integrations/zapier/howto/media/search-superoffice-in-zapier.png
  integrations/zapier/toc.yml
Labels: automation, integration

#2275 2145 11.4 release notes
  docs/media/loc/en/company/company-contact-context-menu-new-request.png
  docs/media/loc/en/mobile/mobile-crm-follow-up-video-link.png
  docs/media/loc/en/mobile/mobile-crm-project-links.png
  docs/media/loc/en/search-options/selection-board-view-request-edit.png
  docs/media/loc/en/search-options/selection-board-view-request.png
  docs/media/loc/en/ui/test-environment-admin.png
  docs/media/loc/en/ui/test-environment-crm.png
  release-notes/11/core-crm/11.4-update.md
  release-notes/11/core-crm/index.md
  release-notes/11/index.md
  release-notes/11/marketing/11.3-update.md
  release-notes/11/service/11.4-update.md
  release-notes/11/service/index.md
  release-notes/11/toc.yml
  release-notes/index.md
  release-notes/integrations/index.md
  release-notes/mobile/11.1.0-update.md
  release-notes/mobile/11.1.2-update.md
  release-notes/mobile/index.md
  release-notes/mobile/toc.yml
Labels: release-notes

#2285 Icons auto update 20250922.1
  common/icons/chart-line-area-h32.png
  common/icons/chart-line-area.png
  common/icons/flags/flags-morocco-h32.png
  common/icons/flags/flags-morocco.png
  common/icons/funnel-h32.png
  common/icons/funnel.png
Labels: icons

#2291 #2271 Update FAQ screenshots
  docs/media/loc/en/faq/create-publish-faq.png
  docs/media/loc/en/faq/faq-create.png
Labels: doc-enhancement, service, learn

#2293 Update find-request.md
  integrations/zapier/howto/find-request.md
Labels: doc-enhancement, integration
