Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2025-05, with the labels that each got.

#1882 Update initial-watchcom-eval.md
  docs/en/developer-portal/standard-app/certification/initial-watchcom-eval.md
Labels: doc-enhancement, online-dev

#1883 Update index.md
  docs/en/api/authentication/online/index.md
Labels: online-dev, developer-portal

#1881 #1880 new section for publishing widget
  docs/en/developer-portal/widgets/index.md
  docs/en/developer-portal/widgets/media/publishing-widget.png
Labels: doc-enhancement, online-dev, developer-portal

#1885 1864 10.5.5 release notes
  docs/media/loc/en/automation/crmscript-add-text-area.png
  docs/media/loc/en/automation/crmscript-class-map-list.png
  docs/media/loc/en/diary/diary-all-day-follow-up.png
  docs/media/loc/en/request/request-list-read-column.png
  docs/media/loc/en/ui/screendesigner-request-edit-quick-actions.png
  release-notes/10.5/admin/10.5.1-update.md
  release-notes/10.5/admin/10.5.5-update.md
  release-notes/10.5/admin/index.md
  release-notes/10.5/core-crm/10.5.1-update.md
  release-notes/10.5/core-crm/10.5.5-update.md
  release-notes/10.5/core-crm/index.md
  release-notes/10.5/index.md
  release-notes/10.5/service/10.5.3-update.md
  release-notes/10.5/service/10.5.5-update.md
  release-notes/10.5/service/index.md
  release-notes/10.5/toc.yml
  release-notes/index.md
Labels: release-notes

#1899 1898 add documentation for videomeetings
  docs/en/api/toc.yml
  docs/en/api/web-services/howto/diary/index.md
  docs/en/api/web-services/howto/diary/rest-create-videomeeting.md
  docs/en/api/web-services/howto/diary/rest-delete-videomeeting.md
  docs/en/api/web-services/howto/index.md
Labels: sample-idea

#1912 #1908 Update name of tile
  docs/da/sale/learn/forecasting.md
  docs/de/sale/learn/forecasting.md
  docs/en/sale/learn/forecasting.md
  docs/nl/sale/learn/forecasting.md
  docs/no/sale/learn/forecasting.md
  docs/sv/sale/learn/forecasting.md
Labels: doc-bug

#1914 #1913 Remove inbox set-up video
  docs/da/email/inbox/learn/setup.md
  docs/de/email/inbox/learn/setup.md
  docs/en/email/inbox/learn/setup.md
  docs/nl/email/inbox/learn/setup.md
  docs/no/email/inbox/learn/setup.md
  docs/sv/email/inbox/learn/setup.md
Labels: doc-bug, learn

#1941 Updated reference to Mirroring on nuget.org
  docs/en/mirroring/getting-started/index.md
Labels: doc-enhancement

#1944 Merge the pages for creating a contact and redirected all pages to th…
  docs/en/api/toc.yml
  docs/en/api/web-services/endpoints/agents-webapi/index.md
  docs/en/api/web-services/endpoints/rest-webapi/index.md
  docs/en/api/web-services/howto/company/create-contact-rest.md
  docs/en/api/web-services/howto/company/create-contact-services.md
  docs/en/api/web-services/howto/company/create-contact-webapi-agents.md
  docs/en/api/web-services/howto/company/create-contact.md
  docs/en/api/web-services/howto/company/includes/create-contact-services.cs
  docs/en/api/web-services/howto/company/index.md
  docs/en/company/howto/services/create-contact-rest.md
  docs/en/company/howto/services/create-contact-services.md
  docs/en/company/howto/services/create-contact-webapi-agents.md
  docs/en/company/reference/index.md
Labels: doc-enhancement, rest-api

#1937 Added new yml files for intellisense for the Workflow agent in CRMScript
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSEmailFlow.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowAgent.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowEvent.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowFilter.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowGoal.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowStepBase.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowStepOptionBase.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowTrigger.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSWorkflowWaitForAction.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.yml
  docs/en/automation/crmscript/reference/toc.yml
Labels: crmscript
