Repository SuperOfficeDocs/superoffice-docs, pull requests merged in 2025-03, with the labels that each got.

#1756 Update federated-auth.md
  docs/en/identity-management/federated-auth.md
Labels: broken-link, doc-enhancement, auth

#1778 #1777 Change drag-and-drop key
  docs/da/diary/learn/create-follow-up.md
  docs/de/diary/learn/create-follow-up.md
  docs/en/diary/learn/create-follow-up.md
  docs/nl/diary/learn/create-follow-up.md
  docs/no/diary/learn/create-follow-up.md
  docs/sv/diary/learn/create-follow-up.md
Labels: doc-enhancement, learn

#1779 #1776 Add tip and pref section to Request
  docs/da/request/learn/howto/reply.md
  docs/da/request/learn/index.md
  docs/de/request/learn/index.md
  docs/de/request/learn/reply.md
  docs/en/request/learn/index.md
  docs/en/request/learn/reply.md
  docs/nl/request/learn/howto/reply.md
  docs/nl/request/learn/index.md
  docs/no/request/learn/index.md
  docs/no/request/learn/reply.md
  docs/sv/request/learn/index.md
  docs/sv/request/learn/reply.md
Labels: service, learn

#1781 #1775 describe alternative Add request
  docs/da/learn/section-tabs/requests-tab.md
  docs/da/request/learn/howto/create.md
  docs/de/learn/section-tabs/requests-tab.md
  docs/de/request/learn/create.md
  docs/en/learn/section-tabs/requests-tab.md
  docs/en/request/learn/create.md
  docs/media/loc/en/company/requests-detail.png
  docs/nl/learn/section-tabs/requests-tab.md
  docs/nl/request/learn/howto/create.md
  docs/no/learn/section-tabs/requests-tab.md
  docs/no/request/learn/create.md
  docs/sv/learn/section-tabs/requests-tab.md
  docs/sv/request/learn/create.md
Labels: service, learn

#1759 1747 10.5.3 release notes
  docs/media/loc/en/dashboard/dashboard-drill-down-tile-export.png
  docs/media/loc/en/request/requests-add-button-requests-section-tab.png
  release-notes/10.5/core-crm/10.5.3-update.md
  release-notes/10.5/core-crm/index.md
  release-notes/10.5/index.md
  release-notes/10.5/service/10.5.3-update.md
  release-notes/10.5/service/index.md
  release-notes/10.5/toc.yml
  release-notes/index.md
Labels: release-notes

#1790 Update deploy to remove customized section
  docs/en/email/superoffice-for-outlook/it/deploy.md
Labels: integration

#1798 Add 10.5.3 Onsite
  docs/en/onsite/version-history.md
Labels: onsite

#1800 Update ZFP mig BP
  docs/en/document/cloud/sharepoint-documents/migrate/index.md
Labels: integration

#1820 #1651 Update ownership table
  docs/da/admin/user-management/learn/role/set-data-rights-for-role.md
  docs/de/admin/user-management/learn/role/set-data-rights-for-role.md
  docs/en/admin/user-management/learn/role/set-data-rights-for-role.md
  docs/nl/admin/user-management/learn/role/set-data-rights-for-role.md
  docs/no/admin/user-management/learn/role/set-data-rights-for-role.md
  docs/sv/admin/user-management/learn/role/set-data-rights-for-role.md
Labels: doc-bug, learn

#1815 Update CRMScript.NetServer.NSTicketEntity.yml
  docs/en/automation/crmscript/reference/CRMScript.NetServer.NSTicketEntity.yml
Labels: doc-bug, crmscript

#1819 #1708 #1562 describe SCIM user selection and property updates
  docs/en/identity-management/scim/scim-rules.md
Labels: doc-enhancement, integration, identity-mgt

#1829 Add files via upload
  docs/en/identity-management/superid/howto/media/choose-idp-green.png
  docs/en/identity-management/superid/howto/media/confirm-all-users-google-green.png
  docs/en/identity-management/superid/howto/media/confirm-all-users-o365-green.png
  docs/en/identity-management/superid/howto/media/confirmation-green.png
  docs/en/identity-management/superid/howto/media/o365permissions1-green.png
  docs/en/identity-management/superid/howto/media/o365permissions2-green.png
  docs/en/identity-management/superid/howto/media/o365signin1-green.png
  docs/en/identity-management/superid/howto/media/o365signin2-green.png
  docs/en/identity-management/superid/howto/media/signin-domain-green.png
  docs/en/identity-management/superid/howto/register-idp.md
Labels: doc-enhancement, integration
